[2021-08-23 16:55] Marcono1234 commented on #1549
Would it be possible to adjust the GitHub workflow to detect such things? That is, `"android-screnshots"` ([sic]) may only refer to screenshots under `/android` and `"ios-screnshots"` may only refer to screenshots under `/ios`.

Similarly it might make sense to verify that the German screenshot JSONs only refer to `/de` and the English ones only to `/en` (though it appears there is no issue with t

[2021-08-23 17:03] Ein-Tim commented on #1549
@Marcono1234 Sometimes we replace broke/outdated/wrong screenshots from one os with a screenshot from another os, so this workflow should give a warning but not block the merge or similar.

[2021-08-23 17:03] Ein-Tim commented on #1549
Btw do you want to address the typo "screnshots"?

[2021-08-23 17:33] Marcono1234 commented on #1549
Created #1661 for this.

[2021-08-23 17:49] Marcono1234 opened #1662 "`package-lock.json` is missing some `resolved` and `integrity` values"
## Your Question
There are two cases in the `package-lock.json` where the `resolved` and `integrity` values are missing:
https://github.com/corona-warn-app/cwa-website/blob/4142215c9b3b742480ba5f3446cbedd7843d7833/package-lock.json#L4372
https://github.com/corona-warn-app/cwa-website/blob/4142215c9b3b742480ba5f3446cbedd7843d7833/package-lock.json#L13274

It appears #1499 made this change, but I co

[2021-08-23 19:58] Marcono1234 commented on #1549
Maybe this could be implemented as combination of [annotations](https://github.community/t/annotations-how-to-create-them/18387/2) and a generated comment on a pull request (annotations on their own are easy to miss, they don't appear on the pull request). Though this might be somewhat tricky to implement.

[2021-08-24 09:10] MikeMcC399 commented on #1662
@Marcono1234

It seems that
`npm audit fix`
can cause this change.

I've tended to use
`npm ci`
on a clone of the repository instead of
`npm install`

and then if there are any issues with `package.json` I've requested the Open Source Team in the past to update and test, so that we're are synced.

Do you think that the differences you noticed will have any negative effect? I'm using npm 6.14.13. W

[2021-08-24 14:30] MikeMcC399 commented on #639
@dsarkar
You wrote some months ago:

however there has been no change since then to the text about Android version 5.0:

[Google/Android]: Why are Android 6 and Google Play Services minimum requirements?
https://www.coronawarn.app/en/faq/#googleplay

[Google/Android]: Warum sind Android 6 und Google Play-Dienste Mindestvoraussetzungen?
https://www.coronawarn.app/de/faq/#googleplay

I don't think t

[2021-08-24 14:37] MikeMcC399 commented on #712
@heinezen / @dsarkar

Could this information about the meaning of dB levels be added to the FAQs or perhaps now to the FAQ glossary?

63-73 is far away
55-63 is mid-range
<55 is very close

[2021-08-24 16:47] MikeMcC399 commented on #882
There is nobody assigned to this issue. Considering that the FAQs can be expected to be viewed on a mobile device, there ought to be at least some evaluation of whether this issue can be solved (for instance by making the menu sidebar scrollable).

[2021-08-24 21:43] Marcono1234 commented on #1662
I am not completely sure if `resolved` is actually still used, see [this StackOverflow answer](https://stackoverflow.com/a/53827243).
I assume `integrity` might help with detecting corrupted downloads and maybe also prevent attackers from forging packages, though this is rather unlikely since it would require them to perform a MITM attack on a HTTPS connection or take over the npm registry.
Note t

[2021-08-25 07:17] MikeMcC399 commented on #1549
To return to the original problem: the Android screenshots are missing.

I looked at the Android app, and theses screenshots are not being generated automatically, so the Android app needs to be enhanced to generate them.

I would expect to find a module `ValidationStartFragmentTest.kt` to produce screenshots from `ValidationStartFragment.kt`. I would also expect to find screenshots which start wi

[2021-08-25 08:51] dsarkar commented on #1549
@MikeMcC399 Has not been assigned to any dev currently.

[2021-08-25 16:18] MikeMcC399 opened #1669 "Non-working link to #background / #Hintergrund"
## Where to find the issue

- https://www.coronawarn.app/en/ section "This is how the app works best"<br>...<br>3. [Keep background updates switched on and check them regularly](https://www.coronawarn.app/en/faq/#background)

- https://www.coronawarn.app/en/ section "So funktioniert die App am besten"<br>...<br>3. [Hintergrundaktualisierung immer einschalten und kontrollieren](https://www.coronawa

[2021-08-25 16:32] Ein-Tim commented on #1669
@MikeMcC399 I have no idea why it was causing problems but as you can see in my PR there was a problem because instead of jumping to the section "Background Updates" the FAQ searched for "background_updates" (which lead to no results).

I think I remember that it worked locally but not on coronawarn.app, but I'd suggest you change it back and we give it a try, if it works that's great, if not we c

[2021-08-27 09:49] MikeMcC399 opened #1673 "Make bookmarking glossary entries easier"
## Where to find the issue

https://www.coronawarn.app/en/faq/#glossary "Glossary"
https://www.coronawarn.app/de/faq/#glossary "Glossar"

## Describe the issue

This is an enhancement request.

PR https://github.com/corona-warn-app/cwa-website/pull/1672 "Glossary anchors introduced bookmarks for glossary entries e.g. the URL https://www.coronawarn.app/en/faq/#glossary_business_rules links to the G

[2021-08-27 11:17] dsarkar opened #1674 "Release 2.9: Screenshots, FAQ, Privacy documents, update gulpfile, blog"
Internal Tracking ID: [EXPOSUREAPP-9101](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9101)

- [x] Gulpfile: Only update shortly before release roll out, in order to avoid merge conflicts
- [x] Update Privacy Notice Files
https://github.com/corona-warn-app/cwa-website/pull/1687
Internal Tracking ID: [EXPOSUREAPP-9237](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9237)
- [ ] Publish blog
Inte

[2021-08-27 13:57] dsarkar opened #1676 "Release 2.10: Screenshots, FAQ, Privacy documents, update gulpfile"
- [ ] Gulpfile: Only update shortly before release roll out, in order to avoid merge conflicts
- [ ] Update Privacy Notice Files [EXPOSUREAPP-](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-)
- [ ] FAQs Internal Tracking ID: [EXPOSUREAPP-](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-)
  - [ ] Export DCC https://github.com/corona-warn-app/cwa-website/issues/1645
  Internal Tracking ID: [EXPOS

[2021-08-28 06:53] MikeMcC399 opened #1678 "Glossary => cross-references"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#glossary "Glossary"
- https://www.coronawarn.app/de/faq/#glossary "Glossar"

## Describe the issue

Multiple glossary entries use "=>" to refer to another glossary entry. For instance, - https://www.coronawarn.app/en/faq/#glossary_recovery_certificate says

"**Recovery Certificate**

The certificate of recovery is a => digital certif

[2021-08-28 12:56] dsarkar commented on #1673
@MikeMcC399 Thanks for reporting this issue, no need to open another issue.

[2021-08-28 17:25] #1673 closed

[2021-08-28 17:37] MikeMcC399 commented on #1673
#1678 depending on this issue being solved.

[2021-08-28 17:37] dsarkar commented on #1674
@Ein-Tim Yes indeed, thanks.

[2021-08-29 11:36] MikeMcC399 opened #1680 "FAQ: Error 2001 missing link to firewall settings"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#cause2001 "[Google/Android]: CAUSE: 2001, trying to establish a secure connection to the server"
- https://www.coronawarn.app/de/faq/#cause2001 "[Google/Android]: URSACHE: 2001, trying to establish a secure connection to the server"

## Describe the issue

The FAQ article [#cause2001](https://www.coronawarn.app/en/faq/#cause2001) doe

[2021-08-29 11:40] MikeMcC399 commented on #1680
PR https://github.com/corona-warn-app/cwa-website/pull/1681 opened to resolve this issue arising from https://github.com/corona-warn-app/cwa-app-android/issues/968#issuecomment-907159657.

[2021-08-29 12:13] vaubaehn commented on #1680
I think there was a typo in the user's response, because as far as I know, svc**9**0.main.px.t-online.de is still hardcoded in the app, and svc80.main.px.t-online.de results in 'access denied'. But this should not be an issue for this PR here.

[2021-08-29 12:23] Ein-Tim opened #1682 "Add FAQ entry or extend `cert_eu_travel` explaining why certificates listed as valid in CWA v 2.7 are shown as "Certificate Cannot Be Validated" in CWA v 2.8"
## Where to find the issue
- https://www.coronawarn.app/de/faq/#cert_eu_travel
- https://www.coronawarn.app/en/faq/#cert_eu_travel

## Describe the issue
See https://github.com/corona-warn-app/cwa-documentation/issues/678#issuecomment-907697651

## Suggested change
See https://github.com/corona-warn-app/cwa-documentation/issues/678#issuecomment-907706289 & https://github.com/corona-warn-app/cwa-do

[2021-08-29 12:31] Ein-Tim commented on #1682
Proposed text by @vaubaehn:

**Update**
With version 2.8 the behaviour of the certificate validity check has changed. Entry rules for travellers have been set up by all EU member countries, but until today only a few countries provided technically translated entry rules which Corona-Warn-App can make use of. Before version 2.8, when there were no rules available to be downloaded for a certain coun

[2021-08-29 12:32] Goliath0 commented on #1680
I'm not sure. svc90 is also free in the blocklist. I whitelisted svc80. Maybe this was not needed. A typo? The reason must be, that an update of the blocklist occured and have one of this URL which I gave free. Thanks all. My blocklists are AdAway official hosts,  Pete Lowe blocklist hosts, StevenBlack Unified hosts (the later is two days old and must be the issue.)

[2021-08-29 12:37] MikeMcC399 commented on #1680
@vaubaehn

Thanks for pointing out the typo! The PR does not specifically mention this node name, only `*.t-online.de` through the reference to https://www.coronawarn.app/en/faq/#access-list. I edited the original entry above to highlight the typo so nobody is misled, trying to use the wrong node name.

[2021-08-29 12:39] vaubaehn commented on #1682
I'm not so happy that this is that long, but I'm afraid that otherwise most users won't understand what's going on when it's not explained in-depth.
Another thing that I'm a bit unhappy about is the term 'technically translated entry rules'. I was only Introducing it, because from user reports in the stores I understood, that entry rules published by countries in media are 'set equal' to the rules

[2021-08-29 12:40] MikeMcC399 commented on #1682
@Ein-Tim
I would hold back on mentioning contact with the CovPass App developers unless they have acknowledged a willingness to change, otherwise it may be setting false expectations.

[2021-08-29 12:42] Ein-Tim commented on #1682
I suggest to create a new FAQ entry: "Why does the Corona-Warn-App on version 2.8 show that my certificate couldn't be validated although the previous version showed my certificate as valid?"

[2021-08-29 12:49] vaubaehn commented on #1682
Maybe then instead

better:
We are working on a common solution for both apps.
?
Because @mtwalli expressed already his agreement in this way

which is first step on 'working on it'.
What do you think,

[2021-08-29 12:56] Ein-Tim commented on #1682
![Bildschirmfoto 2021-08-29 um 14 55 51](https://user-images.githubusercontent.com/67682506/131251064-9d967bcb-e715-46c9-9d10-f88409bce24f.png)

[2021-08-29 12:57] vaubaehn commented on #1682
One practical reason to have it all in the one and old eu travel entry could be, that all business rules screens in CWA link to that entry. Without change in the code, the link in the screen for 'Certificate Cannot Be Validated' would not link to the explanation in the FAQ and could be missed, when not reading other FAQ entries.

Another option would be to create a new entry, and additionally plac

[2021-08-29 12:57] Ein-Tim commented on #1682
@vaubaehn

I'd rather add a link to the old FAQ entry. Also, I'd place the new entry directly below the old one.

[2021-08-29 13:02] vaubaehn commented on #1682
@Ein-Tim

For me this is very nice! ❤️ Thanks a lot!

[2021-08-29 13:03] vaubaehn commented on #1682
@dsarkar @heinezen
Pinggggg...

[2021-08-29 13:42] Ein-Tim commented on #1674
One more question:
Why do Johnson & Johnson vaccinated people who recovered from COVID still have to wait 14 days? What's the legal basis for this?

[2021-08-29 15:11] MikeMcC399 commented on #1674
@Ein-Tim

The RKI FAQ
[COVID-19 und Impfen: Antworten auf häufig gestellte Fragen (FAQ) Gesamtstand: 27.8.2021](https://www.rki.de/SharedDocs/FAQ/COVID-Impfen/gesamt.html) answers the question:
**"Wer gilt laut rechtlichen Verordnungen als vollständig geimpft bzw. genesen?"**

That FAQ does not include the exception below regarding J & J.

It may be just a practical problem. Johnson & Johnson is a

[2021-08-29 15:16] Ein-Tim commented on #1674
Yes, this must be the answer to my question. There is no way to differentiate between normally vaccinated people with 1/1 or recovered people with 1/1. Thanks Mike!

[2021-08-29 15:26] Ein-Tim commented on #1682
PR: #1683

[2021-08-29 16:55] Marcono1234 commented on #1662
Thanks for the clarification, I will close this issue then.

[2021-08-29 16:55] #1662 closed

[2021-08-30 09:35] dsarkar commented on #1678
@MikeMcC399 fixed in #1685

[2021-08-30 09:50] MikeMcC399 commented on #1678
@dsarkar

Mostly good. Thank you @larswmh!

https://www.coronawarn.app/de/faq/#glossary_vaccination_certificate has links added, but the `=>` string has not been removed.

[2021-08-30 15:39] MikeMcC399 commented on #1680
PR https://github.com/corona-warn-app/cwa-website/pull/1681 is merged, which resolves this issue.

[2021-08-30 15:39] #1680 closed

[2021-08-30 17:23] MikeMcC399 opened #1689 "German abbreviations non-conformant to DIN 5008 in FAQ"
## Where to find the issue

https://www.coronawarn.app/de/faq/

## Describe the issue

Some new entries into the German FAQ on https://www.coronawarn.app/de/faq/  do not conform to [DIN 5008](https://de.wikipedia.org/wiki/DIN_5008#Abk%C3%BCrzungen_(Abschnitt_4.5))

German abbreviations should be written with a space, which should be a non-breaking space to ensure they are not broken across lines.

[2021-08-31 10:43] MikeMcC399 commented on #1689
#1690 is merged so now closing.

[2021-09-01 06:42] svengabr commented on #1660
We are currently not supporting content changes on old screenshot releases. They are simply archived and not to be touched again. We try our best to always fix all issues in the current version, which is later to be archived.

[2021-09-01 06:42] #1660 closed

[2021-09-01 06:45] svengabr commented on #1678
I think this might have been resolved by now, could you check again if you still have issues @MikeMcC399?

[2021-09-01 06:51] MikeMcC399 commented on #1678
@svengabr

Thanks for the reminder! PR https://github.com/corona-warn-app/cwa-website/pull/1686 resolved the remaining issue.

[2021-09-01 06:51] #1678 closed

[2021-09-01 06:54] svengabr commented on #1496
Internal Tracking ID: EXPOSUREAPP-8974

[2021-09-01 08:10] dsarkar opened #1693 "Update FAQ vac_cert_red_warning"
**Update FAQ articles**
  - https://www.coronawarn.app/de/faq/#vac_cert_red_warning
  - https://www.coronawarn.app/en/faq/#vac_cert_red_warning

**Current text**
  - **DE**
    - Wie sollte man sich verhalten, wenn man teil- oder vollständig geimpft ist, aber eine rote Warnung in der Corona-Warn-App erhält?
    - Handlungsempfehlung: Wenn eine geimpfte Person eine Begegnung mit erhöhtem Risiko ang

[2021-09-01 08:49] #1693 closed

[2021-09-01 12:04] dsarkar opened #1695 "Create FAQ entry: "In Vertrung warnen""
**DE**

Als Organisator einer Veranstaltung können Sie ab der Version 2.9 nach Aufforderung durch das Gesundheitsamt Ihre Gäste in Vertretung für eine positiv getestete Person warnen, die an einer Veranstaltung teilgenommen hat, aber nicht über die Corona-Warn-App (CWA) eingecheckt war.
Wird eine nicht eingecheckte Person später positiv getestet, können die Gäste gewarnt werden, wenn sie sich zur

[2021-09-01 17:17] MikeMcC399 commented on #1695
"In Vertrung warnen" => "In Vertretung warnen" in title of this issue.

Otherwise excellent functionality 👍🏻 and the text looks fine too 👍🏻!

[2021-09-03 10:29] loki-cui commented on #1649
**Wie erfahre ich von Auffrischungsimpfungen im Kontext von Corona?**

Durch die Gesundheitsminister-Konferenz wurde inzwischen die Regelung zu Covid-19-Auffrischimpfungen beschlossen. Eine zusätzliche Auffrischimpfung soll helfen, die neutralisierenden Antikörpertiter wieder zu erhöhen, die nach der Grundimmunisierung mit der Zeit absinken können. Das gilt insbesondere bei den Personengruppen, be

[2021-09-03 11:08] MikeMcC399 commented on #1649
@loki-cui
Good texts!
I suggest to write COVID capitalized, like in other FAQ entries and in RKI page
https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/nCoV.html.

[2021-09-03 15:10] Ein-Tim opened #1702 "Add CWA logo in the middle of generated event QR-Codes"
## Feature description

Similar to what the luca app does, the Corona-Warn-App should add it's logo in the middle of the generated event QR-Codes.

## Problem and motivation
I saw users who were really confused when there are just QR-Codes without any logo in it, they don't know which app to use to scan it.

## Additional information
I created this issue in the website repo since with the addition

[2021-09-03 23:00] Ein-Tim opened #1703 "QR-Code generation does not work ("Event" only)"
## Where to find the issue
- https://www.coronawarn.app/en/eventregistration/
- https://www.coronawarn.app/de/eventregistration/

## Describe the issue
Attempting to generate a QR code of the type "Event" fails, if "Create" is clicked nothing happens.

## Screenrecording

https://user-images.githubusercontent.com/67682506/132072579-d4c774fa-95f7-4568-9eb1-be9155c65ead.mp4

## Error in the console:

[2021-09-04 08:44] MikeMcC399 opened #1804 "Certificate screenshots missing details"
## Avoid duplicates
* [X] Bug is not mentioned in the [FAQ](https://www.coronawarn.app/en/faq/)
* [X] Bug is specific for Android only, for general issues / questions that apply to iOS and Android please raise them in the [documentation repository](https://github.com/corona-warn-app/cwa-documentation)
* [X] Bug is not already reported in another issue

## Technical details

- Device: Pixel 3a emul

[2021-09-05 14:04] Ein-Tim opened #1705 "Is it intended that below the button "CSV Datei laden" the button "Datei auswählen" is shown, which does exactly the same as "CSV Datei laden"?"
## Your Question

When building the website locally and navigating to the QR-Code generator page (`eventregistration`) the page is shown like this:

<img width="1438" alt="Bildschirmfoto 2021-09-05 um 15 50 52" src="https://user-images.githubusercontent.com/67682506/132129680-9aa594e8-bdc1-432f-a399-55f2549eeb87.png">

Only the button "Ihre CSV Datei hochladen" (currently "CSV Datei laden") is sho

[2021-09-06 08:11] Ein-Tim commented on #1703
@dsarkar

Is somebody working on a fix for this? I think it's very suboptimal that the QR code creation does not work on Safari.

[2021-09-06 08:19] dsarkar commented on #1703
@Ein-Tim Thanks for reporting, we will check.

[2021-09-06 08:24] dsarkar commented on #1703
@Ein-Tim Ok, Type "Events" is affected, not "Place". We are looking at it. Probably introduced with the multi QR functionality.

[2021-09-06 09:22] dsarkar commented on #1703
PR https://github.com/corona-warn-app/cwa-website/pull/1706#pullrequestreview-747013803
reverts to commits.

[2021-09-06 09:23] dsarkar commented on #1705
@Ein-Tim No, this button should not be there. We revert this PR for the moment. https://github.com/corona-warn-app/cwa-website/pull/1706#pullrequestreview-747013803

[2021-09-06 09:25] Ein-Tim commented on #1703
@dsarkar

Thanks. Since this will just revert the whole feature, this will also fix this issue.
I assume that when you add the feature back you will also make sure that the issue mentioned here does not appear again.

Thanks for the fast response and taking care of it!

[2021-09-06 09:28] dsarkar commented on #1703
@Ein-Tim As mentioned by @svengabr, two commits are reverted. #1575 introduced this issue for Mac only apparently. The multi QR code generator is unrelated to this issue but was taken offline in order to fix the button issue and refine the texts.

Also, many thanks for mirroring issue from twitter here on GH.

[2021-09-06 09:28] #1703 closed

[2021-09-06 09:30] Ein-Tim commented on #1703
Thanks @dsarkar & @svengabr!

[2021-09-06 15:16] MikeMcC399 opened #1708 "Expired certificate in Check Validity screenshots"
## Where to find the issue

### Sections

**"Check certificates for validity before a trip"**

- https://www.coronawarn.app/en/screenshots/#ios_check_validity_certificate
- https://www.coronawarn.app/en/screenshots/#android_check_validity_certificate

**"Zertifikate vor einer Reise auf Gültigkeit prüfen"**

- https://www.coronawarn.app/de/screenshots/#ios_check_validity_certificate
- https://www.c

[2021-09-06 16:24] MikeMcC399 commented on #1257
This issue has not been fixed for the 2.8 Android screenshots in https://www.coronawarn.app/en/screenshots/#android_rat for instance.

The corresponding screenshots in en/screenshots/#android_rat for the upcoming 2.9 release in PR https://github.com/corona-warn-app/cwa-website/pull/1707 have also not been corrected.

[2021-09-06 16:48] Ein-Tim commented on #1708
@MikeMcC399

Actually, it's possible to check for validity if the certificate has expired or is invalid, but, as you mention, it doesn't make much sense to do this.

[2021-09-06 17:13] MikeMcC399 commented on #1708
@Ein-Tim

That is true. If you scan the expired vaccination certificate from https://www.coronawarn.app/assets/screenshots/2-8/en/ios/iPhone%2011%20Pro-screenshot_vaccination_certificate_overview_part1.png with CWA 2.6.1, then use the "CHECK VALIDITY" function choosing Country: Germany, then the result is the following.

![Screenshot_20210906-190319_Corona-Warn](https://user-images.githubuserconte

[2021-09-07 07:44] MikeMcC399 opened #1710 "Screenshots: Valid certificates in 'Invalid certificates' section (Android)"
## Where to find the issue

Screenshots https://www.coronawarn.app/en/screenshots/
Android Section **Invalid certificates** / **Ungültige Zertifikate** of the published app version 2.8 and of the PR https://github.com/corona-warn-app/cwa-website/pull/1707 for the planned version 2.9 release.

## Describe the issues

For the Android **Invalid certificates** / **Ungültige Zertifikate**

- https://ww

[2021-09-07 09:09] MikeMcC399 commented on #1710
PR https://github.com/corona-warn-app/cwa-website/pull/1711 opened to address the issue in for CWA 2.8.

[2021-09-07 09:36] dsarkar commented on #1710
@MikeMcC399 Thanks a lot!

[2021-09-07 11:57] dsarkar opened #1713 "Update FAQs - Sofortige Impfstatusanzeige für Genesene"
**UPDATE** the following articles:

https://www.coronawarn.app/de/faq/#eu_dcc_validity
https://www.coronawarn.app/de/faq/#rec_cert
https://www.coronawarn.app/de/faq/#vac_cert_what
https://www.coronawarn.app/de/faq/#vac_cert_privileges_travel

Content to be added at appropriate position:

"Sofortige Impfstatusanzeige für Genesene: Für Genesene wird ab der Version 2.9 direkt nach der ersten Impfung

[2021-09-07 12:21] MikeMcC399 commented on #1710
Issue in PR https://github.com/corona-warn-app/cwa-website/pull/1707 is resolved by commit https://github.com/corona-warn-app/cwa-website/pull/1707/commits/610ebd230e5a9c7cc8d8f6f183c0af2257ea6ad5 in that PR.

[2021-09-07 12:22] MikeMcC399 commented on #1710
Since both the 2.8 and future 2.9 screenshots are now corrected, this issue can be closed.

[2021-09-07 12:22] #1710 closed

[2021-09-07 12:32] MikeMcC399 commented on #1713
@dsarkar
There were some spaces missing in the original text. It should look like this:

"Sofortige Impfstatusanzeige für Genesene: Für Genesene wird ab der Version 2.9 direkt nach der ersten Impfung der vollständige Impfschutz in der Corona-Warn-App angezeigt. Die zweiwöchige Wartezeit entfällt bei allen Impfstoffen außer bei Johnson & Johnson."

[2021-09-07 13:19] MikeMcC399 commented on #615
https://github.com/meinaart/cypress-plugin-snapshots/releases/tag/v1.4.4 is still the latest release from over one year ago with no sign of a new release.

GitHub regularly identifies dependabot alerts in this repository, so it does not seem necessary to single out this particular one.

Closing as unresolved.

[2021-09-07 13:19] #615 closed

[2021-09-07 18:29] #1713 closed

[2021-09-07 18:30] dsarkar commented on #1702
@Ein-Tim Nice idea!

[2021-09-07 18:33] #1649 closed

[2021-09-07 18:34] #1695 closed

[2021-09-07 18:37] Ein-Tim commented on #1702
@dsarkar Thanks! Will you create a internal Ticket for this?

[2021-09-08 12:33] #1682 closed

[2021-09-08 13:06] #1674 closed

[2021-09-08 13:10] dsarkar commented on #1705
@Ein-Tim Fix is provided by @svengabr in https://github.com/corona-warn-app/cwa-website/pull/1709

[2021-09-08 14:35] dsarkar opened #1720 "Update FAQ acticle vac_cert_mismatch"
**Update FAQ acticle vac_cert_mismatch. Include this text:**

**DE**

**Wichtiger Hinweis:** Da in einigen Ländern nach wie vor ein Impfnachweis sowohl für die erste als auch für die zweite Impfung erforderlich ist, empfiehlt es sich insbesondere bei Reisen ins Ausland, alle Impfzertifikate mit sich zu führen, sei es in der CWA, als PDF, oder als Papierausdruck.

**EN**
**Important notice:** Since

[2021-09-08 14:46] Ein-Tim commented on #1702
Proof of concept. Currently, this QR-Code links to another side which redirects to CWA, but this is not needed:
![frame-2](https://user-images.githubusercontent.com/67682506/132531695-7b1b9602-dd47-4470-9bbe-e6e3296191d4.png)

[2021-09-08 14:50] vaubaehn commented on #1674
Hi @MikeMcC399 and @Ein-Tim ,
sorry for the late response - I somehow lost your ping, and @dsarkar 's closing of this issue was the wake-up call.

Actually, the idea to solve the technical problem to distinguish vaccinations from non-infected persons and recovered persons by just looking to/reading out the vaccination certificate and to rely on the total series of doses, is great imho. But I think

[2021-09-08 15:03] MikeMcC399 commented on #1674
@vaubaehn
My guess about the reason is confirmed in the blog https://www.coronawarn.app/en/blog/2021-09-08-cwa-version-2-9/

"Users who get vaccinated with Johnson & Johnson’s vaccine after recovery are an exception. Since only one shot is required for this vaccine, the Corona-Warn-App cannot distinguish between those who have recovered and got vaccinated and those who have been vaccinated normall

[2021-09-08 15:20] dsarkar commented on #1674
@MikeMcC399 @vaubaehn @Ein-Tim

It is a technical problem: The actual JSON scheme makes it impossible to differentiate the case "Recovered and 1/1 &J vaccinated" not only for a the CWA but also for the verifier apps. Scanning both certificates would not help in the current implementation, since the vaccination certificate will be shown as invalid in the first 14 days due to the business rules. The

[2021-09-08 15:31] vaubaehn commented on #1674
@dsarkar @MikeMcC399 @Ein-Tim
Thanks for your replies, and confirming the technical issue. But from all I understood, the problem will/could be circumvented with CWA 2.10 with rather much effort: https://github.com/corona-warn-app/cwa-app-android/pull/4001
I hope this 2-step approach (2.9: vaccination for recovered except Johnson&Johnson; 2.10: Johnson&Johnson after recovery could be detected) won

[2021-09-09 07:09] #1720 closed

[2021-09-09 10:10] MikeMcC399 opened #1722 "Screenshots for previous 2.8 version no longer accessible"
## Where to find the issue

- https://www.coronawarn.app/en/screenshots-archive/2-8.html
- https://www.coronawarn.app/de/screenshots-archive/2-8.html

## Describe the issue

When selecting screenshot version 2.8, only the text about the version is shown, not the screenshots themselves

### Steps to reproduce

1. Open https://www.coronawarn.app/en/screenshots/
2. Select 2.8 in Versions drop-down me

[2021-09-09 10:13] dsarkar commented on #1674
@vaubaehn

I think that is crucial point: Only one certificate is verified.

[2021-09-09 10:14] dsarkar commented on #1722
@MikeMcC399  thanks for reporting

[2021-09-09 10:36] dsarkar commented on #1722
@MikeMcC399 FYI https://github.com/corona-warn-app/cwa-website/pull/1723

[2021-09-09 10:53] MikeMcC399 commented on #1722
Closing. Fixed with PR #1723.

[2021-09-09 10:53] #1722 closed

[2021-09-09 15:38] MikeMcC399 opened #1724 "Missing json file settings for Visual Studio Code editor"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/.vscode/settings.json

## Describe the issue

The [Visual Studio Code project settings file](https://github.com/corona-warn-app/cwa-website/blob/master/.vscode/settings.json) does not provide any default settings for `json` files.

[CHANGE_WEBSITE_CONTENT.md](https://github.com/corona-warn-app/cwa-website/blob/m

[2021-09-09 15:38] MikeMcC399 commented on #1724
I will wait for comment on this suggestion and then submit a corresponding PR if there is interest and agreement.

[2021-09-09 16:34] Ein-Tim commented on #1724
@MikeMcC399

I would definitely appreciate this setting, as I use VS Code as my main editor (:
Thanks for taking care!

[2021-09-10 08:04] vaubaehn commented on #1682
Hi @dsarkar , do you consider to refer/instruct the app store support teams to point to the new FAQ entry in their responses to users?
At least in Google Play Store there are still users asking about the changed UI for countries without rules, but the answers didn't change yet.

[2021-09-10 08:11] dsarkar commented on #1682
@vaubaehn Sure, I let them know. Many thanks for pointing it out!

[2021-09-10 09:06] MikeMcC399 commented on #1724
@Ein-Tim
Thanks for your positive feedback!

This is what I would propose for https://github.com/corona-warn-app/cwa-website/blob/master/.vscode/settings.json if the Open Source Team would like this added.

[code]

[2021-09-10 14:06] MikeMcC399 commented on #1724
I have created PR #1726 to implement this suggestion.

[2021-09-10 15:59] MikeMcC399 commented on #1589
Due to introduction of TANs which can be issued by health authorities for "warn-on-behalf-of" this is another reason to review the article for correctness.

See https://www.coronawarn.app/en/blog/2021-09-08-cwa-version-2-9/.

[2021-09-10 17:00] MikeMcC399 commented on #1724
#1726 is merged, so this issue can now be closed.

[2021-09-10 17:00] #1724 closed

[2021-09-11 12:36] MikeMcC399 commented on #1028
As the release notes https://developers.google.com/android/exposure-notifications/release-notes#v18_january_2021 for Version 1.8 of the Google Exposure Notifications System describe, there were some changes in the Google UI made some months ago which are still not reflected in the FAQ https://www.coronawarn.app/en/faq/#keys_matches.

The following set of screenshots shows the English v1.8 (2130160

[2021-09-11 12:41] Ein-Tim commented on #1028
@MikeMcC399

Since my last comment (https://github.com/corona-warn-app/cwa-website/issues/1028#issuecomment-807304142) the UI under iOS didn't change, so everything I wrote there is still valid.
How will you differentiate between iOS and Android? Maybe split the FAQ entry in two halfs, one for Android and one for iOS?

[2021-09-11 12:44] MikeMcC399 commented on #1028
@Ein-Tim
The FAQ has already been updated so that the Apple and Android terms are named side-by-side. I hope that is sufficient. Let me see as I work through it.

Actually I would change "Apple" to "iOS", otherwise "Android" would need to be "Google".

[2021-09-11 13:20] Ein-Tim opened #1729 "`personal_data` FAQ entry is outdated"
## Where to find the issue

DE: https://www.coronawarn.app/de/faq/#personal_data

EN: https://www.coronawarn.app/en/faq/#personal_data

says:

DE:
"Wie in der Datenschutz-Grundverordnung (DSGVO) vorgeschrieben, ist die Datenminimierung das oberste Gebot für die Umsetzung der App. Die nutzenden Personen **können** und müssen in Verbindung mit der App ausschließlich die folgenden Angaben machen: [..

[2021-09-11 13:23] MikeMcC399 commented on #1028
@Ein-Tim
I've now submitted PR #1728. You're welcome to check if it is consistent with what you see on iOS.

I tried to make the minimum of changes to make it correct. If we wanted to put in more information, we would probably need to split it into two different articles for iOS and Android.

Especially at this stage in the pandemic and the maturity of the app, there is very little discussion on t

[2021-09-11 13:33] MikeMcC399 commented on #1729
@Ein-Tim

The app has become much more complicated and extensive since his article was written.

It might be better to remove the very basic examples of data input and instead refer to the official documents:
- https://www.coronawarn.app/assets/documents/cwa-privacy-notice-en.pdf
- https://www.coronawarn.app/assets/documents/cwa-privacy-notice-de.pdf

[2021-09-11 16:30] MikeMcC399 commented on #639
@dsarkar
According to @fynngodau the Android app would run on Android 5 (API 21) (see https://github.com/corona-warn-app/cwa-app-android/issues/1799#issuecomment-841829777). I don't have a physical Android 5 device, however I did try building it with `minSdkVersion 21` and then running it on an Android 5 emulator. It did run, but I could not do full tests that way.

In any case the FAQ article htt

[2021-09-11 18:09] Ein-Tim commented on #1729
@MikeMcC399

Yes, agreed! However, I'd like to get feedback from the Open-Source Team on this before creating a PR.

[2021-09-12 07:35] MikeMcC399 commented on #1026
@dsarkar

The unknown risk screenshot has been removed from https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.html. This was the original reason for the issue, so this issue can now be closed.

---
The screenshots on https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.html **Infektionsketten digital unterbrechen mit der Corona-Warn-App** are st

[2021-09-12 07:35] #1026 closed

[2021-09-13 07:39] dsarkar commented on #1026
@MikeMcC399 Thanks for checking!

[2021-09-15 10:10] dsarkar commented on #1645
Wie erstelle ich einen Ausdruck meines Digitalen COVID Zertifikates der EU?
Zweck
Ab der Version 2.10 der Corona-Warn-App können Sie eingescannte Digitale COVID Zertifikate der EU in PDF-Dokumente exportieren. Diese Funktion dient vorrangig der Erstellung von Sicherheitskopien der Zertifikate für Ihre persönlichen Zwecke.
Selbstverständlich werden für das Layout der Zertifikate die Original-EU-Vor

[2021-09-15 10:13] dsarkar opened #1735 "Create FAQ eu_dcc_booster"
Create entry with an index of related articles:

Title: Fragen und Antworten zur Auffrischimpfung:

Links to:
https://www.coronawarn.app/de/faq/#vac_cert_booster_info
https://www.coronawarn.app/de/faq/#vac_cert_booster_cwa

---
Internal Tracking ID: [EXPOSUREAPP-9445](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9445)

[2021-09-15 11:59] MikeMcC399 commented on #1003
Correction was made for telephone numbers on https://www.bundesregierung.de/breg-de/themen/corona-warn-app/corona-warn-app-faq-1758392 (German), see https://github.com/corona-warn-app/cwa-hotline/issues/13#issuecomment-919235748.

[2021-09-16 07:32] dsarkar commented on #1003
@MikeMcC399 Thank you for checking.

[2021-09-16 07:46] #1735 closed

[2021-09-16 07:46] #1645 closed

[2021-09-16 14:00] MikeMcC399 commented on #1003
@dsarkar

I wasn't just checking, I actively requested RKI to follow up last week and they contacted the Bundespresseamt who made the changes to the German page. RKI reported back that foreign language pages will follow soon.

[2021-09-16 14:33] dsarkar commented on #1003
@MikeMcC399 Great! I will mention this in the internal ticket as well! Thanks a lot for your dedication.

[2021-09-16 15:50] MikeMcC399 opened #1740 "Capitalization of screenshot titles in English"
## Where to find the issue

https://www.coronawarn.app/en/screenshots/
with source code
https://github.com/corona-warn-app/cwa-website/blob/master/src/data/screenshots.json

## Describe the issue

Screenshot section titles in English are not consistently capitalized.

Whereas some section titles like:

- "Risk Cards"

correctly use title case, others, including the following, do not use title case

[2021-09-16 15:59] Ein-Tim commented on #1740
@MikeMcC399

Agreed, but I suggest not to retro fit this change to previous versions, to not break the convention in https://github.com/corona-warn-app/cwa-website/issues/1660#issuecomment-909960309.
Or do you think an exception should be made here?

[2021-09-16 16:08] MikeMcC399 commented on #1740
@Ein-Tim

Or do you think an exception should be made here?

I would interpret the statement to mean that screenshots for previous versions will not be changed. I'm happy to submit a PR to change the text headings for previous versions including 2.9, if we get agreement for the 2.10 submission.

[2021-09-16 16:13] Ein-Tim commented on #1740
@MikeMcC399

Mh, we would need a definition of "content changes", but as I asked in the OP of https://github.com/corona-warn-app/cwa-website/issues/1660 explicitly also for the alt texts, I think the texts are also covered by this statement.

However, if you would provide a PR for this, I'm fine with that, for sure (:

[2021-09-16 16:37] dsarkar commented on #1740
@MikeMcC399 @Ein-Tim I think this proposal is ok, however, let's wait for more opinions.

[2021-09-16 17:09] GisoSchroederSAP commented on #1740
Thanks for pointing out the inconsistencies. Agreed to change in the AP style way. Regarding a definition of "content change" - this can be easily done: If we change the content in terms of "meaning", ist's a content change. If we just re-arrange, it's a "layout change". I would not make this a philosophical discussion here.
So, please focus on the current/most recent content - there is no need to

[2021-09-17 07:12] MikeMcC399 commented on #1740
Submitted PR #1742 for current screenshot headings (CWA 2.9).

[2021-09-17 07:31] dsarkar commented on #1740
PR #1742 has been merged. Thanks to everybody!

[2021-09-17 07:39] #1740 closed

[2021-09-17 10:43] MikeMcC399 commented on #1028
PR #1728 is merged. Thanks to @Ein-Tim for reviewing for iOS!

[2021-09-17 10:43] #1028 closed

[2021-09-20 12:53] MikeMcC399 commented on #1573
This issue is resolved by PR #1745 which updated https://www.coronawarn.app/de/science/2021-08-02-science-blog-3/ today, September 20, 2021.

[2021-09-20 12:53] #1573 closed

[2021-09-20 13:08] MikeMcC399 commented on #1598
@Ein-Tim
PR #1745 has reworked https://www.coronawarn.app/de/science/2021-08-02-science-blog-3/

Of the three tables you mentioned,

- https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-08-02-science-blog-3/tab_14.png

has been updated and is readable.

The other two tables:

- https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-08-02-science-blog-3/tab_06.

[2021-09-20 13:11] Ein-Tim commented on #1598
@MikeMcC399

Thanks for checking!

I just took a look at it myself and yes, this seems to have been fixed.

Closing as fixed.

[2021-09-20 13:11] #1598 closed

[2021-09-20 15:46] MikeMcC399 opened #1751 "Untranslated labels in some Science Blog 2 tables"
## Where to find the issue

https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/

## Describe the issue

In the English language version of the Science Blog 2
https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/
"Who are the people using the Corona-Warn-App?"

there are some remaining table labels which are in German although the rest of the article is in English.

- "Fig.

[2021-09-21 07:05] dsarkar commented on #1751
PR #1754 merged.

[2021-09-21 07:18] MikeMcC399 commented on #1751
Resolved by PR #1754.

[2021-09-21 07:18] #1751 closed

[2021-09-21 19:19] Ein-Tim commented on #984
@dsarkar More than half a year passed since I opened this issue, could you give us an update on this? Or maybe mirror it to JIRA?

Thank you

[2021-09-22 12:39] MikeMcC399 opened #1760 "Screenshots: Android Check-In screenshots out-of-date"
## Where to find the issue

- https://www.coronawarn.app/en/screenshots/#android_screenshots
    - https://www.coronawarn.app/en/screenshots/#android_check_in
- https://www.coronawarn.app/de/screenshots/#android_screenshots
    - https://www.coronawarn.app/de/screenshots/#android_check_in

## Describe the issue

Note: This issue was logged for CWA Android 2.11 and the issue is not fixed for 2.23.

[2021-09-23 12:35] larswmh commented on #1655
Fixed with PR #1663

[2021-09-23 12:35] #1655 closed

[2021-09-23 17:14] Ein-Tim commented on #883
The new Safari browser layout in iOS 15 fixed this:

https://user-images.githubusercontent.com/67682506/134553416-052d0498-87f7-4a3d-923a-932cacf36d74.mov

Closing as fixed.

[2021-09-23 17:14] #883 closed

[2021-09-25 09:40] Ein-Tim opened #1766 "FAQ is missing on information that the app data is not included in a back-up"
## Where to find the issue
https://www.coronawarn.app/de/faq/
https://www.coronawarn.app/en/faq/

## Describe the issue
There is no FAQ entry informing the user that they neither their DCCs nor their contact journal entries are included in a backup.

## Suggested change
Either adjust https://www.coronawarn.app/en/faq/#backup or create a new FAQ entry.

## Additional information
I can provide a PR

[2021-09-25 09:53] MikeMcC399 commented on #1766
@Ein-Tim

On Android the operating system backup of data from CWA is disabled:
`android:allowBackup="false"`
see https://github.com/corona-warn-app/cwa-app-android/blob/9d6525b7f7f849bb52f11a31916707ab60a33759/Corona-Warn-App/src/main/AndroidManifest.xml#L30
so you are right when you say there is no backup done.

There is already an open issue from @dsarkar regarding backup. See https://github.com

[2021-09-25 09:59] Ein-Tim commented on #1766
@MikeMcC399

Thanks for confirming that under Android also no data from CWA is backed up.

Also thanks for reminding me of #1319, I will add my comments there and close this issue, as it seems to be very closely related to #1319.

Have a nice Saturday!

[2021-09-25 09:59] #1766 closed

[2021-09-25 09:59] Ein-Tim commented on #1319
@dsarkar Is there any progress about this? See also #1766. I'd offer a PR as described in the OP of #1766.

[2021-09-25 15:30] MikeMcC399 commented on #1708
The issue that the left-hand screenshot in [Check Certificates for Validity Before a Trip](https://www.coronawarn.app/en/screenshots/#ios_check_validity_certificate) was showing an expired certificate is fixed for screenshots from CWA 2.10. The certificate is no longer expired and it has a blue background.

See for instance https://www.coronawarn.app/en/screenshots/#ios_check_validity_certificate

[2021-09-25 15:30] #1708 closed

[2021-09-26 07:30] MikeMcC399 commented on #1319
This is also related to the enhancement request https://github.com/corona-warn-app/cwa-wishlist/issues/407 which says that the reset app function should give the user more information about what data is lost through resetting the app before they attempt the reset.

Since no data is saved by automatic backup, these two topics are related.

[2021-09-26 09:44] Jo-Achim commented on #1702
Good idea - if the correction bytes of the QR code allow it without negatively affecting readability.

[2021-09-26 09:46] Ein-Tim commented on #1702
@Jo-Achim Did you try to scan the QR-Code I provided in my comment above?

Here (iOS 15, CWA 2.10.1, iPhone XR) I can read the QR-Code with the in-app scanner in CWA as well as the native iPhone camera.

[2021-09-26 10:21] Jo-Achim commented on #1702
@Ein-Tim,

sorry, but the result is...
![1632650337349_2](https://user-images.githubusercontent.com/21124877/134803431-6944eac6-42df-4f69-ac16-203b1942584d.jpg)

Samsung Galaxy Note 10, SM-N970F/DS
Android 11 (One UI 3.1) with Android security update: 01. August 2021
Google Play-Systemupdate: June, 1st, 2021.
CWA Version: 2.10.1
ENF: 18213614000

(CovPass 1.138.6 shows the same error. / CovPassChe

[2021-09-26 10:24] Ein-Tim commented on #1702
@Jo-Achim This is a QR-Code for an event (Check-in) please try to scan it with the QR-Code scanner on the "Check-in" tab.

I don't suggest to add the logo of the Corona-Warn-App in the middle of EU digital COVID certificates as they can be scanned with the CovPass-App, the luca App & also foreign apps.

[2021-09-26 11:59] Jo-Achim commented on #1702
Oh, sorry, sorry, sorry, my mistake!

**The "Check-In" answer is: "CWA Event QR-Code mit Logo".**

[2021-09-26 12:01] Ein-Tim commented on #1702
@Jo-Achim No problem!

Nice, that's how I named the event (:

So you can confirm that this is working 👍

[2021-09-27 20:04] Ein-Tim commented on #1464
The situation has improved very well here, still, there are some branches which haven't been touched for over 6 months now.

I still consider this as fixed and will close this issue now.

[2021-09-27 20:04] #1464 closed

[2021-09-28 08:42] MikeMcC399 commented on #1464
@Ein-Tim
Although you have closed this issue, I think it would make sense to clean up the stale PRs and branches. Of course, you cannot do this, as the community doesn't have privileges to make changes.

There is even a special link which highlights these branches https://github.com/corona-warn-app/cwa-website/branches/stale which are mainly from @heinezen and which are associated with stale PRs.

[2021-09-29 10:22] MikeMcC399 commented on #889
@dsarkar
There are major changes to links in the open PR https://github.com/corona-warn-app/cwa-website/pull/1772 for the analysis page.

How can these links be checked to make sure they all work?

[2021-09-29 11:22] MikeMcC399 opened #1775 "Analyse shows only "Loading...""
## Where to find the issue

https://www.coronawarn.app/en/analyse/

## Describe the issue

No graphs are displayed, only the text "Loading ..."

![image](https://user-images.githubusercontent.com/66998419/135259020-e49a56c3-2f5f-4268-a6dc-40c4348e18b8.png)

[2021-09-29 11:28] MikeMcC399 opened #1776 "Name for analysis page is verb not noun"
## Where to find the issue

https://www.coronawarn.app/

## Describe the issue

All other headings on the website https://www.coronawarn.app/ are English language nouns.

The heading "Analyse" could be an English language verb or it could be a German language noun.

![image](https://user-images.githubusercontent.com/66998419/135259802-e5da080b-1deb-4d68-a4c8-4e2262f0ee48.png)

## Suggested change

[2021-09-29 11:38] Ein-Tim commented on #1775
Confirum this issue, happened locally yesterday evening too.

[2021-09-29 12:01] MikeMcC399 commented on #1775
Strangely it is working for me if I run the website locally (`npm start`).

It is not working for me on the production site https://www.coronawarn.app/en/analyse/

I tried from a desktop with Chrome and Mozilla, also from a mobile device with Chrome, same issue - only "Loading...", no results shown.

[2021-09-29 12:34] Ein-Tim commented on #1775
@MikeMcC399

Could you close your browser and navigate to the local instance again? It worked for me the first time and then, the second time it didn't work anymore.

[2021-09-29 12:36] dsarkar commented on #1775
@MikeMcC399 @Ein-Tim  We are on it.

[2021-09-29 12:39] dsarkar commented on #1776
@FabioFuschi-SNK FYI

[2021-09-29 13:43] Ein-Tim commented on #1464
@dsarkar

Could you delete https://github.com/corona-warn-app/cwa-website/tree/admin/Android-screenshots-for-version-2.10.0 & https://github.com/corona-warn-app/cwa-website/tree/revert-multiqr, please?

[2021-09-29 14:12] dsarkar commented on #1464
revert-multiqr was created by @svengabr, I'd prefer that he deletes this branch (I will let him know). I will delete the other one.

[2021-09-29 15:25] MikeMcC399 commented on #1776
PR https://github.com/corona-warn-app/cwa-website/pull/1777 removes "Analyse" from the menu on https://www.coronawarn.app/en/, however if anybody already bookmarked

https://www.coronawarn.app/en/analyse/ or
https://www.coronawarn.app/de/analyse/

the menu bar still shows "Analyse", as before.

Also, under

https://www.coronawarn.app/en/analysis and
https://www.coronawarn.app/de/analysis/

the hea

[2021-09-29 15:56] MikeMcC399 commented on #1168
PR #1772 causes the warning to no longer appear

[code]

`eventregistration.js` is still labelled as `[big]` though.

It seems that performance hints have been disabled:

https://github.com/corona-warn-app/cwa-website/blob/8d3a36a769375f4be50461052ff23cb87acc0fad/gulpfile.js#L270-L272

https://webpack.js.org/configuration/performance/#performancehints

---

Closing, since the symptoms no longer ap

[2021-09-29 16:26] MikeMcC399 opened #1778 "Broken links in production due to Analyse merge"
## Where to find the issue

https://www.coronawarn.app

## Describe the issue

There are multiple **404 errors** on the website https://www.coronawarn.app accessing the website's own internal resources.

For example:

Keep background updates switched on and check them regularly
https://www.coronawarn.app/faq/#background_updates

Frequently Asked Questions about the Corona-Warn-App.
https://www.cor

[2021-09-29 16:27] MikeMcC399 commented on #889
Links are still broken, see https://github.com/corona-warn-app/cwa-website/issues/1778.

[2021-09-29 16:40] Ein-Tim commented on #1778
Could anyone please give a reason why the analysis page PR caused so many unrelated changes, especially to links?

Where is the improvement over the implementation as it was before?

[2021-09-29 17:33] MikeMcC399 commented on #1778
Also on

https://www.coronawarn.app/en/blog/
Show news archive
https://www.coronawarn.app/archive

broken (404 error)

[2021-09-30 07:32] Ein-Tim commented on #1778
The analysis page has been reverted: https://github.com/corona-warn-app/cwa-website/pull/1774

Can you check again @MikeMcC399?

[2021-09-30 07:33] Ein-Tim commented on #1775
Analysis page has been reverted: https://github.com/corona-warn-app/cwa-website/pull/1774

[2021-09-30 07:37] Ein-Tim commented on #1776
FYI: https://github.com/corona-warn-app/cwa-website/pull/1774 has removed the analysis page from the website again.

[2021-09-30 07:54] MikeMcC399 commented on #1778
Closed due to PR #1774.

[2021-09-30 07:55] #1778 closed

[2021-09-30 07:56] MikeMcC399 commented on #1776
Assuming that the analysis page will be published again, leaving this issue open.

[2021-09-30 08:05] MikeMcC399 commented on #1775
https://www.coronawarn.app/en/analyse/ is still available. The revert did not cause a delete to deploy to the production server.

https://www.coronawarn.app/en/analyse/ no longer shows "Loading..." though. It is just a incomplete web page now with no graphs and a lot of text.

I will leave this open for the time-being even though the original problem no longer occurs.

[2021-09-30 09:41] MikeMcC399 opened #1779 "RKI Orientierungshilfe Bürger in FAQs - replacement document?"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#encounter_criteria
- https://www.coronawarn.app/de/faq/#encounter_criteria

## Describe the issue

https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Buerger/Orientierungshilfe_Buerger_de.pdf?_blob=publicationFile is a dead link included in the FAQ articles:

    - https://www.coronawarn.app/en/faq/#encounter_criteria
    -

[2021-09-30 09:41] MikeMcC399 opened #1780 "Dead external links to 10C formula in FAQs"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#qr_scan
- https://www.coronawarn.app/de/faq/#qr_scan

## Describe the issue

https://www.kbv.de/media/sp/Ansichtsexemplar_Muster10C.pdf is a dead link included in the FAQ articles:

    - https://www.coronawarn.app/en/faq/#qr_scan
    - https://www.coronawarn.app/de/faq/#qr_scan

## Suggested change

Find current 10C document and eit

[2021-09-30 09:43] MikeMcC399 opened #1781 "Add link checking to https://www.coronawarn.app"
## Feature description

For website https://www.coronawarn.app add link checking to site tools.

This follows on from the question https://github.com/corona-warn-app/cwa-website/issues/889.

Consider integrating link checking into the checks done in workflows:

- https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/build.yml and
- https://github.com/corona-warn-app/cwa-webs

[2021-09-30 09:43] MikeMcC399 commented on #889
Closing in favour of feature request https://github.com/corona-warn-app/cwa-website/issues/1781.

[2021-09-30 09:43] #889 closed

[2021-09-30 10:16] dsarkar commented on #1781
@MikeMcC399 Thanks. We will look into this. Internal Tracking ID: [EXPOSUREAPP-9734](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-9734)

[2021-09-30 11:07] MikeMcC399 commented on #1780
I found resources on https://update.kbv.de/ita-update/Blankoformulare/10C_OEGD/ however I could not find any exact replacement for the missing https://www.kbv.de/media/sp/Ansichtsexemplar_Muster10C.pdf file.

The form changes regularly in accordance with changes in the law about testing, especially concerning the checkboxes, so it's probably not a good idea to get a static copy of the form because

[2021-09-30 11:49] MikeMcC399 commented on #1779
It would be best if the Open Source Team could check with RKI if there is a replacement document for https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Buerger/Orientierungshilfe_Buerger_de.pdf?_blob=publicationFile.

The page
https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Handreichung-Arzt.html is oriented towards doctors not patients and it has not been updated si

[2021-09-30 12:13] MikeMcC399 opened #1783 "Out-of-date recommendation links in #encounter_criteria for red warning"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#encounter_criteria "By which criteria are encounters evaluated and how do the recommendations for action differ?"
- https://www.coronawarn.app/de/faq/#encounter_criteria "Nach welchen Kriterien werden Begegnungen bewertet und wie unterscheiden sich die Handlungsempfehlungen?"

## Describe the issue

The section in https://www.coronaw

[2021-09-30 14:13] GisoSchroederSAP commented on #1780
We'll do, Mike. Thanks for pointing out the missing resource.

[2021-09-30 15:17] MikeMcC399 commented on #1168
PR https://github.com/corona-warn-app/cwa-website/pull/1774 reverted the change to gulpfile.js which suppressed the performance warning from webpack, so this issue is re-opened.

[2021-09-30 17:45] MikeMcC399 commented on #1781
https://www.deadlinkchecker.com gives some false positives for e-mail obfuscation and links with umlauts in them, but it does also find some dead links on https://www.coronawarn.app/en/ which in some cases have been there for quite a while.

For instance https://www.coronawarn.app/de/blog/2021-05-12-corona-warn-app-version-2-2/, which is four months old, includes a link

`<a href="+493049875401">+

[2021-10-01 08:26] GisoSchroederSAP commented on #1780
I just talked to the KBV headquarter. We'll receive the latest samples for form 10C and OEGD shortly to present those on our FAQ.
IT department reorganised the data pool and removed those (and other links).
Currently, there are no plans to update/change these forms.  But if so, we can call again to retrieve these updates manually.

[2021-10-01 09:20] dsarkar commented on #1781
@MikeMcC399  FYI https://github.com/corona-warn-app/cwa-website/pull/1786

[2021-10-01 13:03] MikeMcC399 opened #1790 "Bad links in news archive to bug-fixing image"
## Where to find the issue

- https://www.coronawarn.app/en/blog/archive/ "News Archive" and
- https://www.coronawarn.app/de/blog/archiv/ "News Archiv"

## Describe the issue

https://www.deadlinkchecker.com/ fails on
- https://www.coronawarn.app/en/blog/archive/ "News Archive"
- https://www.coronawarn.app/de/blog/archiv/ "News Archiv"

due to a bad link to https://www.coronawarn.app/assets/img/ne

[2021-10-01 13:10] MikeMcC399 commented on #1790
PR #1791 submitted to fix this issue.

[2021-10-01 13:43] MikeMcC399 opened #1792 "Different analysis pages and their links"
## Where to find the issue

- https://www.coronawarn.app/en/analyse/
- https://www.coronawarn.app/de/analyse/
- https://www.coronawarn.app/en/analysis/
- https://www.coronawarn.app/de/analysis/

## Describe the issue

There are now 4 analysis pages published to production.

The two pages from a previous publication include "Analyse" in the header menu. (See https://github.com/corona-warn-app/cwa-w

[2021-10-01 14:04] MikeMcC399 commented on #1792
This issue is partially addressed by PR https://github.com/corona-warn-app/cwa-website/pull/1793.

[2021-10-01 14:14] dsarkar commented on #1792
@FabioFuschi-SNK FYI

[2021-10-01 14:14] MikeMcC399 commented on #1776
@dsarkar / @FabioFuschi-SNK / @mtb77

PR https://github.com/corona-warn-app/cwa-website/pull/1793 has added the navigation name "Analyse" back.

Originally it was "Analyse", then it was changed to "Analysis", now it is "Analyse" again,

Is that what you want it to be?

This issue pointed out the inconsistency of using a verb in that place when everything else in the menu is a noun.

[2021-10-01 14:28] mtb77 commented on #1776
Commented it in #1793

[2021-10-01 14:29] Ein-Tim opened #1795 "Question on the data shown on the analysis page"
## Your Question
* Website URL Path: https://www.coronawarn.app/de/analysis/
* Line / Paragraph: "Warnungen"
* Question: Where does the data for the "Warnungen" come from? The data donation?
Because https://www.coronawarn.app/assets/documents/2021-09-30-cwa-daten-fakten.pdf says:
"Es gibt keine Daten dazu, wie viele Menschen mit Hilfe der Corona- Warn-App über eine mögliche Risiko-Begegnung inform

[2021-10-01 14:31] MikeMcC399 commented on #1776
@mtb77

Thanks! I will leave this issue open until the naming is resolved.

[2021-10-01 14:32] Ein-Tim commented on #1627
I consider this as implemented with https://www.coronawarn.app/de/analysis/, although there are not all figures included which are included in the PDFs published by the RKI.
Still, the page could be extended over time and it is definitely a good start!

Closing this issue as implemented.

[2021-10-01 14:32] #1627 closed

[2021-10-01 14:33] MikeMcC399 commented on #1790
Verified fixed in production viewing

https://www.coronawarn.app/en/blog/archive/ "News Archive" and
https://www.coronawarn.app/de/blog/archiv/ "News Archiv"

with Internet Explorer.

[2021-10-01 14:33] #1790 closed

[2021-10-01 14:41] MikeMcC399 commented on #1792
@Ein-Tim

That is what I meant when I wrote:

The first part of the issue reported is not yet resolved.

[2021-10-01 14:55] MikeMcC399 commented on #1781
Thanks to @dsarkar and @mtb77 for implementing the link check in cypress! 🚀

The test does not yet run error free and this should be covered in separate issues.

Closing this request now, since the request has been implemented and it is now just a case of fixing some bad links and ensuring that the script errors really only occur when there is an actual error. This is just a small and manageable n

[2021-10-01 14:55] #1781 closed

[2021-10-01 14:57] Ein-Tim commented on #1792
@MikeMcC399

Ah, sorry, I didn't understand this. (:

[2021-10-01 15:24] MikeMcC399 opened #1796 "Bad link to app hotline in May 12, 2021 blog (DE)"
## Where to find the issue

https://www.coronawarn.app/de/blog/2021-05-12-corona-warn-app-version-2-2/

## Describe the issue

This issue was mentioned also in https://github.com/corona-warn-app/cwa-website/issues/1781#issuecomment-931533115.

https://www.coronawarn.app/de/blog/2021-05-12-corona-warn-app-version-2-2/ contains a bad hyperlink to the app hotline dialed from outside Germany.

### Ste

[2021-10-01 16:16] MikeMcC399 commented on #1796
Verified fixed on https://github.com/corona-warn-app/cwa-website/blob/master/blog/2021-05-12-cwa-2-2/index_de.md with

- Google Chrome on Windows 10
- Samsung Internet Browser on Android 11

Closing as fixed.

[2021-10-01 16:16] #1796 closed

[2021-10-01 16:50] dsarkar commented on #1780
@MikeMcC399 FYI PR https://github.com/corona-warn-app/cwa-website/pull/1799

[2021-10-01 16:53] #1780 closed

[2021-10-01 17:03] dsarkar commented on #1776
@MikeMcC399 @mtb77 @FabioFuschi-SNK FYI PR https://github.com/corona-warn-app/cwa-website/pull/1800

[2021-10-01 17:22] MikeMcC399 commented on #1776
The name has been changed to "Analysis" in PR #1800 which resolves this issue, so now closing.

Thanks very much to @dsarkar ! 👍🏻

[2021-10-01 17:23] #1776 closed

[2021-10-01 19:24] MikeMcC399 opened #1803 "Missing graphic in CWA 2.4 announcement (EN)"
## Where to find the issue

https://www.coronawarn.app/en/blog/2021-06-24-cwa-version-2-4/ "Project team releases rapid test partner search and Corona-Warn-App version 2.4 with digital test certificate"

## Describe the issue

There is a missing graphic in the English blog post https://www.coronawarn.app/en/blog/2021-06-24-cwa-version-2-4/. Instead of an image, only the text "Teststelle unterstütz

[2021-10-01 23:29] Ein-Tim commented on #1795
After switching to "Gesamter Zeitraum" and looking at the "Warnungen" graph again, I'm pretty sure that the data comes from the PPA (it starts in March when the data donation was first included into the apps).
It would still be good to get an official answer on this and I think this would be worth a short notice on the page, maybe under the "i" of the "Warnungen" card?

[2021-10-02 19:18] Ein-Tim opened #1805 "`vac_cert_voluntary` needs update (Berlin requires digital certificate)"
## Where to find the issue
- https://www.coronawarn.app/de/faq/#vac_cert_voluntary
- https://www.coronawarn.app/en/faq/#vac_cert_voluntary

## Describe the issue
The FAQ entry https://www.coronawarn.app/en/faq/#vac_cert_voluntary states that the yellow vaccination booklet can be used and equivalent to the EU digital vaccination certificate. However Berlin is now requiring a digital proof of vaccin

[2021-10-03 15:44] MikeMcC399 commented on #1775
https://www.coronawarn.app/en/analyse/ no longer shows an incomplete page.

It may however be superfluous, which is covered by a new issue https://github.com/corona-warn-app/cwa-website/issues/1792.

Closing this issue, since this point is resolved.

Also the new page https://www.coronawarn.app/en/analysis/ and https://www.coronawarn.app/de/analysis/ are working too.

[2021-10-03 15:44] #1775 closed

[2021-10-03 18:37] Ein-Tim opened #1806 "Analysis page: Bad performance"
## Where to find the issue
- https://www.coronawarn.app/de/analysis/
- https://www.coronawarn.app/en/analysis/

## Describe the issue
The analysis page is very unresponsive and slow.
Here's a video:

https://user-images.githubusercontent.com/67682506/135767003-2d5e380f-e9ca-4f1f-a2df-b020a7769dce.mp4

[2021-10-04 08:13] dsarkar commented on #1806
@Ein-Tim Thanks for reporting. @FabioFuschi-SNK FYI. Any proposals how to approach this issue? Thanks.

[2021-10-04 08:27] MikeMcC399 commented on #1806
@Ein-Tim
For performance issues it's good to have an actual measurement, like you click on a certain button and it took a measured amount of time to produce a result.
If you have the current value, then you should specify the maximum expected value that you would consider acceptable.

Finally it would be good to know what system you were using and what the network parameters were.

---
I timed wha

[2021-10-04 08:46] MikeMcC399 commented on #1806
@Ein-Tim
Using browser developer tools it seems that the action you were taken is just redrawing the graphs without using any network connection, so that will probably depend on the processing power of your system. It will be interesting to see the response from @FabioFuschi-SNK in any case.

[2021-10-04 10:50] dsarkar commented on #1805
![image](https://user-images.githubusercontent.com/1409741/135838880-efd36ae0-791f-404a-a6e9-9f3d7cabeab1.png)

[2021-10-04 11:55] dsarkar commented on #1805
@Ein-Tim @MikeMcC399  Thanks. Suggestion to update https://www.coronawarn.app/de/faq/#vac_cert_voluntary

(bold => new text/changes)

Bin ich verpflichtet, den digitale Impfnachweis in der Corona-Warn-App zu nutzen? Wird es trotzdem noch den gelben analogen Impfausweis geben? Kann ich meinen gelben Impfausweis auch weiterhin benutzen? Was ist mit Personen, die kein Smartphone besitzen?

**Im Allge

[2021-10-04 12:11] MikeMcC399 commented on #1805
@dsarkar
"vorzulegen zu haben." => "vorzulegen haben." ?
Also, `&nbsp;` after § symbol.

Maybe also mention: ?
Digitale Zertifikate können nachträglich durch Apotheken ausgestellt werden.

[2021-10-04 12:33] MikeMcC399 opened #1810 "Reference to use of paper certificate for validation unclear / not always true"
## Where to find the issue

https://www.coronawarn.app/en/faq/#vac_cert_verification "How is the proof of vaccination verified?"

which says:

"Alternatively, proof with the paper-based vaccination document is possible."

---
https://www.coronawarn.app/de/faq/#vac_cert_verification "Wie soll der Nachweis einer Impfung geprüft werden können?"

which says:

"Alternativ ist ein Nachweis mit dem analo

[2021-10-04 13:12] Ein-Tim commented on #1806
@MikeMcC399

I agree with you, but as you can see, in the end of the video, the site just does not produce a result at all anymore.

You're right! As always, I did this testing with my Mac Book Air 2020 (M1) and used Safari. I also tested under Edge (Chromium based), same result. I was connected to the internet via 5 GHZ WLAN with:
- Ping: 19 ms
- Download: 108.66 Mbps
- Upload: 43.02 Mbps

---

T

[2021-10-04 13:29] MikeMcC399 opened #1815 "Analysis page selection of display mode can't be changed"
## Where to find the issue

https://www.coronawarn.app/en/analysis/

## Describe the issue

After switching between different data display modes (Täglich / Wöchentlich / 7-Tage-Mittelwert / Kumuliert) with "Gesamter Zeitraum" selected, the browser will sometimes no longer react to a new selection of display mode. For instance the selection may be stuck on "7-Tage-Mittelwert".

It is possible thoug

[2021-10-04 13:47] Ein-Tim commented on #1815
Same here! This is also the main reason for my issue #1806. You can't switch between the modes after some time.

[2021-10-04 14:27] MikeMcC399 commented on #1815
@Ein-Tim

I didn't see that in your issue description from #1806 which is why I opened a separate issue. Thank you for confirming that you also have the switching issue (I assume with Safari browser).

[2021-10-04 16:45] Ein-Tim commented on #1815
No problem Mike! #1806 is more like a general issue, this one is perfectly good to still stay open! This bug should be addressed ASAP in my opinion.

[2021-10-04 17:13] MikeMcC399 opened #1817 "Local web build fails with no Internet connection"
## Where to find the issue

This repository https://github.com/corona-warn-app/cwa-website.

## Describe the issue

Attempting to build a local copy of the web to test, when no internet connection is available, fails with an error message:

`FetchError: request to https://obs.eu-de.otc.t-systems.com/obs-public-dashboard/json/v1/nested_cwa_public_dashboard_data.json failed, reason: getaddrinfo ENOT

[2021-10-04 19:31] HelTob commented on #1795
Hello Tim, this is Tobias from the CWA Team.
Yes, you're totally right, the data comes from the Privacy Preserving Analytics (PPA).
In the near future we will add some information about the sources of the data in the graphs.

Thanks for your contribution, keep it up!

Best regards,
Tobias

[2021-10-04 19:47] Ein-Tim commented on #1795
Hey @HelTob 👋

Thanks for your answer and thank you for the information that the sources can be seen on the page soon!

I'm looking forward for a great cooperation with you! Thank you for working at the Corona-Warn-App / RKI!

Have a nice evening!

---

Closing as answered.

[2021-10-04 19:47] #1795 closed

[2021-10-05 08:59] MikeMcC399 opened #1819 "Inconsistent use of absolute and relative paths to https://www.coronawarn.app"
## Where to find the issue

All of the website https://www.coronawarn.app.

## Describe the issue

Website repository sources inconsistently use absolute and relative paths to refer to locations on https://www.coronawarn.app.

For instance in faq.json #who_can_help
https://github.com/corona-warn-app/cwa-website/blob/44cf83c5d945f3c9a87b2846880b9f37e9b5af47/src/data/faq.json#L30

`"The various feed

[2021-10-05 11:14] FabioFuschi-SNK commented on #1817
@MikeMcC399 without fetching the dynamic data for the analysis dashboard, the dashboard will not work on local dev env.

[2021-10-05 11:34] FabioFuschi-SNK commented on #1806
The bad performance comes from the apexchart DOM rendering task. Especially Safari is on this task really slow, i measured time up to 15s on my Safari. The rendering time increases with the data points. The longer the period, the longer the graphs will take to render. That is not a bug, it is the normal behavior if the page.

[2021-10-05 12:11] Ein-Tim commented on #1806
@FabioFuschi-SNK

Ah, okay! Thanks for the explanation! Not only Safari has this problem, but Microsoft Edge (Chromium based) is also very slow.

Is there any alternative or any improvement possible here?
Because, sad to say, but the normal user will not wait more than ca. 10 sec. for the graphs to show up, if it just shows loading the normal user assumes somethings broken and leaves the page. 😅

[2021-10-05 12:35] jucktnich commented on #1806
@Ein-Tim you could show an explaining text after some secs

[2021-10-05 12:42] MikeMcC399 commented on #1779
This issue is remediated in PR #1820 by removing the dead link as a short-term measure, since it is not helpful to users to leave a non-functioning link in the FAQs.

Issue #1783 should now be used to research if there is an alternative to the removed RKI document https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Buerger/Orientierungshilfe_Buerger_de.pdf?_blob=publicationFile.

[2021-10-05 12:43] MikeMcC399 commented on #1783
This is a reminder to check if there is a replacement for the RKI document

https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Buerger/Orientierungshilfe_Buerger_de.pdf?_blob=publicationFile

mentioned in the now closed issue https://github.com/corona-warn-app/cwa-website/issues/1779.

[2021-10-05 13:08] MikeMcC399 commented on #1817
@FabioFuschi-SNK

I understand that the dashboard needs dynamic data. I don't understand though why that must be part of the build process.

Is it possible to pull the dynamic data in real time after the web is started instead of making it part of the build?

If the data is only downloaded when the web is built, what happens to data updates which happen days later?

[2021-10-05 13:48] dsarkar commented on #1819
@MikeMcC399 Thanks for this report. We should use relative paths.

[2021-10-05 14:02] #1805 closed

[2021-10-05 14:21] Ein-Tim commented on #1806
@jucktnich

Would be one option, however, normal users will still not wait for more than ca. 15 sec. (I assume).
In general it's really sad that this is the intended behavior, if it's already slow on my MacBook Air with a M1 chip, mid- or low-end devices must be very slow on displaying the pages content...

[2021-10-05 14:26] jucktnich commented on #1806
Wouldn't it be an idea to create svg pictures to show instead for a locally generated graph? (Or even only as a placeholder?)

[2021-10-05 15:54] MikeMcC399 opened #1824 "Dead links to mp4 files in science blog"
## Where to find the issue

For example:
https://www.coronawarn.app/en/science/2021-06-15-science-blog-1

## Describe the issue

Link checkers such as https://www.deadlinkchecker.com or the enhancements to the cypress link checker in PR https://github.com/corona-warn-app/cwa-website/pull/1816 from @brifemu (See comment https://github.com/corona-warn-app/cwa-website/pull/1816#issuecomment-934351593

[2021-10-05 16:03] MikeMcC399 commented on #1819
@dsarkar

Many thanks for your confirmation! That is my view too!

I will submit a PR to change absolute links to relative links for the FAQs only. There are not so many of them in the FAQs. Now we have the link check tool it will be possible to verify the changes automatically.

[2021-10-05 16:50] Ein-Tim commented on #1806
@FabioFuschi-SNK

Is there an alternative available? Because, e.g. I don't have any performance problems viewing [WHOs corona dashboard](https://covid19.who.int/).

[2021-10-05 18:07] Ein-Tim opened #1825 "Include `check_links.js` check into GitHub workflow (build and test)"
## Feature description
I suggest to integrate the `check_links.js` check, which currently has to be run manually on a local instance of the website, into the build and test GitHub Action which runs for every commit in a PR:

## Problem and motivation
This feature would save work and broken links can be found more easily.

[2021-10-05 18:35] MikeMcC399 commented on #1825
@Ein-Tim
That sounds like a good idea!

The script does need to mature a little before it becomes part of an automated process and there are some other issues right now, like https://github.com/corona-warn-app/cwa-website/issues/1824.

It there are link issues, the log file is not very helpful in finding the exact cause. You still need to run test manually to find out which link is failing.

Here

[2021-10-06 07:49] Ein-Tim commented on #1825
@dsarkar

Mh, okay. You're right, 10 min is quite long.

Maybe there's a way to make it run faster, somehow? E.g. running the tests for each page via different, independent workflows which all run simultaneously?

I still that this should be implemented, of course not if it takes 10 min, but this would be a huge improvement as failing checks here on GitHub are better visible and each and every com

[2021-10-06 11:31] MikeMcC399 opened #1829 "FAQs use absolute link to https://www.coronawarn.app in some articles"
## Where to find the issue

### [faq.json](https://github.com/corona-warn-app/cwa-website/blob/master/src/data/faq.json)

- #who_can_help
- #non_dev_related
- #migration_Apple
- #API10
- #cause_3

### [faq_de.json](https://github.com/corona-warn-app/cwa-website/blob/master/src/data/faq_de.json)

- #who_can_help
- #non_dev_related
- #API10
- #cause_3

## Describe the issue

Some FAQ articles are us

[2021-10-06 11:35] MikeMcC399 commented on #1829
PR https://github.com/corona-warn-app/cwa-website/pull/1830 submitted to resolve this issue.

[2021-10-06 11:45] jucktnich commented on #1806
Btw for me (iOS 15.1 Public Beta 2; iPad Air 4; A14 Bionic; SFSafariViewController (parent process GitHub)) it's pretty fast. Weird, maybe there was an improvement with WebKit 15 (and macs don't got the new update yet)?

[2021-10-06 11:46] dsarkar commented on #1824
FYI https://github.com/corona-warn-app/cwa-website/pull/1828

[2021-10-06 13:04] MikeMcC399 commented on #1829
Verified after changes from #1830 merged:

#### EN

For https://www.coronawarn.app/en/faq/ open each of the articles in a web browser, click and check each of the links in the article:

- https://www.coronawarn.app/en/faq/#who_can_help
- https://www.coronawarn.app/en/faq/#non_dev_related
- https://www.coronawarn.app/en/faq/#migration_Apple
- https://www.coronawarn.app/en/faq/#API10
- https://www.c

[2021-10-06 13:04] #1829 closed

[2021-10-06 13:13] MikeMcC399 commented on #1824
This issue is resolved by PR https://github.com/corona-warn-app/cwa-website/pull/1828.

## Verification

1. Open https://www.deadlinkchecker.com
2. Check single webpage https://www.coronawarn.app/en/science/2021-06-15-science-blog-1

[code]

Thanks to @browkin!

[2021-10-06 14:24] MikeMcC399 opened #1833 "Missing link to icon file for web top level"
## Where to find the issue

https://www.coronawarn.app/index.html

## Describe the issue

Running https://www.deadlinkchecker.com on https://www.coronawarn.app produces the error

Error |	URL	| Anchor Text |	Linked From
--- | --- | --- | ---
403 Forbidden | https://www.coronawarn.app/assets/img/icons/ | link/href | https://www.coronawarn.app

## Analysis

https://www.coronawarn.app/index.html
incl

[2021-10-06 14:33] MikeMcC399 commented on #1803
PR #1803 is merged.

Confirmed that https://www.coronawarn.app/en/blog/2021-06-24-cwa-version-2-4/ no longer contains a bad link, so now closing.

[2021-10-06 14:33] #1803 closed

[2021-10-06 14:39] dsarkar commented on #1833
@MikeMcC399 Thanks. We will have a look at this issue.

[2021-10-06 17:08] MikeMcC399 commented on #882
This issue is no longer reproducible on
- Samsung Galaxy A5 (2017) SM-A520F
- Browser: Google Chrome

It is now possible to scroll down to the last item "Resolved" on https://www.coronawarn.app/en/faq/.

Scrolling also works on
https://www.coronawarn.app/en/screenshots.

[2021-10-06 17:08] #882 closed

[2021-10-06 20:57] bugleugner opened #1834 "Import Features from other German Corona apps"
Hello,
is it possible to import the features of the "CovPass Check" and the "CovPass" Apps?

In Detail:

1. From the "CovPass Check" app the ability to prove the validity of COVID-certificates and,
2. from "CovPass" app to save the imported COVID-certificate as an pdf-file.

These features would make the app more useful, also the other two obsolete. The main improvement would be Nr. 1, because man

[2021-10-07 07:32] Ein-Tim opened #1835 "`eu_dcc_validity` FAQ entry is missing information on where to renew certificates"
## Where to find the issue
- https://www.coronawarn.app/en/faq/#eu_dcc_validity
- https://www.coronawarn.app/de/faq/#eu_dcc_validity

## Describe the issue
The FAQ entry is missing information what to do after the certificate got invalid. Should the certificate be renewed? If yes, where? And how if there was no booster vaccination, according to the FAQ entry the vaccination protection only lasts o

[2021-10-07 10:07] MikeMcC399 opened #1836 "check_links.js does not find bad hyperlinks to bookmarks"
## Where to find the issue

[cypress/integration/check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js)

## Describe the issue

[check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js) does not find bad links to bookmarks.

### Steps to reproduce

1. Introduce a bookmark hyperlink error i

[2021-10-07 11:36] MikeMcC399 opened #1837 "Typo in Analysis Warnungen Infotext"
## Where to find the issue

https://www.coronawarn.app/de/analysis/ > Warnungen > i

"**Weitere Informationen**

Eine grüne Risikowarnung erhalten Nutzende, die in den letzten 14 Tagen eine kurze und/oder räumlich entfernte Begegnung mit einer Corona-positiv getesteten Person hatten. Die Begegnung lag somit nicht über dem definierten Schwellenwert. Für die betroffenen Nutzenden besteht kein aktive

[2021-10-07 12:00] MikeMcC399 commented on #1837
@Ein-Tim

Thank you for your second opinion!

PR https://github.com/corona-warn-app/cwa-website/pull/1838 is created and ready for merging to correct this issue.

[2021-10-07 14:12] #1837 closed, assigned to dsarkar

[2021-10-07 14:36] MikeMcC399 opened #1839 "check_links.js does not save name of link error to log"
## Where to find the issue

[cypress/integration/check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js)

## Describe the issue

If [check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js) finds a bad link and it is run together with the other cypress scripts only the failing source file i

[2021-10-08 07:16] MikeMcC399 commented on #1836
I thought it might be possible to use `npm run-script checklinks`  from the [cwa-documentation repository](https://github.com/corona-warn-app/cwa-documentation)  that makes use of [markdown-link-check](https://www.npmjs.com/package/markdown-link-check) on *.md files which are used in the [blog](https://github.com/corona-warn-app/cwa-website/tree/master/blog) and [science](https://github.com/corona

[2021-10-08 08:34] MikeMcC399 opened #1842 "Delayed roll-out of CWA 2.11 Android?"
## Your Question

According to https://www.coronawarn.app/en/blog/2021-10-06-cwa-version-2-11/
**Corona-Warn-App version 2.11 simplifies QR code scanning**
Hanna Heine, 10:00 Uhr, October 6, 2021 @HannaHei

"Version 2.11 - like previous versions - will be delivered in a staged rollout and is made available for users in waves. While users can manually trigger an update in Apple’s App Store, this op

[2021-10-08 09:04] MikeMcC399 opened #1843 "Request to add PPA (Privacy Preserving Analytics) to Glossary"
## Enhancement request to Glossary

Please add the term PPA (Privacy Preserving Analytics) to the [Glossary](https://www.coronawarn.app/en/faq/#glossary) and link to the entry [Data Donation](https://www.coronawarn.app/en/faq/#glossary_data_donation).

## Reason for request

The term is used in the Analysis text for https://www.coronawarn.app/en/analysis/ > Warnungen > i symbol where it says:

"Da

[2021-10-08 11:53] MikeMcC399 opened #1845 "Dead anchor links in science 2 blog"
## Where to find the issue

This issue has also been mentioned in https://github.com/corona-warn-app/cwa-website/issues/1836#issuecomment-937977580.

### Science Blog 2 (EN)

https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/ "Who are the people using the Corona-Warn-App?"

- [Table of Contents: 2.4 Basic survey](https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/#24-bas

[2021-10-08 13:34] #1845 closed, assigned to nobody

[2021-10-08 14:34] dsarkar commented on #1653
fixed

[2021-10-08 14:34] #1653 closed

[2021-10-08 14:34] #1676 closed, assigned to dsarkar

[2021-10-08 14:35] MikeMcC399 commented on #1845
I have manually checked all links in:

- https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/ "Who are the people using the Corona-Warn-App?"

- https://www.coronawarn.app/de/science/2021-07-08-science-blog-2/ "Wer sind die Menschen, die die Corona-Warn-App nutzen?"

after PR #1846 was merged and all links are working. 🙂

[2021-10-08 14:36] dsarkar commented on #1654
fixed, PR was merged.

[2021-10-08 14:37] dsarkar commented on #1652
@Marcono1234 This was recently fixed. Thanks for contributing here.

[2021-10-08 14:37] #1652 closed

[2021-10-08 15:39] MikeMcC399 opened #1847 "TCN Coalition website moved"
## Where to find the issue

https://www.coronawarn.app/en/ and

In the paragraph:

**Decentralized approach**
The architecture follows a decentralized approach – based on the [DP-3T](https://github.com/DP-3T/documents) and [TCN](https://tcn-coalition.org/) protocols, as well as the Privacy-Preserving Contact Tracing specifications by Apple and Google.

https://www.coronawarn.app/de/

similarly in:

[2021-10-08 16:04] #1847 closed, assigned to nobody

[2021-10-08 16:39] MikeMcC399 commented on #1819
The pages:

- https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/ "Who are the people using the Corona-Warn-App?" and
- https://www.coronawarn.app/de/science/2021-07-08-science-blog-2/ "Wer sind die Menschen, die die Corona-Warn-App nutzen?"

from Science Blog 2 are now converted to use relative paths due to the merger of PR #1846.

[2021-10-09 09:37] dsarkar commented on #1842
@vaubaehn @MikeMcC399 R 2.11.2 is being rolled out currently.

[2021-10-09 10:51] MikeMcC399 commented on #1842
@dsarkar

Thanks! CWA Android 2.11.2 has now arrived in my Google account and I have installed it.

I will leave this issue open for another 48 hours until midday Monday, Oct 11, 2021, in case anybody else has problems.

[2021-10-11 06:51] MikeMcC399 opened #1850 "Obsolete science blog 2 file"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-07-08-science-blog-2/index_de_old.md

## Describe the issue

The file [index_de_old.md](https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-07-08-science-blog-2/index_de_old.md) in the [master](https://github.com/corona-warn-app/cwa-website/tree/master) branch of [corona-warn-app

[2021-10-11 07:40] dsarkar commented on #1792
@MikeMcC399 Thanks, yes, we will have a look!

[2021-10-11 09:29] #1850 closed, assigned to dsarkar

[2021-10-11 10:24] dsarkar commented on #1833
@MikeMcC399 Thanks a lot, your PR was merged.

[2021-10-11 11:04] #1833 closed, assigned to nobody

[2021-10-11 11:42] MikeMcC399 opened #1854 "2.12.0-RC changes Start Screen / Startseite name to Status"
## Where to find the issue

Many FAQ articles on https://www.coronawarn.app.

## Describe the issue

If CWA Android 2.12.x is released with no further change, then all references in the FAQs to "Start Screen" (EN) or "Startseite" will need to be changed. The tab for the start screen is labelled "Status" in both English and German in release/2.12.x.

## Suggested change

So that the FAQ articles ar

[2021-10-11 12:09] MikeMcC399 commented on #1854
@Ein-Tim

Thank you. I removed Android from the title of this issue.

[2021-10-11 12:38] MikeMcC399 commented on #1819
@dsarkar
The PR https://github.com/corona-warn-app/cwa-website/pull/1816 to be able to automatically check links in blogs should be completed before we start working on links in the blog.

[2021-10-11 16:50] MikeMcC399 commented on #1783
Merged PR #1852 has updated the link to the current "Verordnung zum  Anspruch  auf  Testung in  Bezug  auf  einen  direkten  Erregernachweis  des  Coronavirus  SARS-CoV-2 (Coronavirus-Testverordnung  –  TestV) Vom  21.  September  2021" which came into force on October 11, 2021 using link
https://www.bundesanzeiger.de/pub/publication/EaknuyebqGE4JSI7pwk/content/EaknuyebqGE4JSI7pwk/BAnz%20AT%2021.0

[2021-10-12 12:37] MikeMcC399 opened #1861 "Inconsistent spelling "traveling" / "travelling" in FAQs"
## Where to find the issue

https://www.coronawarn.app/en/faq/#eu_dcc_check "How are certificates verified by third parties?"

Last paragraph:

"You can check certificates for validity on your own directly in the Corona-Warn-App without the need of using the CovPassCheck-App. For more information, see the blog <a href='../blog/2021-07-28-cwa-version-2-6/' target='_blank' rel='noopener noreferrer'>

[2021-10-13 07:27] MikeMcC399 opened #1864 "check_link.js fails some checks to github.com with http 429 error"
## Where to find the issue

[check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js)

## Describe the issue

When the cypress test script [check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js) runs, it sometimes produces failures testing links to https://github.com, recording error 429 (

[2021-10-13 07:44] #1861 closed

[2021-10-13 12:58] Ein-Tim opened #1867 "Wrong free of charge test information in FAQs"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#vac_cert_red_warning
- https://www.coronawarn.app/de/faq/#vac_cert_red_warning
- https://www.coronawarn.app/en/faq/#rat_red_card_which_test
- https://www.coronawarn.app/de/faq/#rat_red_card_which_test

## Describe the issue

The FAQ entries linked to above all mention that one has the right (by law) to get tested with a PCR test if t

[2021-10-14 07:38] Ein-Tim commented on #1867
@MikeMcC399

This would be the easiest way for us.
But the user would be left alone with the information that we recommend a PCR test, but the user thinks that they have to pay for it.
In the end this could lead to the situation that the user doesn't get tested at all, which would be the worst option.

IHMO the RKI has to decide on this, however, as long as there is no decision, we should removed

[2021-10-14 09:19] dsarkar commented on #1355
@MikeMcC399 Thanks. Internal Tracking ID: [EXPOSUREAPP-10003](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-10003)

[2021-10-14 15:01] #1867 closed, assigned to dsarkar

[2021-10-14 16:04] MikeMcC399 commented on #1355
@Ein-Tim

Thank you for noticing the statement on https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.html where it says:

---
<h2>Kennzahlen-Dashboard zur Corona-Warn-App</h2>
<p>Seit mehr als einem Jahr veröffentlicht das Projektteam (Robert Koch-Institut, SAP, Deutsche Telekom) regelmäßig Kennzahlen zur Corona-Warn-App. Dies ist ein wichtiger Beitrag zur Transparenz, d

[2021-10-14 17:26] MikeMcC399 opened #1877 "Error result from Uni Wuppertal survey linked from blog"
## Where to find the issue

- https://www.coronawarn.app/en/blog/2021-02-23-corona-warn-app-survey/ "Corona-Warn-App Survey"
- https://www.coronawarn.app/de/blog/2021-02-23-corona-warn-app-survey/ "Umfrage zur Corona-Warn-App"

## Describe the issue

The link https://umfrage.uni-wuppertal.de/index.php/765823?lang=de embedded in the blog leads to an error message:

---
Fehler

Es tut uns leid, aber

[2021-10-15 08:42] MikeMcC399 opened #1881 "Add complete screenshots for red exposure advice"
## Feature description

The screenshots for Android and iOS concerning the recommendations after receiving a red warning are quite incomplete. There should be a screenshot which shows all the details, which means using multiple screens for the size of device used to capture the screenshots.

From https://www.coronawarn.app/en/screenshots/#ios_cards

![iPhone 11 Pro-details_screen_risk_level_high_r

[2021-10-15 11:59] MikeMcC399 commented on #1355
Also the FAQ article https://www.coronawarn.app/en/faq/#numbers_RKI which says:

<p>The Robert Koch Institute provides current numbers and statistics <a href='https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Archiv_Kennzahlen/WarnApp_KennzahlenTab.html' target='_blank' rel='noopener noreferrer'>on their website</a> (in German).</p>

needs to be updated if the page referred to (

[2021-10-15 12:53] Ein-Tim opened #1889 "Version 2.7 announcement blog post uses screenshot from a version which was never released"
## Where to find the issue
German Version 2.7 announcement blog post: https://www.coronawarn.app/de/blog/2021-08-16-cwa-version-2-7/
Image: https://www.coronawarn.app/assets/img/blog/2021-08-16-CWA-2-7/impfzertifikat-ablaufdatum.png

## Describe the issue
The screenshot is not from a version which was published. No app version showed or shows the technical expiration date there where this screensh

[2021-10-15 13:08] Ein-Tim commented on #1889
@MikeMcC399 This is an issue with the blog, not with the screenshot page.

[2021-10-16 06:15] #1889 closed

[2021-10-16 20:47] Ein-Tim opened #1893 "Bad wording in Science Blog 4"
## Where to find the issue
https://www.coronawarn.app/de/science/2021-10-15-science-blog-4/#32-erhobene-daten (3.2.6)

## Describe the issue
In paragraph 3.2.6 in the section "Schlüsselteilung mit Metadaten der Endgeräte" there is one bullet point "Schlüsselteilung nach Abbruch des Schlüsselteilungsprozesses?".
This sounds like, to me, one did not want to share their keys but the app still shared

[2021-10-18 09:52] MikeMcC399 commented on #1843
@dsarkar / @larswmh

https://www.coronawarn.app/en/faq/#glossary_ppa and
https://www.coronawarn.app/de/faq/#glossary_ppa

have been created which simply link to

https://www.coronawarn.app/en/faq/#glossary_data_donation and
https://www.coronawarn.app/de/faq/#glossary_data_donation respectively

I thought you might want to explain what PPA is.

There is an explanation on https://www.coronawarn.app/

[2021-10-18 10:33] MikeMcC399 opened #1903 "Retirement of weekly reports"
## Where to find the issue

### FAQs: CWA numbers and statistics

- https://www.coronawarn.app/en/faq/#numbers_RKI "Where do I find numbers and statistics about the Corona-Warn-App?"
- https://www.coronawarn.app/de/faq/#numbers_RKI "Wo finde ich Zahlen und Statistiken über die Nutzung der Corona-Warn-App?"

![image](https://user-images.githubusercontent.com/66998419/137714541-0a029cc5-a02f-4f83-99

[2021-10-18 10:58] MikeMcC399 opened #1904 "FAQ: Out of date "Do I have to use this app?""
## Where to find the issue

https://www.coronawarn.app/en/faq/#have_to_use "Do I have to use this app?"

![Have_to_use_EN](https://user-images.githubusercontent.com/66998419/137717896-192e5583-e716-4f99-898e-aa6c5dd68352.jpg)

https://www.coronawarn.app/de/faq/#have_to_use "Muss ich diese App verwenden?"

![Have_to_use_DE](https://user-images.githubusercontent.com/66998419/137717925-49760733-4237-

[2021-10-18 11:40] dsarkar commented on #1402
@MikeMcC399 FYI PR https://github.com/corona-warn-app/cwa-website/pull/1905

[2021-10-18 12:34] dsarkar opened #1908 "New FAQ #notification_settings"
A link to an FAQ is added which explains the details of the dedicated OS
- **DE** https://www.coronawarn.app/de/faq/#notification_settings
- **EN** https://www.coronawarn.app/en/faq/#notification_settings

**DE FAQ text**

Die Einstellungen für Mitteilungen werden ab Version 2.12 einheitlich in den Geräteeinstellungen Ihres Smartphones verwaltet.
Sie können hier festlegen, ob:
- Sie generell Mitte

[2021-10-18 14:59] #1854 closed, assigned to dsarkar

[2021-10-19 07:08] dsarkar commented on #1843
@MikeMcC399 Thanks. https://github.com/corona-warn-app/cwa-website/pull/1912

[2021-10-19 07:35] MikeMcC399 commented on #1843
This issue is now resolved. Thanks to @larswmh and @dsarkar for responding!

[2021-10-19 07:35] #1843 closed

[2021-10-19 09:06] dsarkar opened #1914 "New FAQ R2.12 #root_detection_android"
R 2.21 CWA links to FAQ
- DE https://www.coronawarn.app/en/faq/#root_detection_android
- EN https://www.coronawarn.app/de/faq/#root_detection_android

**DE**

[Google/Android]: Warum erhalte ich eine Benachrichtigung bezüglich Administrator-Berechtigungen (Root-Berechtigungen)?

Es handelt sich bei dieser Benachrichtigung um einen Sicherheitshinweis: Die Corona-Warn-App hat auf Ihrem Gerät Anzeich

[2021-10-19 09:21] #1908 closed, assigned to dsarkar

[2021-10-19 10:00] MikeMcC399 commented on #1819
Now closing, as the original issue: "Website repository sources inconsistently use absolute and relative paths to refer to locations on https://www.coronawarn.app." has been resolved and the suggestion to "update contribution best practice documentation accordingly." has been implemented in [WRITE_BLOG_POSTS.md#link-to-other-locations](https://github.com/corona-warn-app/cwa-website/blob/master/doc

[2021-10-19 10:10] dsarkar commented on #1201
@Ein-Tim  @DerVogel2020 FYI PR https://github.com/corona-warn-app/cwa-website/pull/1917

[2021-10-19 11:45] Ein-Tim commented on #1705
@dsarkar Agreed.

[2021-10-19 11:45] #1705 closed

[2021-10-19 12:13] dsarkar commented on #1914
merged.

[2021-10-19 12:13] #1914 closed

[2021-10-19 13:09] dsarkar commented on #1792
@MikeMcC399 We will check your proposal at some point. We from the community team do not have access.

[2021-10-19 17:42] MikeMcC399 opened #1922 "FAQs don't redisplay in right place after browser resizing"
## Where to find the issue

https://www.coronawarn.app/en/faq/

## Describe the issue

When reading an FAQ article then resizing the browser the article is not always still displayed and re-entering the same link does not change the display.

### Steps to reproduce

1. Open Google Chrome on Desktop maximized i.e. it fills the screen.
2. Enter "https://www.coronawarn.app/en/faq/#eu_dcc_which" into

[2021-10-20 09:09] MikeMcC399 opened #1929 "Knock-on for planned change of main FAQ location in 2.13"
In the planned CWA 2.13 release the FAQ link in the app is changed from:

**EN**
https://www.bundesregierung.de/corona-warn-app-faq-englisch to
https://www.coronawarn.app/en/faq/

**DE**
https://www.bundesregierung.de/corona-warn-app-faq to
https://www.coronawarn.app/de/faq/

(See for instance Android PR https://github.com/corona-warn-app/cwa-app-android/pull/4179).

Should the references in https

[2021-10-20 11:20] dsarkar commented on #1815
@MikeMcC399 FYI PR https://github.com/corona-warn-app/cwa-website/pull/1930

[2021-10-20 12:18] MikeMcC399 opened #1932 ""Uhr" in Timestamp of English blog"
## Where to find the issue

https://www.coronawarn.app/en/blog/2021-10-06-cwa-version-2-11
https://www.coronawarn.app/en/blog/2021-09-22-cwa-version-2-10
https://www.coronawarn.app/en/blog/2021-08-16-cwa-version-2-7

## Describe the issue

Several English-language blog posts have a time-stamp with the text "Uhr" which is only correct for German-language blog posts

- Hanna Heine, 10:00 Uhr, on Oct

[2021-10-21 10:14] MikeMcC399 opened #1939 "Image issues in FAQ #warn_for_others"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#warn_for_others "How can I warn for others?"
- https://www.coronawarn.app/de/faq/#warn_for_others "Wie kann ich in Vertretung warnen?"

## Describe the issue

- The screenshot [warn_for_others2.png](https://www.coronawarn.app/assets/img/faq/warn_for_others2.png) does not fit the sequence of "warn for others". It shows "No QR codes cr

[2021-10-21 10:40] dsarkar commented on #1836
@MikeMcC399 Sure, open an issue and we try to look into that ASAP. Thanks!

[2021-10-21 11:40] MikeMcC399 commented on #1929
link to #1940

[2021-10-21 11:49] Ein-Tim opened #1944 "Release 2.13: Create a FAQ entry: „What features does coronawarn.app offer me?“"
## Feature description

As version 2.13 will change the FAQ links in the app from the Breg page to coronawarn.app, we should give a little overview what features & information is available on the page.
It should be placed on the very top of the FAQs, as this is what a user seed when he/she click on the "Frequently Asked Questions" card in the app.

## Problem and motivation

As we want the website

[2021-10-21 12:25] #1836 closed, assigned to dsarkar

[2021-10-21 12:34] larswmh commented on #1939
This issue is resolved by PR #1941

[2021-10-21 12:34] #1939 closed

[2021-10-21 12:54] Ein-Tim commented on #1146
@dsarkar

Thanks!

Closing as implemented.

[2021-10-21 12:54] MikeMcC399 commented on #1939
@larswmh

Thank you for fixing this issue!

All the points mentioned have been addressed.

[2021-10-21 13:45] #1864 closed, assigned to dsarkar

[2021-10-21 13:49] dsarkar commented on #1436
@MikeMcC399 FYI PR https://github.com/corona-warn-app/cwa-website/pull/1934

[2021-10-21 13:49] brifemu commented on #1922
We have tested it on Firefox and Safari, and it works correctly. Researching, we have discovered that it is a Google Chrome bug.

[2021-10-21 18:27] MikeMcC399 opened #1947 "Cypress version 8.6.0"
Currently the cwa-website is set to use Cypress 7.6.0
https://github.com/corona-warn-app/cwa-website/blob/e0d6138231e625146c71b1fd17837e7bec0e4946/package.json#L66

There is a new version of Cypress, 8.6.0, available. See Cypress documentation regarding:

- [Changelog](https://docs.cypress.io/guides/references/changelog)
- [Migration Guide](https://docs.cypress.io/guides/references/migration-guide

[2021-10-22 07:53] #1947 closed, assigned to nobody

[2021-10-22 08:42] MikeMcC399 opened #1950 "Corona-Warn needs an update (Android - Google Play Store)"
I am seeing a message like from PR https://github.com/corona-warn-app/cwa-app-android/pull/4046 when I open CWA 2.11.2 (the previous release)

<img alt="Screenshot 2021-09-21 at 17 56 56" width="300" src="https://user-images.githubusercontent.com/25054729/134205738-427b7e3b-6166-4c21-9bb1-7c8d9147967a.png">

- Is there now a forced migration from CWA Android 2.11.x to CWA Android 2.12.x?
- Is this

[2021-10-22 15:08] #1950 closed, assigned to nobody

[2021-10-22 17:16] MikeMcC399 opened #1953 "MathMenu failed to load error from science blog"
## Where to find the issue

Science blog https://www.coronawarn.app/en/science/

https://www.coronawarn.app/en/science/2021-06-15-science-blog-1/

## Describe the issue

Using Google Chrome to view https://www.coronawarn.app/en/science/2021-06-15-science-blog-1/ (or any of the other science blogs) a short message
Failed to load ...
appears and then disappears.

In F12 Developer Tool - Network

it

[2021-10-24 14:04] MikeMcC399 opened #1954 "Browserslist: caniuse-lite is outdated - error when building web"
## Where to find the issue

`npm run build` on https://github.com/corona-warn-app/cwa-website

## Describe the issue

Building [cwa-website](https://github.com/corona-warn-app/cwa-website) gives a new error message:
[code]

This error only started showing a couple of days ago.

npm packages are out of date.

### Steps to reproduce

1. Execute `npm run build`
2. Note message:<br>

[code]

## Sugges

[2021-10-24 14:11] MikeMcC399 opened #1955 "Web build causes git conflict"
## Where to find the issue

During build of [cwa-website](https://github.com/corona-warn-app/cwa-website) using `npm run build` when there is Internet connectivity.

The source of this issue is in [gulpfile.js](https://github.com/corona-warn-app/cwa-website/blob/master/gulpfile.js) which was modified by PR https://github.com/corona-warn-app/cwa-website/pull/1942.

## Describe the issue

After runn

[2021-10-25 10:07] #1955 closed, assigned to dsarkar

[2021-10-25 10:24] #1953 closed, assigned to dsarkar

[2021-10-25 13:26] MikeMcC399 opened #1960 "German language text in English Android vaccination screenshot"
## Where to find the issue

[Screenshots 2.12 -Android - Vaccination Certificate](https://www.coronawarn.app/en/screenshots/#android_vaccination_certificate)

https://www.coronawarn.app/assets/screenshots/2-12/en/android/VaccinationDetailsFragment_immune.png

## Describe the issue

The image https://www.coronawarn.app/assets/screenshots/2-12/en/android/VaccinationDetailsFragment_immune.png

contai

[2021-10-26 09:05] MikeMcC399 opened #1962 "Android 2.12.2 rollout?"
Google Play Store has given me CWA Android 2.12.2 (as in [tag/v2.12.2](https://github.com/corona-warn-app/cwa-app-android/releases/tag/v2.12.2)) to update.

Unfortunately one of the texts it was supposed to correct has gone wrong. See https://github.com/corona-warn-app/cwa-app-android/issues/4280 "Help for Key Figures / Trends shows "1%%" and "5%%" in text".

If the rollout continues, then
https:/

[2021-10-26 15:42] #1960 closed, assigned to dsarkar

[2021-10-26 16:06] #1962 closed, assigned to nobody

[2021-10-27 09:47] MikeMcC399 opened #1967 "README advice for node.js LTS needs qualifying"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website#requirements

## Describe the issue

https://github.com/corona-warn-app/cwa-website#requirements says:

"**Requirements**

You need the LTS version of [Node.js](https://nodejs.org/en/) (which includes npm) to build the website."

The LTS version of [Node.js](https://nodejs.org/en/) changed on Oct 26, 2021 to
- `Node 16.13.0

[2021-10-27 12:14] #1954 closed, assigned to dsarkar

[2021-10-27 13:02] #1967 closed, assigned to nobody

[2021-10-27 14:36] #1904 closed, assigned to dsarkar

[2021-10-28 14:13] MikeMcC399 opened #1980 "Plotly date formatting for English science blogs"
## Where to find the issue

English language science blog figures which use dates, for example:
"Fig. 9: EDUS – Testing intention by test type (developments over time)" in https://www.coronawarn.app/en/science/2021-08-02-science-blog-3/#41-testing-intention.

This issue is also mentioned in PR https://github.com/corona-warn-app/cwa-website/pull/1979.

## Describe the issue

To work around a locali

[2021-10-29 06:40] MikeMcC399 opened #1982 "Plotly tool-tips in German on English science blogs"
## Where to find the issue

All English-language science blogs on https://www.coronawarn.app/en/science/ using Plotly graphs:

- https://www.coronawarn.app/en/science/2021-06-15-science-blog-1/
- https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/
- https://www.coronawarn.app/en/science/2021-08-02-science-blog-3/

## Describe the issue

The controls for many of the graphs in the Engli

[2021-10-29 06:42] MikeMcC399 opened #1983 "Plotly "Download plot as png" fails on science blogs"
## Where to find the issue

All science blogs on https://www.coronawarn.app/en/science/ and https://www.coronawarn.app/en/science/ using Plotly graphs.

## Describe the issue

The Plotly control "Download plot as png" fails.

### Steps to reproduce

1. Open https://www.coronawarn.app/en/science/2021-07-08-science-blog-2/#31-survey-participation in desktop web browser
2. Hover mouse over graph of F

[2021-10-29 09:09] MikeMcC399 opened #1986 "Cypress check_anchor_links.js fails with syntax error"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_anchor_links.js

## Describe the issue

The Cypress test check_anchor_links.js fails with "Syntax error, unrecognized expression: #" in /de/blog entries and /en/blog entries

Execute:
[code]
click on `check_anchor_links.js` in Cypress console to run test

![image](https://user-images.gi

[2021-10-29 09:20] MikeMcC399 opened #1988 "Cypress log files cause error in console"
## Where to find the issue

- https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js
- https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_anchor_links.js

## Describe the issue

The new log files
- `broken_anchor_links_result.txt`
- `broken_links_result.txt`

are written to the `cypress/integration/ directory` which is reserv

[2021-10-29 10:42] #1982 closed, assigned to nobody

[2021-10-29 13:26] #1988 closed, assigned to nobody

[2021-10-29 14:35] #1980 closed, assigned to nobody

[2021-10-30 12:40] MikeMcC399 commented on #1986
@dsarkar
Have you executed
`npm run test:prepare`
on your system as instructed in https://github.com/corona-warn-app/cwa-website/blob/master/README.md#testing?

As far as I can see, [check_anchor_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_anchor_links.js) fails checking
`en/blog/2099-01-01-visual-test-page/index.html`
Line 166
`<li>diam nonumy ei

[2021-10-31 16:01] MikeMcC399 opened #1991 "Links in blog test source (2099-01-01-visual-testing)"
## Where to find the issue

[cypress/fixtures/blog/2099-01-01-visual-testing](https://github.com/corona-warn-app/cwa-website/tree/master/cypress/fixtures/blog/2099-01-01-visual-testing)

## Describe the issue

The markdown source files in [cypress/fixtures/blog/2099-01-01-visual-testing](https://github.com/corona-warn-app/cwa-website/tree/master/cypress/fixtures/blog/2099-01-01-visual-testing) con

[2021-10-31 16:14] MikeMcC399 opened #1993 "Timeout running Cypress test"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website

## Describe the issue

Executing `npm test` will sometimes time out.

[code]

According to https://github.com/bahmutov/start-server-and-test#readme

### "Timeout

This utility will wait for maximum of 5 minutes while checking for the server to respond (default). Setting an environment variable `WAIT_ON_TIMEOUT=600000` (mil

[2021-10-31 16:18] MikeMcC399 commented on #1993
I tried this out, however I don't really have the experience in `npm `and `gulp` to be sure to implement the suggested change cleanly, so I'd be happy for somebody else with the right skills to implement it (assuming that the suggestion is accepted).

I already used the workaround successfully in my own environment. That is a quick (temporary) solution.

[2021-11-01 07:24] MikeMcC399 commented on #1355
Closing this issue as the original "Suggestion: Stop publishing weekly app status report" is being followed de facto, even though there has been no blog announcement to this effect.

https://www.coronawarn.app/en/faq/#numbers_RKI has been updated.

[2021-11-01 07:24] #1355 closed

[2021-11-01 10:00] MikeMcC399 commented on #1986
I have opened a new issue regarding the timeout when running a Cypress test from npm - see https://github.com/corona-warn-app/cwa-website/issues/1993.

[2021-11-01 12:54] MikeMcC399 commented on #1929
According to the text in https://github.com/corona-warn-app/cwa-website/pull/1945 the 2.13 release is planned for Wednesday, Nov 3, 2021.

Did you come to any decision about references on https://www.coronawarn.app to the FAQs on https://www.bundesregierung.de? Do the references need to be updated?

[2021-11-01 13:07] MikeMcC399 opened #1994 "Blog statement on cancelled and replaced weekly report needed"
This follows on from the issue https://github.com/corona-warn-app/cwa-website/issues/1903.

## Where to find the issue

- https://www.coronawarn.app/en/blog/ and
- https://www.coronawarn.app/de/blog/

## Describe the issue

The blog statements regarding the weekly reports are out of date.

According to RKI ["Infektionsketten digital unterbrechen mit der Corona-Warn-App"](https://www.rki.de/DE/Cont

[2021-11-01 13:08] MikeMcC399 commented on #1903
The remaining points in this issue are transferred to a new issue #1994 for the sake of clarity.

The FAQ has already been updated (see PR #1963).

[2021-11-01 13:08] #1903 closed

[2021-11-01 14:12] dsarkar commented on #1994
@MikeMcC399  Thanks. Internal Tracking ID: [EXPOSUREAPP-10259](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-10259)

[2021-11-01 16:00] MikeMcC399 commented on #1993
There is another workaround to the timeout, which I will add to the main issue:

This is equivalent to `npm test`.

Execute:
`npm start`
in a terminal window and wait for a browser window with http://localhost:8000 to open

In a separate terminal window execute:
`npx cypress run -b chrome`

[2021-11-02 06:56] MikeMcC399 opened #1995 "Can I legally use CWA to verify another person's 2G/3G status?"
## Request for new FAQ article

Add an FAQ article to:
- https://www.coronawarn.app/en/faq/
- https://www.coronawarn.app/de/faq/

to answer the question:

**Can I legally use CWA to verify another person's 2G/3G status?**

## Problem

The existing documents do not seem to answer the question "Can I legally use CWA to verify another person's 2G/3G status?":

- [Data Protection Impact Assessment](ht

[2021-11-02 08:36] dsarkar commented on #1995
@MikeMcC399 Thanks. Internal Tracking ID: [EXPOSUREAPP-10263](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-10263)

[2021-11-02 08:55] MikeMcC399 commented on #1993
I changed my mind and I plan to submit a PR for this myself soon. Stand by!

[2021-11-02 15:05] Ein-Tim commented on #1461
@2019-05-10

Next update: Seems like the CWA will be able to scan luca QR codes from version 2.13 on.

See https://github.com/corona-warn-app/cwa-server/pull/1594

[2021-11-02 18:08] MikeMcC399 commented on #1993
I have submitted https://github.com/corona-warn-app/cwa-website/pull/1997 now which separates out the build process from the web server start and Cypress test. This avoids a timeout because the clock doesn't start counting down until the build process has completed.

I have tested it on Windows and I will test it also on Ubuntu next.

I would like to wait for PR https://github.com/corona-warn-app/

[2021-11-02 21:54] Ein-Tim opened #1998 "FAQ menu is not useable on iPad Air (4th generation) in horizontal mode"
## Where to find the issue
- https://www.coronawarn.app/en/faq/
- https://www.coronawarn.app/de/faq/

## Technical details
- Device name: iPad Air 4. Gen
- iPadOS version: 15.1

**This might also affect other tablets or in general other devices with a similar screen size.**

## Describe the issue
The FAQ menu is not visible/useable on the 4. Gen iPad Air if it's in horizontal mode.
If the device i

[2021-11-03 07:46] MikeMcC399 commented on #1998
This problem is also reproducible on a desktop version of Google Chrome or Mozilla Firefox. Start with a browser window showing https://www.coronawarn.app/en/faq/ using the full height and width of the screen. Reduce the width of the browser window gradually. The sequence is:

1. Left menu fully visible. All menu items visible.
2. Menu column width reduced. Menu items start to wrap.
3. Menu column

[2021-11-03 08:38] Ein-Tim commented on #1998
@MikeMcC399

Thank you for your feedback!

Yes, I also experienced these 3 problems when playing around with this in the Google Chrom dev tool.
Either the arrow to access the menu is shown, then everything is fine, or the menu is cut off, which is not good, or the menu is just not shown at all and one has no chance to access it.

[2021-11-03 09:27] MikeMcC399 commented on #1986
This issue is resolved by PR #1996. Thank you to @brifemu!

[2021-11-03 09:27] #1986 closed

[2021-11-03 11:19] MikeMcC399 commented on #1991
Verified successfully using `master` branch on Ubuntu according to tests below, so now closing this issue.

(Automated testing of the [cwa-website test-set](https://github.com/corona-warn-app/cwa-website/tree/master/cypress/integration) with Cypress on Windows produces inconsistent results and sometimes fails without any fault of the website itself. Ubuntu seems to be more reliable as a test envir

[2021-11-03 11:19] #1991 closed

[2021-11-03 13:43] Ein-Tim commented on #1944
As 2.13 has been released now, I will close this issue.

[2021-11-03 13:43] #1944 closed

[2021-11-03 14:03] MikeMcC399 opened #2006 "Screenshots: Trash now named Recycle Bin (EN)"
## Where to find the issue

https://www.coronawarn.app/en/screenshots/#android_recycle_bin

## Describe the issue

In the Android [release/2.13.1-RC1](https://github.com/corona-warn-app/cwa-app-android/tree/release/2.13.x) the place where removed certificates go is called the "Recycle Bin". During the development of 2.13.x it was earlier called "Trash".

The screenshots in https://www.coronawarn.a

[2021-11-03 14:40] MikeMcC399 opened #2007 "Blog: 2.13 article refers to trash instead of Recycle Bin (EN)"
## Where to find the issue

https://www.coronawarn.app/en/blog/2021-11-03-cwa-version-2-13/ "Oops, certificate deleted? - Corona-Warn-App version 2.13 gets it back!"

from @HannaHei

## Describe the issue

The blog refers to both "recycle bin" and "trash" in the article.

The latest Android version of 2.13.x has renamed "trash" to "Recycle Bin", so the blog article should also only use the term "R

[2021-11-03 14:43] MikeMcC399 commented on #2006
The FAQ https://www.coronawarn.app/en/faq/#cert_recycle_bin refers to "trash" for iOS in one place. I don't have an iOS device to check, but perhaps this also needs to be corrected?

[2021-11-03 14:45] Ein-Tim commented on #2006
iOS calls it "Recycle Bin":

<img src="githubusercontent.com/67682506/140082557-bc2c5bb1-82b7-4a5c-9abe-2010f11e320a.png width="300">

[2021-11-03 14:54] Ein-Tim commented on #2007
Reg. iOS, see: https://github.com/corona-warn-app/cwa-website/issues/2006#issuecomment-959299913

[2021-11-03 15:01] MikeMcC399 commented on #2006
Thanks @Ein-Tim!
I didn't want to rely on the screenshots on cwa-website because for Android they need correcting.

[2021-11-03 15:03] MikeMcC399 commented on #2007
@Ein-Tim
Thanks for your comment that also in iOS the correct term is "Recycle Bin" not "trash".

[2021-11-04 07:52] brifemu commented on #1983
I tested #1987 on Windows using nginx, and it works. I will create a VM running Ubuntu to test it.

[2021-11-04 08:02] MikeMcC399 commented on #1983
@brifemu
What about the comment on https://github.com/corona-warn-app/cwa-website/pull/1987#discussion_r739129249 from @svengabr:

Are you able to make that change and test it? I think that means nginx on AWS S3.

Also considering what @dsarkar wrote in https://github.com/corona-warn-app/cwa-website/issues/1792#issuecomment-946706638

[2021-11-04 08:10] brifemu commented on #1983
@MikeMcC399

That change is applied already

[2021-11-04 09:10] dsarkar commented on #2007
@MikeMcC399 @Ein-Tim Thanks. Issue is forwarded internally.

[2021-11-04 09:14] MikeMcC399 commented on #2007
@dsarkar
Thank you! It is good to see the @larswmh is getting the screenshots (as reference material) corrected in PR https://github.com/corona-warn-app/cwa-website/pull/2010.

[2021-11-04 09:33] larswmh commented on #2007
@MikeMcC399 FYI I just opened a PR to fix it

[2021-11-04 09:47] MikeMcC399 commented on #2006
PR #2010 resolves this issue and the screenshots in https://www.coronawarn.app/en/screenshots/#android_recycle_bin are now correct.

Thanks to @larswmh !

[2021-11-04 09:47] #2006 closed

[2021-11-04 09:50] MikeMcC399 commented on #2007
PR #2011 has fixed this issue and there is no longer a reference to "trash" in https://www.coronawarn.app/en/blog/2021-11-03-cwa-version-2-13/.

Thanks to @larswmh for this fix!

[2021-11-04 09:50] #2007 closed

[2021-11-04 12:54] Ein-Tim opened #2012 "FAQ entry needed clarifying that it‘s normal that the Booster certificate is only set as the standard one after 14 days"
## Where to find the issue

n/a

## Describe the issue
Users are wondering why their booster certificates are not selected as the standard one directly after they added them to the app but only after 14 days.

Until now, I thought this was an issue, but seems like it isn't as [Corona-Warn-App notifies users about a booster vaccination](https://www.coronawarn.app/en/blog/2021-11-04-cwa-booster-noti

[2021-11-04 15:11] MikeMcC399 opened #2013 "Links to rki vaccination page in Booster blog"
## Where to find the issue

- https://www.coronawarn.app/en/blog/2021-11-04-cwa-booster-notification/ "Corona-Warn-App notifies users about a booster vaccination"
    - linking to https://www.rki.de/DE/Content/Infekt/Impfen/ImpfungenAZ/COVID-19/Impfempfehlung-Zusfassung.html "STIKO-Empfehlung zur COVID-19-Impfung"

- https://www.coronawarn.app/de/blog/2021-11-04-cwa-booster-notification/ "Corona-W

[2021-11-04 15:52] Ein-Tim commented on #2012
Example for confused user: https://twitter.com/day_bicycle/status/1456265876496257028?s=21

[2021-11-04 16:29] dsarkar commented on #2012
@Ein-Tim The  Regarding these users, is this a booster (2/2) on top of a 1/1-J&J or a 3/3-booster on top of a 2/2-vaccination?

[2021-11-04 16:42] Ein-Tim commented on #2012
@dsarkar

I asked the user.
I guess the reason why you're asking is because if one received a "2/2" on top of a "1/1" the "2/2" should be selected as active instantly, but only get valid after 14 days, right?

[2021-11-05 11:37] brifemu commented on #1983
@MikeMcC399

The fix had been already merged. I replaced the blob download for a blob conversion to canvas, and later in an image, so we don't need to edit the CSP.

It had been tested on Windows 10 using the latest stable versions of Edge and Chrome, and on Mac using the latest stables versions of Safari and Chrome.

[2021-11-05 11:50] Ein-Tim commented on #1998
Confirm fixed with the merge of #1999.

Closing as fixed.

[2021-11-05 11:50] #1998 closed

[2021-11-05 13:38] MikeMcC399 commented on #1983
@brifemu

It's great that you found a solution!

1. On Google Chrome, if you have "Ask where to save each file before downloading" disabled (which I think is the default setting), then for a short time the error message "Sorry, there was a problem downloading your snapshot!" is shown, then it disappears and the image is correctly downloaded to the default download directory of the browser. This is

[2021-11-05 13:41] brifemu commented on #1983
@MikeMcC399

I'm gonna check it, thanks for your feedback!

[2021-11-05 19:44] MikeMcC399 commented on #1993
PR #1997 is now tested and ready for review.

[2021-11-06 09:38] Ein-Tim opened #2024 "Analysis page shows outdated data"
## Where to find the issue
- https://www.coronawarn.app/de/analysis/

## Describe the issue
The following figures on https://www.coronawarn.app/de/analysis/ are out of date:
- Downloads (last data from 04.11.2021)
- Registriere Tests (last data from 02.11.2021)
- Teilungsverhalten (last data from 02.11.2021)

## Suggested change
Update the data.

[2021-11-06 11:45] Ein-Tim commented on #1929
@MikeMcC399 Do you still want to leave this issue open? Or can it be closed?

[2021-11-06 12:19] Ein-Tim opened #2026 "`ios_cards` & `android_cards` screenshots are out of date"
## Where to find the issue
- https://www.coronawarn.app/en/screenshots/#android_cards
- https://www.coronawarn.app/de/screenshots/#android_cards
- https://www.coronawarn.app/en/screenshots/#ios_cards
- https://www.coronawarn.app/de/screenshots/#ios_cards

## Describe the issue
The screenshots showing the high risk detail card are out of date. Compare the screenshot
https://www.coronawarn.app/asset

[2021-11-06 12:40] MikeMcC399 commented on #1929
@Ein-Tim

The question was never answered. I reviewed the links in the CWA FAQs:

- https://www.coronawarn.app/en/faq/
    - https://www.bundesregierung.de/breg-de/themen/corona-warn-app/corona-warn-app-englisch
    - https://www.bundesregierung.de/breg-en/service/contact
- https://www.coronawarn.app/de/faq/
    - https://www.bundesregierung.de/breg-de/themen/corona-warn-app
    - https://www.bund

[2021-11-06 13:12] Ein-Tim commented on #1929
@MikeMcC399

Thank you for your answer!

I asked because in your OP you write:

As version 2.13 has been released & what you suggested did not happen, I thought that this issue can be closed by now (as it is a question issue and not a enhancement request or bug report) because the question you asked was answered "by itself".

I also didn't get feedback on my issue #1944 and closed it with the 2.13

[2021-11-06 14:02] MikeMcC399 commented on #1929
@Ein-Tim
I have updated the question to make it not obsolete with the release announcement.
The Android roll-out is still on-going and I have not yet received the 2.13 release yet.

[2021-11-06 14:17] Ein-Tim commented on #1929
@MikeMcC399

Thanks!

Yes, as you know, rollout was paused. Some minutes ago, this version has been released on GitHub: https://github.com/corona-warn-app/cwa-app-android/releases/tag/v2.13.2

[2021-11-06 14:25] Ein-Tim opened #2028 "Problem with site menu on analysis page"
## Where to find the issue
- https://www.coronawarn.app/de/analysis/

## Describe the issue
If one opens the page menu on the [analysis page](https://www.coronawarn.app/de/analysis/), the headers of the figures are still shown:

https://user-images.githubusercontent.com/67682506/140613037-da8ebf47-aba9-4ab5-87d3-6494f06d60ac.MOV

## Suggested change
Fix the bug (Maybe the background of the menu ha

[2021-11-06 15:30] MikeMcC399 opened #2029 "Analysis background buttons do not resize"
## Where to find the issue

https://www.coronawarn.app/de/analysis/

## Describe the issue

Button background of Analysis data display modes does not resize when window resizes. Background may cause overlap or truncation of data display labels.

### Steps to reproduce

In Google Chrome on desktop.
Zoom is 100%
1. Open browser in full screen size.
2. Open https://www.coronawarn.app/de/analysis/
3.

[2021-11-06 17:34] Ein-Tim opened #2030 "`eu_dcc_remove` FAQ entry is out of date"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#eu_dcc_remove
- https://www.coronawarn.app/de/faq/#eu_dcc_remove

## Describe the issue
The FAQ entry is outdated, under iOS one has to click on "More" and then on "Delete Vaccination Certificate" and then on "Remove Certificate".
These steps are not covered in the FAQ entry.
Under Android @MikeMcC399 commented below what is out of d

[2021-11-06 17:44] MikeMcC399 commented on #2030
@Ein-Tim
Please check the steps for Android 2.13 as well if you are proposing a change.

On Android, you have to tap the right arrow after tapping Certificates before you can scroll down.
Then the text is "Remove Certificate", not just "Remove".

[2021-11-06 17:45] MikeMcC399 commented on #2030
Also the question is if the FAQ should cover the instructions for all versions or only for the latest version.

[2021-11-06 17:48] Ein-Tim commented on #2030
@MikeMcC399

Okay, I did not yet receive 2.13 on my Android device but as soon as I have I will check and propose the change with the PR.

[This](https://github.com/corona-warn-app/cwa-website/issues/2030#issuecomment-962485980) question would have to be answered by the Open-Source-Team.

[2021-11-07 10:44] MikeMcC399 commented on #2030
@Ein-Tim
I checked on the current and earlier versions, so I suggest for Android:

https://www.coronawarn.app/en/faq/#eu_dcc_remove
"Android: Tap on the three-dot symbol on the top right of the screen, and then tap on 'Remove Certificate' (or 'Remove' for version 2.9 and earlier)"

https://www.coronawarn.app/de/faq/#eu_dcc_remove
"Android: Tippen Sie auf das drei-Punkte-Icon oben rechts auf dem Bi

[2021-11-07 10:55] MikeMcC399 opened #2032 "Which versions to describe in FAQs?"
This is a follow-on to the stale issue https://github.com/corona-warn-app/cwa-website/issues/971 "FAQ - Remove outdated information from FAQ and review existing entries 🔧" where the question was raised about which versions of CWA are supported and which need to be described in the current FAQs.

The FAQ descriptions have in some cases become quite complicated and difficult to read if they need to

[2021-11-07 10:56] MikeMcC399 commented on #2030
Version question raised in https://github.com/corona-warn-app/cwa-website/issues/2032.

[2021-11-07 11:03] Ein-Tim commented on #2030
@MikeMcC399

https://www.coronawarn.app/en/faq/#eu_dcc_remove
"Android: Tap on the three-dot symbol on the top right of the screen, and then tap on 'Remove Certificate' (or 'Remove' for version 2.9 and earlier)"
https://www.coronawarn.app/de/faq/#eu_dcc_remove
"Android: Tippen Sie auf das drei-Punkte-Icon oben rechts auf dem Bildschirm, und danach auf 'Zertifikat entfernen' (bzw. auf 'Entfernen' f

[2021-11-07 11:44] MikeMcC399 commented on #2030
@Ein-Tim
Good to hear you agree!
Enjoy your Sunday too!

[2021-11-07 20:05] Ein-Tim commented on #2030
FYI: A PR is ready, but I found a inconsistency in the iOS implementation and provided a PR which fixes this: https://github.com/corona-warn-app/cwa-app-ios/pull/3803
After this PR is merged, I will provide a PR here, fixing this issue.

[2021-11-08 08:00] MikeMcC399 commented on #1839
PR #1981 to create a log file is now merged.

[2021-11-08 08:00] #1839 closed

[2021-11-08 08:03] MikeMcC399 commented on #1779
Since there has been no response here for one month and there is no longer an issue in the FAQs I will close this issue.

[2021-11-08 08:03] #1779 closed

[2021-11-08 08:32] MikeMcC399 commented on #1436
Replace interactive figs on mobile for images #1934 was merged and I tried it on different Samsung Galaxy models. In portrait mode the message "This page is optimized for mobile devices ..." appears and the graphs are static. That works well.

In Google Chrome viewing https://www.coronawarn.app/en/science/2021-08-02-science-blog-3/ in landscape mode with:
- Galaxy A5 (2017) - the page is optimized

[2021-11-08 08:54] dsarkar commented on #2028
@Ein-Tim  FYI PR https://github.com/corona-warn-app/cwa-website/pull/2036

[2021-11-08 08:58] dsarkar commented on #2029
@MikeMcC399 FYI PR https://github.com/corona-warn-app/cwa-website/pull/2037

[2021-11-08 09:25] MikeMcC399 commented on #2029
Solved with PR #2037! Thank you @matriceria / @dsarkar !

[2021-11-08 09:25] #2029 closed

[2021-11-08 10:39] Ein-Tim commented on #2028
Works flawless now!

Thanks @matriceria & @dsarkar!

Closing as fixed.

[2021-11-08 10:39] #2028 closed

[2021-11-08 11:57] dsarkar commented on #1983
@MikeMcC399 FYI PR #2039

[2021-11-08 12:21] MikeMcC399 commented on #1983
@dsarkar
Thanks to @matriceria for fixing this issue with #2039!

I checked in English and German. Both are fine!

[2021-11-08 12:21] #1983 closed

[2021-11-08 14:05] MikeMcC399 commented on #2024
@dsarkar

The data feed for:

- Registrierte Tests and
- Teilungsverhalten

is still blocked.

![image](https://user-images.githubusercontent.com/66998419/140755632-cabd02c2-3cd6-454b-986e-ac5515385edb.png)

[2021-11-08 17:20] dsarkar commented on #2024
@Ein-Tim @MikeMcC399 Yes, TSI is looking at it right now.

One can see the issue in https://obs.eu-de.otc.t-systems.com/obs-public-dashboard/json/v1/nested_cwa_public_dashboard_data.json.
Date in this file is shown on the dashboard.

Screenshots from left to right show 2.11., 3.11., 7.11. (marked are the  "Downloadzahlen", which are updated)

From  3.11. on, there are missing numbers (null) in the

[2021-11-08 17:46] MikeMcC399 commented on #2024
@dsarkar

Thanks for the link to https://obs.eu-de.otc.t-systems.com/obs-public-dashboard/json/v1/nested_cwa_public_dashboard_data.json!

You can also see the pattern of missing data in https://obs.eu-de.otc.t-systems.com/obs-public-dashboard/csv/cwa_all_data.zip (use the "Alle Daten exportieren Button on https://www.coronawarn.app/de/analysis/).

The .json file is a bit easier to read but maybe t

[2021-11-09 08:07] dsarkar commented on #1461
FYI PR https://github.com/corona-warn-app/cwa-website/pull/2041

[2021-11-09 08:23] dsarkar commented on #1461
https://www.coronawarn.app/de/faq/#check_in_luca

[2021-11-09 13:18] brifemu commented on #1922
@MikeMcC399
FYI: #2053

[2021-11-09 14:41] MikeMcC399 commented on #1922
@brifemu

I confirm that it now works perfectly with Google Chrome Version 95.0.4638.69 (Official Build) (64-bit)!

Thank you very much for fixing this issue! 🚀

[2021-11-09 14:41] #1922 closed

[2021-11-09 15:36] Ein-Tim commented on #1461
Let‘s close this issue @2019-05-10, or?

[2021-11-09 15:47] floscher opened #2056 "FAQ: Mention that only luca codes generated by businesses (not the user-generated ones) are compatible with CWA"
## Where to find the issue
FAQ

## Describe the issue / Suggested change
The FAQ should mention, that QR codes generated by users in their Android/iOS luca-apps ("Meinen QR-Code anzeigen" as well as "privates Treffen erstellen") use different formats that are not compatible with the CWA. Only codes generated by businesses at https://app.luca-app.de/login are compatible.

[2021-11-09 15:51] floscher commented on #2056
Just noticed in #2055 , that there is already one sentence about private codes: ![](https://user-images.githubusercontent.com/88365935/140950803-2c4d3e60-8e12-48a5-928a-226545aa3955.png)

[2021-11-09 17:15] floscher commented on #2012
@Ein-Tim With #4343 the "1/1" boosters (after recovery), the "2/2" Johnson&Johnson boosters and the "3/3" boosters will immediately become active in the CWA.

I can confirm that a "3/3" BioNTech booster is considered valid by CovPassCheck immediately after the vaccination.

[2021-11-09 17:24] Ein-Tim commented on #2012
@floscher

Not sure about this. The OP of https://github.com/corona-warn-app/cwa-app-android/pull/4343 says that a J&J vaccination after a recovery will still get only active after 14 days.
Also, this does not cover the case when somebody who received J&J was boostered with Biontech and got a 2/2 certificate.
In this case the "1/1" certificate stays as the active one: https://github.com/corona-war

[2021-11-09 17:33] floscher commented on #2012
@Ein-Tim Ah yes, didn't catch the J&J edge cases. Sure, this topic warrants an FAQ entry, because either way some people will get confused when the app either activates the certificate immediately or waits 14 days with activation when they expected it to do the other one of the two cases.

[2021-11-09 17:35] Ein-Tim commented on #2012
@floscher Yes exactly!

@dsarkar Could you maybe give us an update here? Is a FAQ entry planned?

[2021-11-09 17:59] MikeMcC399 commented on #2013
The second point concerning the jsessionid is addressed in PR #2057.

@HannaHei should probably look at whether the English and German blog pages should link to different RKI pages. This part of the issue is still open.

[2021-11-09 19:43] MikeMcC399 commented on #2024
@Ein-Tim
The data is now appearing up to date again.

[2021-11-09 19:49] Ein-Tim commented on #2024
I can confirm that this issue has been fixed.
As of now, 09.11.2021, 20:45h, all data on the analysis page is available, up to yesterday (this is intended).

Here is a screenshot from the page:
![Bildschirmfoto 2021-11-09 um 20 47 55](https://user-images.githubusercontent.com/67682506/140994284-9c8bf377-006c-404a-b8bb-040607888a8f.png)

---

Thanks to @MikeMcC399 for informing me that this issue h

[2021-11-09 19:49] #2024 closed

[2021-11-09 21:01] Ein-Tim commented on #2030
As the wording under iOS will change in 2.14 (see https://github.com/corona-warn-app/cwa-app-ios/pull/3803#issuecomment-963903180), I will wait with a PR until things have sorted out.

[2021-11-10 07:17] jkrwdf commented on #2056
First of all my apologies for raising this issue by a comment in https://github.com/corona-warn-app/cwa-documentation/issues/590.

Motivated by press announcements, I just tried with what was at hand (and this was a private Luca meeting), failed, quickly checked the FAQ and simply missed the last sentence of the red marked part above.

A suggestion (I know it's wrong in this repo): If the CWA coul

[2021-11-10 07:23] floscher commented on #2056
@jkrwdf No need to apologize, that passage was added to the FAQ in #2055 **after** you commented over there (that's where I got the image from, the red border marks the changed parts). And even if it was there before, I think this should be made clearer, because I would not expect everyone to notice that short sentence at the end.

[2021-11-10 08:48] MikeMcC399 commented on #1189
Integration with the Luca app was announced on Nov 9, 2021 in:

- https://www.coronawarn.app/en/blog/2021-11-09-cwa-luca-qr-codes/ "Check-In feature: Corona-Warn-App can now scan luca's QR codes" and
- https://www.coronawarn.app/de/blog/2021-11-09-cwa-luca-qr-codes/ "Check-In-Funktion: Corona-Warn-App kann jetzt auch QR-Codes von luca einscannen"

The FAQs have been extended at the overview level:

[2021-11-10 08:48] #1189 closed

[2021-11-10 09:56] MikeMcC399 commented on #1994
This should be solved when PR #2038 is published.

[2021-11-10 09:59] MikeMcC399 commented on #1993
Unfortunately PR #1997 did not work on all Windows systems, although it was fine on Ubuntu, Mac and Windows 10 Home.

I am working on a replacement PR which is (hopefully!) platform independent.

[2021-11-10 14:03] dsarkar opened #2064 "FAQ change"
**OLD**

3. Was passiert beim Scan der QR-Codes durch die Corona-Warn-App?

Der QR-Code zur Eventregistrierung bzw. zum Check-in kann mit der Corona-Warn-App (CWA) oder mit luca eingelesen werden.

Scannen Nutzende der Corona-Warn-App den QR-Code, werden sie automatisch in den Check-in-Bereich der CWA geführt. Weitere Informationen zu dem Prozess finden Sie hier: Warum die Corona-Warn-App gerade j

[2021-11-10 15:29] Ein-Tim commented on #2064
@dsarkar Can we close this issue now?

[2021-11-10 17:44] dsarkar commented on #2012
Dear @floscher @Ein-Tim. So far we have this text. What do you think?

Dieser Fall kann eintreten, wenn eine Grundimmunisierung mit dem Impfstoff von Johnson & Johnson erfolgte. Da für eine Grundimmunisierung mit dem Janssen-Impfstoff nur eine Impfung nötig ist, muss im Impfzertifikat für die Auffrischungsimpfung unter "Nummer der Impfung" der Eintrag "2 von 2" vorgenommen werden.

Bei der Grundim

[2021-11-10 17:51] Ein-Tim commented on #2012
@dsarkar

This sounds really good to me!

One case which should be added:
Second booster after recover (yes, some people really do already get this!)

Thanks for your efforts!

[2021-11-11 10:09] MikeMcC399 commented on #1993
PR #1997 did not work on all Windows environment because it needed the npm key `shell-script` to point to the bash shell executable.

The new PR #2067 is less stringent, however to successfully run the complete Cypress suite of tests defined in https://github.com/corona-warn-app/cwa-website/tree/master/cypress/integration it is still necessary to follow the instructions in https://github.com/coron

[2021-11-11 12:25] larswmh commented on #2012
In the PR that is linked above my comment, I've added an FAQ entry containing @dsarkar's suggested text and @Ein-Tim's suggested case that should be added.

[2021-11-11 12:27] Ein-Tim commented on #2012
@larswmh

Thank you very much! I will take some time later and review the PR (-:

[2021-11-11 19:15] Ein-Tim commented on #2030
I'm not certain what exactly will be released with 2.14, so I decided to just describe the implementation in 2.13 and adjust it if necessary with the 2.14 release.

PR will follow tomorrow.

[2021-11-11 21:46] Ein-Tim commented on #971
@MikeMcC399

I definitely I agree with you.
Also, the open PRs from @heinezen should either be made ready to be merged now or be closed.

I don't think @heinezen will do this himself, as he has left the Corona-Warn-App Open-Source-Team, sadly.

[2021-11-11 21:48] MikeMcC399 commented on #1994
PR #2038 was withdrawn.

---

1. https://www.coronawarn.app/en/blog/2021-10-04-key-figures-dashboard/
"From now on, important key figures are also available in a public dashboard as an interactive overview."
"also available" implies that the previous reports will continue

Corrected by PR https://github.com/corona-warn-app/cwa-website/pull/2061

---

2. https://www.coronawarn.app/en/blog/2021-10-0

[2021-11-11 21:48] #1994 closed

[2021-11-12 16:18] MikeMcC399 opened #2070 "Misleading FAQ statement regarding personal data collection with luca"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#check_in_luca "The most important questions about joint use of luca-QR-Codes"
    - "12. Is the data of the users of the Corona-Warn-App still secure?"

![Luca 12 EN](https://user-images.githubusercontent.com/66998419/141499045-cb40b45c-6ce7-44c0-af8f-eaf667a951e2.jpg)

- https://www.coronawarn.app/de/faq/#check_in_luca "Die wichtigs

[2021-11-12 16:28] MikeMcC399 commented on #1893
@Ein-Tim
You are referring to https://www.coronawarn.app/de/science/2021-10-15-science-blog-4/#326-schlüsselteilung

![image](https://user-images.githubusercontent.com/66998419/141500145-dd534e97-bc5f-4ef0-bbfb-d2a77f63ae55.png)

and it sounds like you think that:

"Schlüsselteilung nach Abbruch des Schlüsselteilungsprozesses?"

is a bad translation of:

`submitted_after_cancel`

Is that correct?

[2021-11-12 16:39] MikeMcC399 commented on #1825
I found recently that the website https://ec.europa.eu/ was online but rejecting connections. That meant that the `check_links.js` Cypress script failed, since the link is used in the FAQs. There was nothing wrong in the FAQs and the website problem went away on its own 10 minutes later.

So, it would be problematic to stop deployment of the CWA website because a third-party website which CWA has

[2021-11-12 16:49] Ein-Tim commented on #1825
@MikeMcC399

I agree with you! I also thought that failing links should not be shown as an error but only as a warning, so that the author of the commit / RP can decide themself how to proceed and whether to check why the check is failing and why not.

AFAIK checks can either be required to succeed to be able to merge the PR or be optional to pass.

[2021-11-12 16:54] MikeMcC399 commented on #1810
The FAQ articles referred to here have not yet been changed:

- https://www.coronawarn.app/en/faq/#vac_cert_verification "How is the proof of vaccination verified?"
- https://www.coronawarn.app/de/faq/#vac_cert_verification "Wie soll der Nachweis einer Impfung geprüft werden können?"

although in PR #1811 it says

This issue here (#1810) could be fixed by adding a link from the above FAQs to the u

[2021-11-12 16:59] MikeMcC399 commented on #1729
@Ein-Tim

This issue has not been addressed and the FAQ contents are quite out of date and misleading.

![image](https://user-images.githubusercontent.com/66998419/141505414-08de02b6-35ae-426a-9a3a-e5c918d0e30f.png)

[2021-11-12 17:01] Ein-Tim commented on #1729
@MikeMcC399

Yes, I agree. However, I still would like to wait for feedback from the Open-Source-Team on what their preferred solution for this is.

[2021-11-12 17:05] MikeMcC399 commented on #1436
Since there was no further feedback I'm now closing this issue.
Thanks to @brifemu for the solution! 👍🏻

[2021-11-12 17:05] #1436 closed

[2021-11-12 17:12] Ein-Tim commented on #1893
@MikeMcC399

Yes, exactly! "Schlüsselteilung nach Abbruch des Schlüsselteilungsbprozesses" is to englisch "Key sharing after termination of key sharing process."

This makes no sense, as it sounds like one didn't want to share their keys but the app shared it anyways.

[2021-11-12 17:14] MikeMcC399 commented on #1202
@dsarkar
It does seem that the request has been fulfilled through https://map.schnelltestportal.de/ which is linked to by:

- https://www.coronawarn.app/en/faq/#where_can_i_get_tested "Where can I get tested?"
- https://www.coronawarn.app/de/faq/#where_can_i_get_tested "Wo kann ich mich testen lassen?"

[2021-11-12 17:19] MikeMcC399 commented on #1893
@Ein-Tim
I think that "submitted_after_cancel" means exactly what you say, which is strange, but I don't think that it is a translation error.

[2021-11-12 17:26] MikeMcC399 commented on #1151
@heinezen

There is a feature described in the repository https://github.com/corona-warn-app/cwa-event-qr-code and in the instructions on https://www.coronawarn.app/en/event-qr-code-guide/ which say:

"**How do I use the official Corona-Warn-App QR code tool?**

This step-by-step guide will help you to create QR codes one by one or several QR codes at once."

It was announced in the blog [Event re

[2021-11-13 21:18] Ein-Tim opened #2072 "Is the FAQ entry `android_location` out of date?"
## Your Question

* Website URL Path: https://www.coronawarn.app/en/faq/
* Line / Paragraph: https://www.coronawarn.app/en/faq/#android_location
* Question: The FAQ entry `android_location` says: "If you are using Android 11 and the Corona-Warn-App version 1.5 or above, you don't have to allow location access in order to use the Corona-Warn-App. **This notification is not applicable for Android 11

[2021-11-14 11:25] MikeMcC399 commented on #2072
@Ein-Tim

There were quite a few different issues and PRs concerning this topic. The text that you refer to was put in place through issue #539 and PR #550 from @dsarkar.

The Android PR https://github.com/corona-warn-app/cwa-app-android/pull/1057 you quote made the change in CWA Android 1.5.0 released on Oct 19, 2020 to allow Exposure Logging to be activated on Android 11 without Location service

[2021-11-14 12:37] Ein-Tim commented on #2072
@MikeMcC399

Thank you for the long and detailed answer!

I will provide a PR for this which removed the sentence "This notification is not applicable for Android 11 phones and will be removed in one of the following updates of the Corona-Warn-App.", as you suggested!

I will provide the PR by todays evening.

Have a nice Sunday! 🙂

[2021-11-14 16:06] Ein-Tim commented on #2072
PR #2073 created.

[2021-11-14 18:15] #2072 closed

[2021-11-14 18:59] dsarkar commented on #1151
@MikeMcC399  As an alternative means, we have additionally prepared a PR to create multiple event QR codes via the web interface. Input of the data will be via loading a CVS file. I expect that we can merge that one soon.

[2021-11-15 09:24] MikeMcC399 opened #2074 "Obsolete references to cypress-plugin-snapshots"
## Where to find the issue

[Cypress testing](https://github.com/corona-warn-app/cwa-website/tree/master/cypress) as described in [README: testing](https://github.com/corona-warn-app/cwa-website/blob/master/README.md#testing).

## Describe the issue

Executing the command
`npm install`
as listed in [README: Getting Started](https://github.com/corona-warn-app/cwa-website/blob/master/README.md#getti

[2021-11-15 09:26] MikeMcC399 commented on #2074
I will submit a PR to resolve this issue.

I will however wait until
- [ ] PR https://github.com/corona-warn-app/cwa-website/pull/2067 is merged
in order to test on top of this PR.

I already tested locally so there should be no conflicts when the time comes.

[2021-11-15 09:43] MikeMcC399 opened #2075 "Outdated vaccination check FAQ"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#vac_cert_verification "How is the proof of vaccination verified?"
- https://www.coronawarn.app/de/faq/#vac_cert_verification "Wie soll der Nachweis einer Impfung geprüft werden können?"

## Describe the issue

The FAQ articles listed above are out of date. They only cover vaccination certificates and they refer to a verification app

[2021-11-15 09:43] MikeMcC399 commented on #2075
Stand by for a related PR which I will submit.

[2021-11-15 10:01] MikeMcC399 commented on #2075
PR #2076 now submitted for consideration.

[2021-11-15 12:18] #2030 closed

[2021-11-15 14:34] MikeMcC399 commented on #2075
At the suggestion of @dsarkar the proposal is now to use a redirect instead:
- [  ] #2083

[2021-11-15 14:35] MikeMcC399 commented on #1810
I expect this issue to be resolved by:
- [ ] #2083

[2021-11-15 16:08] MikeMcC399 commented on #2075
Resolved through PR #2083.

[2021-11-15 16:08] #2075 closed

[2021-11-15 16:09] MikeMcC399 commented on #1810
Resolved through PR #2083.

[2021-11-15 16:09] #1810 closed

[2021-11-15 19:06] Ein-Tim commented on #1889
I have to correct myself here, the implementation which was shown on the blog is actually released, see this screenshot:

<img src="https://user-images.githubusercontent.com/67682506/141839533-ebde5879-0363-41be-b71a-1453ac8e28bb.jpeg" width="300">

However, I don't think #1890 should be reverted, as the screenshot was missing in the English blog post too, so this was still a "good" change for con

[2021-11-15 19:24] OlympianRevolution opened #2084 "Misleading description of number of "Empfangene Warnungen""
## Where to find the issue
https://www.coronawarn.app/en/analysis/
Plot Empfangene Warnungen

## Describe the issue
Neither the plot subtitle nor the info text mention that this is a lower bound. It is a lower bound since the number of warnings given is only known for participants of PPA.(about half of users)

## Suggested change
I would change the title from:
"Empfangene Warnungen"
To:
"Mindestan

[2021-11-16 15:45] dsarkar opened #2087 "FAQ: Warum wird der QR-Code von der Corona-Warn-App nicht gescannt? Warum reagiert der QR-Code-Scanner nicht?"
**DE**

**Warum wird der QR-Code von der Corona-Warn-App nicht gescannt?
Warum reagiert der QR-Code-Scanner nicht?**

Auf einigen Geräten erkennt die Kamera den QR-Code nicht sofort und es passiert zunächst gar nichts, d.h. es wird weder der QR-Code eingelesen noch eine Fehlermeldung angezeigt. Dieses Verhalten betrifft vorrangig einige Android-Geräte, kann jedoch auch auf iOS-Geräten auftreten.

[2021-11-16 15:50] dsarkar opened #2088 "FAQ: #check_in_luca_error"
New FAQ:
- **DE** https://www.coronawarn.app/de/faq/#check_in_luca_error
- **EN** https://www.coronawarn.app/en/faq/#check_in_luca_error

To be covered:

- private luca QR codes
- outdated luca QR codes, generated before 25 May
- luca QR codes generated after 25 May, but not CWA compatible
- "Faulty" luca QR codes, see https://github.com/corona-warn-app/cwa-website/pull/2069

Related:
https://gith

[2021-11-16 17:22] #1461 closed

[2021-11-16 17:46] DerVogel2020 commented on #2087
Muss sowas wirklich in die FAQ?
Wie man einen QR Code scannt betrifft schließlich alles QR Code Scanner und alle QR Codes.

[2021-11-16 17:48] Ein-Tim commented on #2087
@DerVogel2020

Ich vermute mal der Artikel wird wegen https://github.com/corona-warn-app/cwa-app-android/issues/3514 hinzugefügt.

[2021-11-16 17:56] MikeMcC399 opened #2090 "Rollout state for Android 2.13.3?"
Is CWA Android 2.13.3 completely rolled out and available for all users from the [Google Play Store](https://play.google.com/store/apps/details?id=de.rki.coronawarnapp)?

https://www.coronawarn.app/en/blog/2021-11-15-cwa-recalled-vaccination-certificates/ did not mention any 48 hour rollout and for me it was immediately available on https://play.google.com/store/apps/details?id=de.rki.coronawarnap

[2021-11-17 11:10] MikeMcC399 opened #2091 "Timestamp discrepancy for Analysis page"
@FabioFuschi-SNK

## Where to find the issue

- https://www.coronawarn.app/de/analysis/
- https://www.coronawarn.app/en/analysis/

## Describe the issue

On https://www.coronawarn.app/de/analysis/ it says today:

"Letzter Stand der Daten: 17. November 2021, 09:21 MEZ. Die Daten des CWA Dashboards werden täglich um 10:30 Uhr aktualisiert."

So the actual update occurred at 09:21, whereas it was exp

[2021-11-17 11:35] MikeMcC399 commented on #2084
@OlympianRevolution

Thanks for your suggestion!

I agree that it should be clearer for "Empfangene Warnungen" what this really means.

I suggest changing the title displayed on the graph to
"Empfangene Warnungen (nur Datenspende)"

and in the ℹ️ Info text explain that these warnings are only collected from users who have enabled in the app to share data (German: Datenspende), currently approximat

[2021-11-17 13:22] dsarkar opened #2093 "FAQ: scan_tips"
Anchor: #scan_tips
Section: #most_asked

**DE**

Warum wird der QR-Code von der CWA nicht gescannt?
Warum reagiert der QR-Code-Scanner nicht?

Auf einigen Geräten erkennt die Kamera den QR-Code nicht sofort und es passiert zunächst gar nichts, d.h. es wird weder der QR-Code eingelesen, noch eine Fehlermeldung angezeigt. Dieses Verhalten betrifft vorrangig einige Android-Geräte, kann jedoch auch au

[2021-11-17 14:22] dsarkar commented on #2090
@MikeMcC399 roll out startet 15. Nov 1322 with 10% and finished 16 Nov 1754 with 100%

[2021-11-17 14:23] Ein-Tim commented on #2093
@dsarkar

Will you close #2087? Or is this a separate issue?

[2021-11-17 14:50] MikeMcC399 commented on #2090
@dsarkar

Thank you very much for the information! The user for issue #4327 "Wrong federal state for some cities on 7 days incidence cards, affects "Thuringia" / "Thüringen" only" confirmed now that they received the new version and could confirm also closure of that issue.

Since this question is now answered, I will close it.

[2021-11-17 14:50] #2090 closed

[2021-11-17 15:10] #2087 closed

[2021-11-18 12:45] #2093 closed

[2021-11-18 13:48] Ein-Tim commented on #2012
This issue is solved with https://www.coronawarn.app/en/faq/#vac_booster_jj & https://www.coronawarn.app/de/faq/#vac_booster_jj.

Closing as fixed.

[2021-11-18 13:48] #2012 closed

[2021-11-18 15:49] MikeMcC399 opened #2098 "GitHub new default Nodejs 16 will break deploy starting Nov 29, 2021"
## Where to find the issue

[deploy-master.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/deploy-master.yml)

## Describe the issue

According to the announcements in https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md
"[all OSs] Default Nodejs version will be set to 16 on November, 29"

This will break the deployment of cw

[2021-11-18 15:54] dsarkar commented on #2098
@MikeMcC399 Thanks for the report and suggestions.

[2021-11-18 15:58] MikeMcC399 commented on #2098
@dsarkar
I just happened to notice this announcement by chance.

I was previously looking to see if the gulp environment could be upgraded. Unfortunately this is beyond my skills as it needs good JavaScript know-how, which I don't have.

[2021-11-18 17:23] MikeMcC399 commented on #1929
### Locations which refer to Bundesregierung's FAQ

I have reviewed these links:

---
https://www.coronawarn.app/en/faq/#who_can_help

![Who can help EN](https://user-images.githubusercontent.com/66998419/142463459-3c3ce7c6-3c38-4496-ae3d-827602bd18e7.jpg)

=> https://www.bundesregierung.de/breg-de/themen/corona-warn-app/corona-warn-app-englisch

![federal government EN](https://user-images.github

[2021-11-18 18:32] MikeMcC399 commented on #2098
It looks like:

[code]
could be changed to:

[code]

in [deploy-master.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/deploy-master.yml).

[2021-11-19 07:07] dsarkar commented on #2098
Good morning @MikeMcC399, Thanks a lot, we will have a look at this today!

[2021-11-19 13:25] #1929 closed

[2021-11-19 17:41] MikeMcC399 commented on #2098
@dsarkar

Did you look at this issue today?

There are now 5 working days (Monday to Friday next week) until Nov 29. The announcement says after that it takes 3 - 4 days to implement, so best case you have until Thursday Dec 2 before web deployment stops working and changes to the web will not be possible any more.

[2021-11-19 21:13] Ein-Tim opened #2101 "iOS 15.1.1 is only available to iPhone 12 and later, other iPhones only get iOS 15.1 - What to do?"
## Your Question
* Website URL Path: https://support.apple.com/en-us/HT201222
* Question: According to the Apple Support page linked to above, iOS 15.1.1 is only available to the iPhone 12 & iPhone 13 series, iOS 15.1 is still the newest iOS for the other phones.
What should we do with https://github.com/corona-warn-app/cwa-website/blob/195d9ef8ec34306a16020f52ff6808016b6b3ad3/gulpfile.js#L426? Le

[2021-11-20 14:04] MikeMcC399 commented on #2098
I had a look at migrating to Nodejs v16 and I have had cwa-website running in this environment, although Panini outputs an error the first time `npm run build` is executed. For anybody interested [view the changes](https://github.com/MikeMcC399/cwa-website/compare/195d9ef...c3ddc65) on https://github.com/MikeMcC399/cwa-website/tree/migration/node-lts-gallium. I don't recommend this as a short-term

[2021-11-21 17:39] Ein-Tim opened #2102 "Update the Blog Post „Explanation of the statistic tiles in the Corona-Warn-App“ to include the newest statistic card"
## Your Question
* Website URL Path: https://www.coronawarn.app/en/blog/2021-08-05-statistictiles/
* Question: The blog post "[Explanation of the statistic tiles in the Corona-Warn-App](https://www.coronawarn.app/en/blog/2021-08-05-statistictiles/)" is referenced from the statistics info screen in the app with the sentence
"For more details about the content of the individual key figures, read our

[2021-11-21 17:49] MikeMcC399 commented on #2102
Also the FAQ:

- EN: https://www.coronawarn.app/en/faq/#further_details "In-App statistics starting with release 1.11"
- DE: https://www.coronawarn.app/de/faq/#further_details "In-App Statistiken ab Release 1.11"

is quite out of date, as already discussed in your issue https://github.com/corona-warn-app/cwa-website/issues/1497.

[2021-11-22 11:26] MikeMcC399 opened #2109 "Data feed to Analysis page interrupted"
## Where to find the issue

- https://www.coronawarn.app/en/analysis/ "Corona-Warn-App (CWA): Key performance indicators"
- https://www.coronawarn.app/de/analysis/ "Corona-Warn-App (CWA): Kennzahlen"

## Describe the issue

1. The timestamp on https://www.coronawarn.app/en/analysis/ is from yesterday:
"_Last data update: November 21, 2021, 9:21 AM GMT+1. The data of the CWA dashboard is updated on

[2021-11-22 13:02] MikeMcC399 commented on #2098
Closing, since PR #2106 implements the suggestion in https://github.com/corona-warn-app/cwa-website/issues/2098#issuecomment-973145685 to modify [deploy-master.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/deploy-master.yml) so that it explicitly configures to use node-version: '`lts/fermium`' (equivalent to node v14.18.1 according to https://nodejs.org/download

[2021-11-22 13:02] #2098 closed

[2021-11-22 16:36] dsarkar commented on #2109
@MikeMcC399 Seems updated now.
![image](https://user-images.githubusercontent.com/1409741/142899853-fbf82132-cc61-46dd-9d48-0f9cb640abfd.png)

[2021-11-22 16:43] MikeMcC399 commented on #2109
@dsarkar

Yes, thank you. It all looks good now. 👍🏻

"Last data update: November 22, 2021, 11:51 AM GMT+1. The data of the CWA dashboard is updated on a daily basis at 10:30 AM."

[2021-11-22 18:05] MikeMcC399 opened #2112 "News Archive links to https://labstalk.buzzsprout.com give 404 error"
## Where to find the issue

- https://www.coronawarn.app/en/blog/archive/ "News Archive"
- https://www.coronawarn.app/de/blog/archiv/ "News Archiv"

## Describe the issue

Labs Talk links are now producing a 404 file not found error.

- https://labstalk.buzzsprout.com/993481/4500305-corona-warn-app-update-with-malte-janduda "Labs Talk - Corona-Warn-App Update with Malte Janduda" @Maltej
- https://

[2021-11-22 18:40] MikeMcC399 commented on #2074
I have now submitted PR #2113 which just removes unused references to `cypress-plugin-snapshots` in JavaScript code.

This change has no visible impact on the web build.

In the next step

`npm uninstall cypress-plugin-snapshots --save-dev`

can be executed which will stop the error message

"`npm WARN cypress-plugin-snapshots@1.4.4 requires a peer of cypress@^4.5.0 but none is installed. You must

[2021-11-22 21:07] Ein-Tim opened #2114 "Scrolling behavior is broken under Safari on iOS on FAQ page"
## Where to find the issue
DE: https://www.coronawarn.app/de/faq/
EN: https://www.coronawarn.app/en/faq/

## Describe the issue
The scrolling behavior of the FAQ page is really broken on the mobile Safari browser:

https://user-images.githubusercontent.com/67682506/142935138-0fb8b47b-9a7e-426f-8e63-90080f7eed31.mp4

https://user-images.githubusercontent.com/67682506/142935185-66fae5c2-d6cc-40c4-bd

[2021-11-23 08:36] MikeMcC399 commented on #2112
It seems that the domain https://labstalk.buzzsprout.com/ was an SAP-specific presence on the platform https://buzzsprout.com/ and that this is no longer functional.

Perhaps SAP has cancelled their presence and subscription to this service?

In any case, so that there are no dead links on the current production web https://www.coronawarn.app I submitted PR #2115 to remove the non-working blog lin

[2021-11-23 10:32] dsarkar commented on #2114
@Ein-Tim Thanks, we will have a look at this.

[2021-11-23 11:06] dsarkar commented on #2114
@Ein-Tim Thanks for reporting. PR https://github.com/corona-warn-app/cwa-website/pull/2116

[2021-11-23 11:48] MikeMcC399 commented on #2109
@dsarkar

The analysis page has not updated at the displayed planned time today, so I am re-opening.

https://www.coronawarn.app/en/analysis/ displays:

"Last data update: November 22, 2021, 11:51 AM GMT+1. The data of the CWA dashboard is updated on a daily basis at 10:30 AM."

Today is Nov 23, 2021, and the time is 12:48 PM so I would expect the page to have already updated and carry an update t

[2021-11-23 12:06] MikeMcC399 commented on #2112
This issue is resolved by PR #2115.

If a new location is found for the deleted podcasts, or of the old location is reactivated, they can be added again.

[2021-11-23 12:06] #2112 closed

[2021-11-23 14:53] Ein-Tim commented on #2114
Thanks @dsarkar & @matriceria!

Confirm fixed!

Closing.

[2021-11-23 14:53] #2114 closed

[2021-11-23 15:28] Ein-Tim opened #2120 "FAQ entry needed informing about the current risk calculation parameters"
## Feature description

There should be a FAQ entry which informs about the current risk calculation parameters (e.g. green warning if the contact lasted longer than 5, but shorter than 9 minutes and was not in close proximity).

## Problem and motivation
Users often ask about the current parameters and want to know them. There is no way to guide them, currently (besides from https://www.coronawar

[2021-11-23 15:55] Ein-Tim opened #2121 "Missing (blog) announcement that CWA now informs about BMG recommended boosters"
## Where to find the issue
- https://www.coronawarn.app/de/blog/2021-11-04-cwa-booster-notification/
- https://www.coronawarn.app/en/blog/2021-11-04-cwa-booster-notification/
- https://www.coronawarn.app/de/faq/#vac_cert_booster_info (also out of date as BMG recommendations are also send)
- https://www.coronawarn.app/en/faq/#vac_cert_booster_info (also out of date as BMG recommendations are also s

[2021-11-23 16:17] MikeMcC399 commented on #2109
The page has updated. The date / time now is November 23, 2021, 5:16 PM:

"Last data update: November 23, 2021, 11:21 AM GMT+1. The data of the CWA dashboard is updated on a daily basis at 10:30 AM"

I will leave this issue open until it is clear what is happening.

https://github.com/corona-warn-app/cwa-website/issues/2091 is also related to this.

[2021-11-24 07:03] MikeMcC399 opened #2122 "Underlined spaces in header"
## Where to find the issue

https://www.coronawarn.app/en/faq/

## Describe the issue

The spaces between "Where to get tested?" and "Missing test result/test certificate?" are underlined and appear as a white underline in Google Chrome and Mozilla Firefox.

This looks strange.

Screenshot below with underline marked with red.

![CWA header](https://user-images.githubusercontent.com/66998419/14319

[2021-11-24 07:07] MikeMcC399 commented on #2122
PR #2123 submitted to resolve the issue.

[2021-11-24 09:27] MikeMcC399 commented on #2091
This issue can now be closed due to text changes in PR https://github.com/corona-warn-app/cwa-website/pull/2124.

---
EN
https://www.coronawarn.app/en/analysis/ now says:
"Last update of the data: November 23, 2021, 11:21 AM GMT+1. The CWA dashboard data is usually updated daily at 10:30 AM (CET) for the previous day. Downloads data is updated only on working days. On Mondays, the data for Friday,

[2021-11-24 09:27] #2091 closed

[2021-11-24 09:28] MikeMcC399 commented on #2109
Issue https://github.com/corona-warn-app/cwa-website/issues/2091 is now resolved.

This issue can be closed if the following pages reliably update daily:

- https://www.coronawarn.app/en/analysis/ "Corona-Warn-App (CWA): Key performance indicators"
- https://www.coronawarn.app/de/analysis/ "Corona-Warn-App (CWA): Kennzahlen"

[2021-11-24 09:45] dsarkar commented on #2109
@MikeMcC399 Thanks for the feedback.

[2021-11-24 09:59] MikeMcC399 commented on #2122
Good morning @larswmh !

Thank you for merging the PR. This issue is now resolved.

[2021-11-24 09:59] #2122 closed

[2021-11-24 13:22] MikeMcC399 commented on #2098
The deploy log now shows:

[code]

👍🏻

[2021-11-25 10:49] MikeMcC399 commented on #2109
The page https://www.coronawarn.app/en/analysis/ has updated today with the text:
"_Last update of the data: November 25, 2021, 9:21 AM GMT+1._"

All values have been updated with data from yesterday, Nov 24, 2021.

So, now closing as this is now working correctly as expected.

[2021-11-25 10:49] #2109 closed

[2021-11-26 07:11] MikeMcC399 commented on #2013
The page [COVID-19 und Impfen](https://www.rki.de/DE/Content/Infekt/Impfen/ImpfungenAZ/COVID-19/COVID-19.html) used in the  [German booster blog](https://www.coronawarn.app/de/blog/2021-11-04-cwa-booster-notification/) does link to [STIKO-Empfehlung zur COVID-19-Impfung](https://www.rki.de/DE/Content/Infekt/Impfen/ImpfungenAZ/COVID-19/Impfempfehlung-Zusfassung.html), however this makes it more com

[2021-11-26 10:58] Ein-Tim commented on #2121
@dsarkar or/and @larswmh

Will you be able to take a look at this soon?

[2021-11-26 12:31] Ein-Tim opened #2130 "Website is returning 502: Bad Gateway"
## Where to find the issue
https://www.coronawarn.app/

## Describe the issue
The website is showing 502: Bad Gateway.

## Suggested change
Fix this issue ASAP.

[2021-11-26 12:37] Ein-Tim commented on #2130
Deployments are also failing: https://github.com/corona-warn-app/cwa-website/actions/runs/1507535800

[2021-11-26 12:38] Ein-Tim commented on #2130
@dsarkar Are you aware of this issue.
Cc @thomasaugsten, @larswmh, @brifemu & @svengabr

[2021-11-26 12:51] larswmh commented on #2130
Hi @Ein-Tim, thanks for your report.  We are aware of the issue and are currently working on it.

---
Corona-Warn-App Open Source Team

[2021-11-26 12:52] Ein-Tim commented on #2130
@larswmh Are you aware that the whole server infrastructure is down? See https://github.com/corona-warn-app/cwa-server/issues/1614

[2021-11-26 13:14] Ein-Tim commented on #2130
I can now access coronawarn.app again, I will still leave this issue open for some time, just to be sure.

[2021-11-26 17:20] MikeMcC399 opened #2132 "check_links fails on testbuchen.de"
## Where to find the issue

[check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js)

## Describe the issue

[check_links.js](https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/check_links.js) produces a 403 (http forbidden) error when checking the link

https://testbuchen.de/#/?zoom=0&lat=47.71401323721353&lng=8.66

[2021-11-26 19:40] MikeMcC399 commented on #2132
It seems that the site testbuchen.de has added network security to stop it being automatically accessed.

![Error 1020](https://user-images.githubusercontent.com/66998419/143623929-b05ac688-a0a5-4238-b349-214cb94a0415.png)

So we need some way in check_links.js to make an exception for websites like testbuchen.de which don't allow link checking automatically.

This is similar to a problem we had w

[2021-11-26 21:17] Ein-Tim commented on #2130
So, as I am still able to access www.coronawarn.app without any problems, I can confirm that this issue is really fixed by now.

Closing as fixed.

[2021-11-26 21:17] #2130 closed

[2021-11-27 10:38] Jo-Achim opened #3036 "RKI's and CWA's screenshots about "Check-In" are out of date..."
## Where to find the issue
... on RKI's website:
["**Corona-Warn-App: Erstellen eines QR-Codes zur Eventregistrierung**" / "Creation of a QR code for event registration"](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Event-QR-Code.html); see downloadable PDF from 04/28/2021.

## Describe the issue
The Screenshots under “Are you planning an event?” / “**Check-In**” to create

[2021-11-27 11:07] dsarkar commented on #2130
Good morning @Ein-Tim Thanks again for reporting! Enjoy Saturday!

[2021-11-27 11:08] Ein-Tim commented on #2130
@dsarkar

Thanks to the whole team for the quick fix! Enjoy the weekend!

[2021-11-29 10:35] MikeMcC399 commented on #2132
Also the CWA Open Source Team might like to contact the support team of https://testbuchen.de to check if they could remove this link test restriction.

The Impressum of the above site https://www.no-q.info/impressum/ includes e-mail address support@vertical-life.info.

[2021-11-29 10:47] MikeMcC399 commented on #1993
PR #2067 is now merged, which resolves this issue.

Note that anybody testing locally will need to run `npm ci` or `npm install` to update their Node package installation.

[2021-11-29 10:47] #1993 closed

[2021-11-29 12:26] dsarkar commented on #1993
@MikeMcC399 Thanks for the PR and all the feedback!

[2021-11-29 14:24] MikeMcC399 commented on #1947
Cypress 8.6.0 is no longer the latest version.
Currently 9.1.0 is the latest version of Cypress. See [Changelog](https://docs.cypress.io/guides/references/changelog).

Now that PR https://github.com/corona-warn-app/cwa-website/pull/2067 has been merged, cwa-website could be updated to use Cypress 8 or 9 at any time. There is however no pressing need to move from the currently used Cypress 7.6.0 ve

[2021-11-29 17:03] moabits commented on #1702
Actually, on iPhones it is toally fine to just scan the QR code with the camera app. It will recognize the URL schema and propose to open the CWA.

[2021-11-29 17:12] Ein-Tim commented on #1702
@moabits Yes, you can also do this with luca QR codes, still it's a nice and easy to achieve advertisement & also makes the whole process more user friendly. They are instantly able to see what the QR code is for and don't have to scan it first.

[2021-11-30 11:58] MikeMcC399 commented on #2132
This issue has been fixed by PR #2136.
Thanks to @brifemu!

[2021-11-30 11:58] #2132 closed

[2021-11-30 12:00] MikeMcC399 opened #2138 "Event registration bad link (DE)"
## Where to find the issue

https://www.coronawarn.app/de/eventregistration/

## Describe the issue

Cypress `check_links` test finds the following broken link:

[code]

## Steps to reproduce

`npm run test:open`
select
`check_links.js`
to run this test.
Note 1 failed test and view file
`cwa-website/cypress/logs/broken_links_result.txt`

## Suggested change

In https://github.com/corona-warn-app/c

[2021-11-30 12:02] MikeMcC399 opened #2139 "Cypress eventRegistration test fails"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/pages/eventRegistration.js

## Describe the issue

Cypress `eventRegistration.js` test fails.

![width error](https://user-images.githubusercontent.com/66998419/144043744-d8f6e741-cbd3-4350-9bdc-d1b6e764d60b.png)

## Steps to reproduce

`npm run test:open`
select
`eventRegistration.js`
to run

[2021-11-30 12:04] MikeMcC399 commented on #2139
Since I haven't been involved so far in this page, I'm happy for somebody more familiar with the Event Registration page to pick up this issue and correct it.

The same comment applies to the issue:
- https://github.com/corona-warn-app/cwa-website/issues/2138

[2021-11-30 14:06] dsarkar commented on #2138
fixed by https://github.com/corona-warn-app/cwa-website/pull/2140

[2021-11-30 14:57] MikeMcC399 commented on #2138
Thanks to @matriceria for PR #2140.

Cypress check_links.js now runs successfully again!

[2021-11-30 14:57] #2138 closed

[2021-11-30 17:12] MikeMcC399 commented on #2074
PR #2113 resolves this issue.

Executing
`npm install`
no longer produces an error message concerning
`cypress-plugin-snapshots` and
`cypress@^4.5.0`

Thanks to @svengabr and @dsarkar for reviewing and approving!

[2021-11-30 17:12] #2074 closed

[2021-12-01 09:34] saerdnaer commented on #1451
Whats about bugs or feature requests for the web app itself (or the corresponding API)? Is there a own repo for that, or should be one of the exiting ones be reused?

[2021-12-01 11:05] dsarkar commented on #1451
@saerdnaer There is no repo for that site. We will forward to TSI bug you report here.

---
Corona-Warn-App Open Source Team

[2021-12-01 11:09] MikeMcC399 opened #2142 "GitHub new default Nodejs 16 may break build workflow"
## Where to find the issue

[build.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/build.yml) workflow.

## Describe the issue

This is a follow-on to issue https://github.com/corona-warn-app/cwa-website/issues/2098 which described the impact of GitHub updating the configuration of [ubuntu-latest](https://github.com/actions/virtual-environments/blob/main/images/li

[2021-12-01 11:10] dsarkar commented on #2142
@MikeMcC399 Thanks!

[2021-12-01 11:14] MikeMcC399 commented on #2142
PR #2143 submitted.

[2021-12-01 12:10] MikeMcC399 commented on #2139
PR #2144 has fixed this issue. Thanks to @matriceria !

All Cypress tests run successfully again now.

[2021-12-01 12:10] #2139 closed

[2021-12-01 22:14] strey opened #2145 "Improve User and Certvalidation with Userphoto"
## Feature description

When presenting a certificate the app should be able to show also a photo of the user, so the person who validates the certificate can easily check, that the presented certificate is related to the person presenting the certificate.
Currently the person who checks the certificate needs to take a look into an official ID with (often outdated) photo AND needs to verify the ce

[2021-12-02 10:22] MikeMcC399 commented on #2142
@dsarkar

The assumption that the new default Nodejs would break the [.github/workflows/build.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/build.yml) workflow was not correct.

The specification of
`container: cypress/browsers:node14.7.0-chrome84`
in the workflow, prevents the problem, however node 14.7.0 is not the LTS (Long Term Support Version), so I will op

[2021-12-02 10:22] #2142 closed

[2021-12-02 10:27] dsarkar commented on #2142
@MikeMcC399 Anyway many thanks for all the effort in analysing this issue!

[2021-12-02 11:52] MikeMcC399 commented on #2142
@dsarkar

No problem. It's quite interesting to understand it. I did the GitHub trainings a while ago and now I realize where I have some knowledge gaps!

The issue on cwa-website is not urgent, since there are no failures, but I hope to provide an update later today.

[2021-12-02 12:36] Ein-Tim commented on #2098
@MikeMcC399

What just came to my mind, what about: https://github.com/corona-warn-app/cwa-event-landingpage?
Should something be changed there?

[2021-12-02 13:15] MikeMcC399 commented on #2098
@Ein-Tim

Should something be changed there?

I'm not familiar with how that site works. If there are no failures on that site, then probably there is no problem. I would have to defer to whoever is maintaining that site and I suggest at the moment that you just wait or place your question in the issue section of that repository.

[2021-12-02 13:21] Ein-Tim commented on #2098
@MikeMcC399 Okay, will do so, AFAIK the site works exactly the same as coronawarn.app.

I will place an informational issue in the repo later on.

[2021-12-02 13:52] MikeMcC399 opened #2146 "build and deploy workflows use different node versions"
## Where to find the issue

[build.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/build.yml) workflow in [cwa-website](https://github.com/corona-warn-app/cwa-website).

## Describe the issue

The node versions used by [build.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/build.yml) (14.7.0) and [deploy-master.yml](https://github

[2021-12-02 13:54] MikeMcC399 commented on #2146
This is a non-urgent issue as currently no problems are being seen due to the different minor versions of node in use (14.7 and 14.18).

I think it makes sense to clean it up though.

I can submit a PR for this if the Open Source Team would like. I have one prepared and I tested it out as far as I could on a test repository.

[2021-12-02 13:55] MikeMcC399 commented on #2142
Follow-on issue is #2146.

[2021-12-02 14:49] Ein-Tim commented on #2098
@MikeMcC399

Yes, the missing deploy workflow also caused an issue: https://github.com/corona-warn-app/cwa-event-landingpage/issues/32

Due to the low/no activity in the repo it's not clear whether something is broken / will get broken soon, I rather create an issue even if this is not an issue!

[2021-12-02 16:12] Ein-Tim opened #2147 "How does the data from the analysis page fit together with the data from the apps statistic tile "Warning by App Users"?"
## Your Question
* Website URL Path: https://www.coronawarn.app/en/analysis/
* Line / Paragraph: "Sharing behaviour"
* Question: In the box "Sharing behaviour" it says that on 01.12.21, 4,160 infections were "shared" through QR-Codes & 937 through teleTANs. Both numbers together is 5.097. So these are the "Warnings by App Users", or not? In the app however, it says "Warning by App Users" "Yesterda

[2021-12-02 16:17] Ein-Tim commented on #2147
Maybe this has something to do with what's written in the informational text of the graph?

"**Reference date**
The reference date is the day of test registration (QR code) or of the call to the verification hotline (teleTAN)."

Does this mean that e.g if the test was registered on 30.11.2021 and the result cam back positive on 01.12.2021, the app will show this at 30.11.2021 and not on 01.12.2021

[2021-12-03 08:23] DanAmt commented on #2147
We also see in the Total Shared statistic "PCR not shared" is included. Only when you go to QR or TAN is the number broken down in "shared" or "not shared". The can be interpreted as misleading and should be clarified as well as the obvious difference above.

[2021-12-03 09:11] HelTob commented on #2147
Hi Tim,

you're right, it has something to do with the reference date but it's a little bit tricky:

Every single value stands for a different reference date. The shared QR codes refer to the scan date, the shared teleTANs refer to the call date and the count of users who shared their positive test result refer to the share date.
In addition, the data comes from two different data views: one is a

[2021-12-03 09:15] DanAmt commented on #2147
@HelTob From what I see the difference is more than 50%. How can this be explained ?

[2021-12-03 09:33] MikeMcC399 opened #2149 "7-day moving average and daily display in Analysis"
## Where to find the issue

- https://www.coronawarn.app/en/analysis/ "Corona-Warn-App (CWA): Key performance indicators"
- https://www.coronawarn.app/de/analysis/ "Corona-Warn-App (CWA): Kennzahlen"

## Describe the issue

Using mouse hover to display data in the [Corona-Warn-App (CWA): Key performance indicators](https://www.coronawarn.app/en/analysis/) with "7-day moving average" selected, the

[2021-12-03 09:46] MikeMcC399 opened #2150 "7-day moving average decimal places in Analysis"
## Where to find the issue

- https://www.coronawarn.app/en/analysis/ "Corona-Warn-App (CWA): Key performance indicators"
- https://www.coronawarn.app/de/analysis/ "Corona-Warn-App (CWA): Kennzahlen"

## Describe the issue

Using mouse hover to display data in the [Corona-Warn-App (CWA): Key performance indicators](https://www.coronawarn.app/en/analysis/) with "7-day moving average" selected, the

[2021-12-03 10:03] MikeMcC399 opened #2151 "Analysis export data files with wrong fields"
## Where to find the issue

https://www.coronawarn.app/en/analysis/ "Corona-Warn-App (CWA): Key performance indicators" using files published to:

1. https://obs.eu-de.otc.t-systems.com/obs-public-dashboard/csv/cwa_all_data.zip
2. https://obs.eu-de.otc.t-systems.com/obs-public-dashboard/csv/cwa_downloads_data.zip
3. https://obs.eu-de.otc.t-systems.com/obs-public-dashboard/csv/test_results_data.zip

[2021-12-03 10:57] MikeMcC399 commented on #2151
The zip files for today 2021-12-03 have the same issue.

[2021-12-03 12:43] MikeMcC399 opened #2152 "Large (95 MB) unused mp4 file"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-06-15-science-blog-1/v4_Teaser_CWA_Testkampagne.mp4

## Describe the issue

The MP4 video file [science/2021-06-15-science-blog-1/v4_Teaser_CWA_Testkampagne.mp4](https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-06-15-science-blog-1/v4_Teaser_CWA_Testkampagne.mp4) is 95 MB larg

[2021-12-03 12:49] MikeMcC399 commented on #2152
PR #2153 is submitted to delete the unused large (95 MB) video file.

[2021-12-03 13:59] MikeMcC399 commented on #1980
This issue has re-appeared. I will open a new issue to track resolution.

[2021-12-03 14:06] MikeMcC399 opened #2154 "English Science blog 1 graphs reverted to German format"
## Where to find the issue

On [Science Blog 1 - EN](https://www.coronawarn.app/en/science/2021-06-15-science-blog-1/)
- Fig. 1: Tests registered with the CWA and their results.
- Fig. 2: Test results shared via the CWA (TAN and QR code).
- Fig. 3: The number and risk level (Transmission Risk Level, TRL) of the daily keys shared via the CWA.
- Fig. 4: Users who provided or received warnings via th

[2021-12-03 14:07] MikeMcC399 commented on #2154
@brifemu / @matriceria

I think this is an issue for one of you.

[2021-12-03 14:08] MikeMcC399 commented on #1980
Follow-on issue #2154 opened.

[2021-12-03 14:41] MikeMcC399 commented on #1893
@Ein-Tim

The English page has now been published and on https://www.coronawarn.app/en/science/2021-10-15-science-blog-4/#326-key-submission it lists the equivalent line:

  - Key submitted after cancelling the key submission process? (`submitted_after_cancel`)

corresponding to:

  - Schlüsselteilung nach Abbruch des Schlüsselteilungsprozesses? (`submitted_after_cancel`)

Do you still see an issu

[2021-12-03 14:47] MikeMcC399 commented on #1151
@dsarkar

I guess that the following PR is the one which you were referring to:

- https://github.com/corona-warn-app/cwa-website/pull/2105

I see on https://www.coronawarn.app/en/eventregistration/#multi that there is an option "Generate multiple QR codes" and on https://www.coronawarn.app/de/eventregistration/#multi "Mehrere QR-Codes erstellen".

So perhaps now this enhancement request can be cl

[2021-12-03 15:23] Ein-Tim commented on #1893
Yeah, also in English, it sounds like the key sharing process was canceled and the user didn't want to submit any keys but keys were still submitted. Or what do you say, as a native English speaker?

[2021-12-03 15:44] MikeMcC399 commented on #1893
@Ein-Tim
I believe that the English and German wording are correct and I do not think that there is any bug here.

At the most, you could say that this is a question about when and why this situation can occur. I do not have an explanation about why a key would be submitted after the key submission process has been cancelled.

[2021-12-03 16:17] Ein-Tim commented on #1893
@MikeMcC399

Exactly this is the question I asked myself and which should be clarified IHMO. I think that what's meant is that if the user wanted to add the start of symptoms to the DKs but then canceled this process. Then the DKs are uploaded but the process itself has been canceled.

[2021-12-04 08:41] Ein-Tim commented on #1626
There was no progress on this issue since some months & I step back from my proposal above, as the situation has changed again with the introduction of the recycle bin.

[2021-12-04 12:30] Ein-Tim commented on #2147
@HelTob

Phew, that's tricky & confusing and opens space for a lot of questions (e.g. the one from @DanAmt). Wouldn't it make sense to align the two values?
Thanks for your response, really appreciate it!

[2021-12-04 12:49] MikeMcC399 opened #2155 "Website migration steps for Nodejs 16"
I migrated a copy of the cwa-website to Nodejs 16 and I successfully tested it. I can provide more details if desired.

The currently used Nodejs version 14 is supported for another 16 months until end of Apr 2023, however there might be other reasons to migrate, apart from this end-of-life date.

## Steps to migrate

1. Update working environment `nvm install lts/gallium` and then `nvm use lts/ga

[2021-12-04 12:54] MikeMcC399 commented on #2098
I have added a new post https://github.com/corona-warn-app/cwa-website/issues/2155 concerning steps to migrate the cwa-website to Nodejs v16 (currently built using Nodejs v14).

[2021-12-04 15:00] MikeMcC399 commented on #1825
There was an issue in September 2020 with running the Cypress tests as part of the build. (This was before link-checking was introduced.) PR https://github.com/corona-warn-app/cwa-website/pull/385 removed the tests from the Cypress workflow.

[2021-12-04 15:04] MikeMcC399 commented on #2146
Until September 2020 and PR https://github.com/corona-warn-app/cwa-website/pull/385 Cypress tests were run with the build workflow. The comment in PR https://github.com/corona-warn-app/cwa-website/pull/385 says that they sometimes ran indefinitely and that is the reason that the tests were removed.

When the Cypress tests were removed, the Cypress container was not removed, even though it was no l

[2021-12-05 17:39] MikeMcC399 commented on #2152
PR #2153 is now merged. (Thank you @dsarkar !)

Cypress test suite runs successfully on `master` branch, verifying that the large deleted mp4 file was not used.
`✔  All specs passed!`

[2021-12-05 17:39] #2152 closed

[2021-12-06 09:31] HelTob commented on #2147
Hello all,

I understand your interest and desire to talk about the topic. Everything I know about the reasons for the difference between the values, I have shared with you. If I can find out more, I will inform you.

Best regards
Tobias

[2021-12-06 11:34] MikeMcC399 commented on #2151
Hallo Tobias @HelTob!

This might be an issue for you.

[2021-12-06 12:24] Ein-Tim commented on #2147
@HelTob

Okay, thank you very much! Since my initial question was sufficiently answered, I'll close this issue.

@DanAmt Please create a new issue for the remaining open questions. Thanks!

[2021-12-06 12:33] dsarkar commented on #2151
@MikeMcC399 Thanks for reporting and suggestions. We contacted TSI/Data analytics group.

[2021-12-06 12:37] MikeMcC399 commented on #2155
@dsarkar

Related topics:

- How long does this website need to be maintained? Probably nobody can answer this question at this time, so it may be better to assume a longer time-frame rather than a shorter one.
- Does it makes sense to start addressing some dependent topics soon without actually migrating to Node v16? That would provide a more solid baseline, if and when the time comes to migrate

[2021-12-06 15:43] HelTob commented on #2151
Hi there,

we will add a description for the field `infections_published_daily` in the attached data definition document in near future.
Thank you for your commitment.

Best regards
Tobias

[2021-12-06 15:47] arm-star commented on #782
I do NOT want to ACTIVATE EXPOSURE LOGGING and I just want to scan the QR code, I do NOT want to use any other service of Corona Warn Ap.  I face the error occurred while I try to see the status of my test. The error is :

I will be happy if anybody can help me with this issue>:

de.rki.coronawarnapp.exception.CwaWebSecurityException: An error occurred while trying to establish a secure connection

[2021-12-06 16:35] MikeMcC399 commented on #2151
@HelTob
Thanks for the feedback about your planned documentation update. It is good to hear that you plan to add a field definition.

I don't think we need to track this point separately here, so I will now close this issue.

Thanks again to @dsarkar and to you!

[2021-12-06 16:35] #2151 closed

[2021-12-06 16:48] MikeMcC399 commented on #782
@arm-star

Many other users are reporting the same error today and I see that you also added yourself to https://github.com/corona-warn-app/cwa-app-android/issues/968.

It looks like a server-side issue and hopefully it will be fixed quickly.

[2021-12-07 07:56] MikeMcC399 opened #2160 "README out of date regarding Visual Comparison tests"
## Where to find the issue

[README.md](https://github.com/corona-warn-app/cwa-website/blob/master/README.md)

## Describe the issue

Some sections in the [cwa-website README.md](https://github.com/corona-warn-app/cwa-website/blob/master/README.md) which are associated with Visual Comparison tests are no longer relevant or correct because these tests are no longer part of the Cypress test suite.

[2021-12-07 07:59] MikeMcC399 commented on #2160
PR #2161 is submitted to resolve this issue.

[2021-12-07 10:21] svengabr opened #2162 "Wording change in german faq "Auffrischungsimpfung""
Please change the wording `Auffrischungsimpfung` to `Auffrischimpfung` in the whole german faq section.

[2021-12-07 11:17] MikeMcC399 commented on #2162
@svengabr

It seems that both terms:

- `Auffrischungsimpfung` and
- `Auffrischimpfung`

are in widespread use. I guess the plan is to align with the use by RKI, for instance on https://www.rki.de/DE/Content/Infekt/Impfen/ImpfungenAZ/COVID-19/Impfempfehlung-Zusfassung.html.

---

`Auffrischungsimpfung` is used by Bundesministerium für Gesundheit (BMG):

https://www.zusammengegencorona.de/auffrisch

[2021-12-07 11:31] MikeMcC399 commented on #2013
There haven't been any comments about this issue so far.

Changing the link in the German blog so it points to the same link as in the English blog would make it easier for German readers to find the relevant information.

If this is not wanted, then please let me know, otherwise I will go ahead with PR submission,

[2021-12-07 11:39] dsarkar commented on #2013
@MikeMcC399 Thanks. Will check this.

[2021-12-07 11:43] MikeMcC399 commented on #2013
@dsarkar

Thanks for picking this up. I will wait in that case.

I was triggered again on this subject by @svengabr's new issue https://github.com/corona-warn-app/cwa-website/issues/2162.

[2021-12-07 16:13] MikeMcC399 opened #2163 "nbsp HTML entity cannot be put into FAQ title"
## Where to find the issue

cwa-website FAQ titles

## Describe the issue

If the HTML entity `&nbsp;` is put into the title of an FAQ article to insert a non-breaking space it appears literally as `&nbsp;` instead of being interpreted. I had noticed this in the past and recently it had to be corrected by @dsarkar in PR https://github.com/corona-warn-app/cwa-website/pull/2159.

## Steps to reprodu

[2021-12-07 16:19] MikeMcC399 commented on #2163
Without the change, reducing the width of the browser window viewing https://www.coronawarn.app/de/faq/#vac_cert_multiple_scan_possible can cause "z. B." to be broken across two lines:

![image](https://user-images.githubusercontent.com/66998419/145065636-b92b7584-6d8e-49fc-95aa-2f9abe2eb4f0.png)

If the partials source is changed, this unwanted break is prevented:

![image](https://user-images.gi

[2021-12-07 18:57] dsarkar commented on #2163
@MikeMcC399 Thanks! Do you have a PR ready?

[2021-12-07 20:11] MikeMcC399 commented on #2163
@dsarkar
I have submitted PR #2165 now. It solves the issue and I can't see any unwanted side effects, so it looks like it is right.

I would leave it up to you if you want to actually revert your commit https://github.com/corona-warn-app/cwa-website/commit/7a12ee369d8d015579afda5726cc6e40b2ab9e19 from PR https://github.com/corona-warn-app/cwa-website/pull/2159 to put the `&nbsp;` back into the ti

[2021-12-07 20:23] MikeMcC399 commented on #2162
I found "Auffrischimpfungen" in the legal text of

Bundesministerium für Gesundheit
Verordnung
zum Anspruch auf Schutzimpfung
gegen das Coronavirus SARS-CoV-2
(Coronavirus-Impfverordnung – CoronaImpfV)
Vom 30. August 2021

found [here](https://www.bundesanzeiger.de/pub/publication/UOQwlJwXXb8WCuAjJ0P/content/UOQwlJwXXb8WCuAjJ0P/BAnz%20AT%2031.08.2021%20V1.pdf?inline) from https://www.bundesgesundh

[2021-12-07 20:45] heinezen commented on #1151
@MikeMcC399  Works for me! I consider it implemented :)

[2021-12-07 20:45] #1151 closed

[2021-12-08 09:25] MikeMcC399 commented on #2163
This issue is resolved by PR #2165.

[2021-12-08 09:25] #2163 closed

[2021-12-08 11:00] svengabr commented on #2162
@MikeMcC399  sorry that I didn't put any more context in!

I got the order from RKI to change `Auffrischungsimpfung` to `Auffrischimpfung` in the FAQ section

@browkin will take care of this.

[2021-12-08 11:30] MikeMcC399 commented on #2162
@svengabr
No problem! All is well! Thanks for the response and clarification.

[2021-12-08 13:25] Morphyum opened #2168 "Invalid Percentage for contact time weights in FAQ"
## Where to find the issue

On the page
https://www.coronawarn.app/en/faq/#risk_assessment
in the category:
**How does the app calculate the risk (version >=1.9)?**

## Describe the issue

I assume contact at very close range aka very high dB is not weighted with 10%?

## Suggested change

Change the percentage to the correct value.

[2021-12-08 13:50] #2162 closed

[2021-12-08 13:51] MikeMcC399 commented on #2168
@Morphyum
You're referring to https://www.coronawarn.app/en/faq/#encounter_19_calc

In fact high attenuation means the opposite of very close range.

You might find the issue https://github.com/corona-warn-app/cwa-website/issues/712 helpful to understand what each attenuation range means.

[2021-12-08 14:09] Ein-Tim commented on #2084
#2169 will fix this.

[2021-12-09 07:21] #2147 closed

[2021-12-09 07:53] dsarkar commented on #2154
@MikeMcC399 Thanks, we will check this.

[2021-12-09 07:54] dsarkar commented on #2150
@MikeMcC399 Alright, we will have a look at this.

[2021-12-09 07:55] dsarkar commented on #2149
@MikeMcC399 Alright, we will have a look at this.

[2021-12-09 07:58] MikeMcC399 opened #2170 "Update sass npm packages (gulp-sass and node-sass)?"
I suggest to update gulp-sass and node-sass because:

1. It allows to solve the GitHub Dependabot alert requiring an upgrade of tar to version 4.4.18 or later. tar is currently held back at tar@2.2.2 due to gulp-sass@4.1.1 > node-sass@4.14.1 > node-gyp@3.8.0 > tar@2.2.2
2. It prepares the way to update to Node.js 16 at some later date (see https://github.com/corona-warn-app/cwa-website/issues/2155

[2021-12-09 09:40] MikeMcC399 commented on #2084
@OlympianRevolution

The texts you referred to have now been changed:

- https://www.coronawarn.app/en/analysis/ "Warnings received by data donors"
- https://www.coronawarn.app/de/analysis/ "Von Datenspendenden empfangene Warnungen"

"**Warnings received by data donors** (EN)

Count of red and green risk warnings as well as the sum of both risk warnings received by data donors in the Corona-Warn-A

[2021-12-09 10:08] dsarkar commented on #2170
@MikeMcC399 Thanks. We will have a look also at this one.

[2021-12-09 10:14] MikeMcC399 commented on #2168
@Morphyum

The figure of 10% in
"Times with an attenuation >= 73dB and <79dB are weighted at 10%."
from https://www.coronawarn.app/en/faq/#encounter_19_calc
agrees with the [Solution Architecture Documentation](https://github.com/corona-warn-app/cwa-documentation/blob/master/solution_architecture.md).

In the [Risk Calculation section of the Solution Architecture](https://github.com/corona-warn-ap

[2021-12-09 10:14] dsarkar opened #2171 "Analysis page: Issue with title"
**Where:**
Second graph on:
[0] https://www.coronawarn.app/de/analysis/
[1] https://www.coronawarn.app/en/analysis/

**Issue**
Short moment one sees new title, then the old one.

[2021-12-09 10:22] MikeMcC399 commented on #2171
@dsarkar
Good morning!
Could you explain a bit more about this issue as I don't understand it? I couldn't see any problem when I opened either of the pages.

Is it perhaps happening only with a particular browser?

[2021-12-09 10:29] #2168 closed

[2021-12-09 10:41] HelTob commented on #2171
@MikeMcC399

Good morning,

the title of the quadrant "Registrierte Tests" (DE) or "Registered test" (EN) has been changed to "Übermittelte und registrierte Testergebnisse" (DE) or "Transmitted and registered test results" (EN) but the old title is still shown.

If you hit F5 on the analysis page (DE and EN) the new title is shown for a short moment but then changes on an instant to the old one.

[2021-12-09 10:55] MikeMcC399 commented on #2171
@HelTob
Now I see it. Thank you for taking the trouble to explain.

[2021-12-09 10:58] dsarkar commented on #2171
![image](https://user-images.githubusercontent.com/1409741/145384064-ef344593-af69-48e0-a01c-ca379bb1b56b.png)

![image](https://user-images.githubusercontent.com/1409741/145384083-db4f5fab-6c60-4717-9abb-30cafdb01f6e.png)

[2021-12-09 11:09] brifemu commented on #2171
FYI: https://github.com/corona-warn-app/cwa-website/pull/2172

[2021-12-09 11:37] dsarkar commented on #2171
@brifemu Thanks.

[2021-12-09 11:37] #2171 closed

[2021-12-09 11:53] dsarkar commented on #2168
@Morphyum Thanks for participating here. Many thanks to @MikeMcC399 for resolving @Morphyum's doubts.

---
Corona-Warn-App Open Source Team

[2021-12-09 12:45] OlympianRevolution commented on #2084
Sure, if it was decided it is clear enough.

[2021-12-09 12:45] #2084 closed

[2021-12-09 12:58] brifemu commented on #2154
FYI: https://github.com/corona-warn-app/cwa-website/pull/2174

[2021-12-09 13:14] MikeMcC399 commented on #2154
@brifemu
#2174 fixes the locale but not the date format.

[2021-12-09 15:14] brifemu commented on #2154
@MikeMcC399
Fixed here https://github.com/corona-warn-app/cwa-website/pull/2176, thanks for your feedback as always!

[2021-12-09 16:21] MikeMcC399 commented on #2154
@brifemu
Thank you.

All is now fixed.

[2021-12-09 16:21] #2154 closed

[2021-12-10 18:34] MikeMcC399 commented on #2170
@dsarkar
To make this more concrete I have submitted a draft tested PR https://github.com/corona-warn-app/cwa-website/pull/2178.

[2021-12-13 09:11] dsarkar opened #2179 "R 2.16 FAQ #admission_policy"
New FAQ R 2.16 FAQ #admission_policy

Links:
- DE https://www.coronawarn.app/de/faq/#admission_policy
- EN https://www.coronawarn.app/en/faq/#admission_policy

**DE**
TBD - article should cover:

- "Zertifikat" im folgenden Text bezieht sich auf das digital COVID Zertifikat der EU.

**Was zeigt der blaue Punkt an?**
**ANZEIGE**
- Der blaue Punkt oben rechts zeigt an, welche Regeln die vorhandenen

[2021-12-13 15:05] dsarkar opened #2181 "R 2.15 FAQs - #val_service_no_valid_dcc and #val_service_result"
FAQ 1 - #val_service_no_valid_dcc
FAQ 2 - #val_service_result

New section val_service

**FAQ 1 DE**
**Warum erhalte ich die Meldung, dass kein geeignetes Zertifikat vorhanden ist?**

Die App überprüft, ob Ihre Zertifikate den Anforderungen des Buchungssystems entsprechen. Dabei werden verschiedene Parameter geprüft. Zunächst muss der Typ Ihres Zertifikats den Anforderungen des Buchungssystems ent

[2021-12-13 15:45] dsarkar opened #2182 "FAQ update - #vac_booster_jj"
**DE**

Warum erscheint in der Corona-Warn-App eine 14-tägige Wartezeit bis zum vollen Impfschutz nach einer Auffrischungsimpfung?

Es gibt drei Fälle, in denen es zu einer Anzeige von einer vierzehntägigen Wartezeit nach einer Auffrischimpfung kommen kann:

Fall 1: Die Grundimmunisierung erfolgt mit dem Impfstoff von Johnson & Johnson (J&J).

Fall 2: Nach einer Genesung von COVID-19 erfolgt eine

[2021-12-13 15:49] dsarkar opened #2183 "Glossary: Isolation, Quarantine"
Add to glossary:
- Isolation
- Quarantine

---
Internal Tracking ID: [EXPOSUREAPP-10994](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-10994)

[2021-12-13 16:09] dsarkar opened #2184 "R 2.15 FAQs: #quarantine_measures and #voluntary_self_quarantine"
**FAQ 1 DE #quarantine_measures**

Fragen zu Quarantäne-Maßnahmen

Sollten Sie positiv getestet werden, muss Ihr zuständiges Gesundheitsamt informiert werden. Dies geschieht über Ihren Hausarzt bzw. das Testzentrum, bei dem Sie Ihren Test durchgeführt haben. Wurde Ihr Test nicht in Deutschland durchgeführt, sind Sie verpflichtet, Ihr zuständiges Gesundheitsamt oder Ihren Hausarzt selbst zu informi

[2021-12-13 18:45] Ein-Tim commented on #2101
Obsolete with https://github.com/corona-warn-app/cwa-website/pull/2185

[2021-12-13 18:45] #2101 closed

[2021-12-15 07:28] #2182 closed

[2021-12-15 08:38] dsarkar commented on #2181
PR merged into dsarkar-release-2-15

[2021-12-15 08:38] #2181 closed

[2021-12-15 08:49] jensb commented on #411
I'm not sure if this is the same issue, but how about transferring / saving / exporting
- certificates (tests, vaccinations, etc)
- manually saved locations and encounters (diary, check-in)
? If you move to a new phone, at least *this* data should be migrated.

[2021-12-15 08:53] dsarkar opened #2192 "R 2.15 Update FAQ #vac_cert_red_warning"
Update FAQ
https://www.coronawarn.app/de/faq/#vac_cert_red_warning

Wie sollte man sich verhalten, wenn man teil- oder vollständig geimpft ist, aber eine rote Warnung in der Corona-Warn-App erhält?

OLD

Wenn eine vollständig geimpfte Person eine Begegnung mit erhöhtem Risiko (rote Kachel) angezeigt bekommt, ist zunächst keine Quarantäne nötig, solange keine Symptome auftreten. Falls im weiteren V

[2021-12-15 09:16] MikeMcC399 commented on #2192
@dsarkar
I am confused because this text is not in alignment with the text for #voluntary_self_quarantine in the open PR https://github.com/corona-warn-app/cwa-website/pull/2188

[2021-12-15 09:20] MikeMcC399 commented on #411
@jensb

Are you asking for the app to do this or are you requesting that the FAQ should be extended to describe how to do what you request?

[2021-12-15 10:26] thorbenkuro commented on #2192
Thank you for the feedback @MikeMcC399 ! We will adjust this text to align with the #voluntary_self_quarantine faq text.

[2021-12-15 10:26] jensb commented on #411
Actually, I would expect the Google One backup (or migration utilities like Samsung Switch) to do this for me since it *supposedly* migrates all apps and app data. I do not want to create yet another cloud account somewhere just to be able to sync data between smartphones.
Maybe the way CWA saves this data needs to be changed?

[2021-12-15 10:33] Ein-Tim commented on #2192
Also, please think about also mention what recovered people are recommended to do in this FAQ entry.