[2021-04-15 17:56] Ein-Tim commented on #1094
@MikeMcC399

If that's ok for you I would already now correct the typo "Dowload" (point 2) in #1091. I can't imagine that the Open Source Team doesn't want to correct this. (:

[2021-04-15 17:59] MikeMcC399 commented on #1094
@Ein-Tim

Of course, yes.

[2021-04-16 06:46] Ein-Tim commented on #1094
#1091 is merged now.
@svengabr Will you change the other things (1. & 3.) here and change the "Du" to "Sie" form, see #1093.
If not, let me know, I already prepared the most changes locally.

[2021-04-16 07:00] svengabr commented on #1094
Hey, @MikeMcC399 thanks for your feedback.

An explanation on the new download page can be found here: https://github.com/corona-warn-app/cwa-website/pull/1091#issuecomment-820953715

You can do your suggested changes if you like to. I will make sure everything will get merged. Don't bother with the 100vh issue, this is already fixed on my machine.

Have a great day!

[2021-04-16 07:20] MikeMcC399 commented on #1094
@Ein-Tim

Since @svengabr wrote "You can do your suggested changes if you like to." and #1091 is merged, another PR would be necessary. If you want to pick this up, that is fine with me. It would otherwise make it a little complicated to have too many people working on the same area of issues.

If you don't want to do this, please reply here, and I will look at addressing the open changes I propos

[2021-04-16 07:30] MikeMcC399 commented on #1061
@dsarkar

I am now seeing the document
[Behördenvereinbarung zwischen RKI und BAG zur grenzüberschreitenden Interoperabilität von Corona-Apps](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Vertrag-DE-SWI.pdf) published to the RKI page [Infektionsketten digital unterbrechen mit der Corona-Warn-App](https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.

[2021-04-16 07:30] #1061 closed

[2021-04-16 07:36] Ein-Tim commented on #1094
@MikeMcC399

I prepared most of the changes locally already. I can open a PR here soon, if that's fine for you.

[2021-04-16 07:40] MikeMcC399 commented on #1094
@Ein-Tim

Please feel free to go ahead. I suggest you keep @svengabr informed.

[2021-04-16 07:43] Ein-Tim commented on #1094
@MikeMcC399

I try to get the PR finished by 10:15 lately, but I want to test the changes locally, mainly the change of the order form the download buttons.

I will keep you in the loop here @svengabr & @MikeMcC399.

[2021-04-16 07:58] Ein-Tim commented on #1094
Opened #1095

[2021-04-16 08:07] Ein-Tim commented on #1093
Fixed in #1095

[2021-04-16 08:07] #1093 closed

[2021-04-16 08:18] MikeMcC399 commented on #1094
@Ein-Tim
Thanks for making the changes! I didn't get the chance to review before @svengabr had merged #1095, however the changes look good. The issues described here have all been addressed, so I will close this now.

[2021-04-16 08:18] #1094 closed

[2021-04-16 10:39] dsarkar commented on #1061
@MikeMcC399 Thanks.

[2021-04-16 11:02] dsarkar commented on #1092
@MikeMcC399 @Ein-Tim Thanks. If you got already a PR in preparation, I can merge it. If not, let me know, I will do it.  Thanks for all the help!

[2021-04-16 11:04] Ein-Tim commented on #1092
@dsarkar I didn't prepare something, so for me it would be ok if you could fix this!

[2021-04-16 11:05] MikeMcC399 opened #1098 "Deploy master triggered on push to fork's master branch"
## Where to find the issue

[deploy-master.yml](https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/deploy-master.yml)

## Describe the issue

If a user pushes a commit to the master branch of a fork of the [cwa-website](https://github.com/corona-warn-app/cwa-website) repository like to
`https://github.com/<GitHub-Username>/cwa-website/tree/master` and Actions are enabled

[2021-04-16 11:09] MikeMcC399 commented on #1092
@dsarkar
I don't know how to fix this issue. I guess you might need gulp and JavaScript skills. Sorry.

[2021-04-16 11:15] #952 closed

[2021-04-16 11:25] dsarkar commented on #1092
@MikeMcC399 @Ein-Tim Can you check again, it seems to work now.
Thanks.

[2021-04-16 11:39] svengabr commented on #1092
Short update:

The download page will be removed from the main website and afterwards be available in a separate repository.

Most likely on Monday next week.
This bug would be obsolete.

[2021-04-16 11:39] #1092 closed

[2021-04-16 11:41] Ein-Tim commented on #1092
@svengabr

Thanks for the update. Could you let us know when the change is done?

[2021-04-17 11:29] Pozzdamm opened #1103 "Verknüpfung mit dem neuen (digital) Personalausweis"
## Feature description

## Problem and motivation

## Is this something you're interested in working on

[2021-04-18 17:45] Ein-Tim commented on #921
I think we can close this now, or?

[2021-04-19 08:08] dsarkar commented on #921
@Ein-Tim Indeed, Thanks.

[2021-04-19 08:08] #921 closed

[2021-04-19 08:28] MikeMcC399 commented on #639
The text in

**[Google/Android]: Why are Android 6 and Google Play Services minimum requirements?**
https://www.coronawarn.app/en/faq/#googleplay

continues to state that Google ENS only supports Android 6 and later. This was true at one time, but the position of Google has changed - see https://developers.google.com/android/exposure-notifications/exposure-notifications-api#architecture.

Google's

[2021-04-19 08:58] dsarkar commented on #639
@MikeMcC399 Yes, we have to change the text. I will check later if there are plans regarding supporting 5.0. Thanks for the reminder.

[2021-04-19 09:01] MikeMcC399 commented on #1010
If there are no plans to update the blog entries, which incorrectly imply that the duration of meeting with a person cannot be shorter than the duration of being at a place, please close this issue.

**Corona-Warn-App version 1.14 brings new features to the contact journal**
https://www.coronawarn.app/en/blog/2021-03-09-corona-warn-app-version-1-14/

**Corona-Warn-App Version 1.14 bringt neue Funk

[2021-04-19 09:04] MikeMcC399 commented on #1028
@heinezen
Could you please consider this issue in your review of the FAQs?

[2021-04-19 09:09] MikeMcC399 commented on #1067
@heinezen
Could you please review PR #1068? I'm unsure if the FAQ should go into the detail of what happens if a user deletes app data using Android tools. Perhaps we should close this PR instead of merging it?

[2021-04-19 17:00] Ein-Tim commented on #1092
The repo for the language page is: https://github.com/corona-warn-app/cwa-event-landingpage

[2021-04-20 07:26] svengabr commented on #1092
I will remove the code from cwa-website today as it is available in the new repository now.

[2021-04-20 14:35] heinezen commented on #1067
@MikeMcC399

I have taken a look and don't see anything that would be problematic.

However, it got me thinking whether this FAQ entry takes the right approach in general. The question is: Who is the audience for this entry?

1. Someone who wants solve a problem with the app and considers re-installing it?
2. Someone who has uninstalled the app and wants to be sure that all the app's data (includi

[2021-04-21 06:42] MikeMcC399 commented on #1010
Now that version 2.0 has been announced, I am not expecting any changes to be made to the 1.14 blog, so therefore I am closing this issue.

[2021-04-21 06:42] #1010 closed

[2021-04-21 12:26] MikeMcC399 commented on #1067
@heinezen

Thanks for taking a look!

The current FAQ
**Are the exposure logs/random IDs removed from my phone when I uninstall the app?**
https://www.coronawarn.app/en/faq/#delete_random_ids

answers more the question: "What happens if I uninstall the app?"

whereas the other question: "How do I delete all data gathered by the app?" is not specifically addressed.

I don't see much discussion in t

[2021-04-21 16:18] MikeMcC399 opened #1120 "FAQ: Typo in #check_in_qr_warning"
## Where to find the issue

**Questions and answers about the warning:**
https://www.coronawarn.app/en/faq/#check_in_qr_warning

Section
**Can this information be voluntarily communicated to the health authority? If so, what information is flowing?**

## Describe the issue

There is an extra character "N" at the beginning of the sentence:

"NAfter a red tile warning (high risk) you should quaranti

[2021-04-21 18:40] MikeMcC399 commented on #913
Although the site https://www.bundesregierung.de/corona-warn-app-faq-englisch  has been modified multiple times since this issue was submitted, the problem of linking to the wrong language version of the FAQs has not been addressed.

There is also a new typo on this page linking to https://github.com/corona-warn-app/ where the text says `ttps://github.com/corona-warn-app/` (missing the h in https)

[2021-04-21 20:19] Ein-Tim opened #1121 "iOS screenshot in Android screenshot section"
## Where to find the issue
https://www.coronawarn.app/de/screenshots/
https://www.coronawarn.app/de/screenshots/
Android screenshots - section "Check In".

## Describe the issue
First picture is from iOS, not from Android.

## Suggested Change
Replace the iOS screenshot by one from Android.

[2021-04-22 08:27] MikeMcC399 commented on #1120
I created PR #1122 to clean up this typo.

[2021-04-22 08:42] dsarkar commented on #1120
@MikeMcC399 Thanks.

[2021-04-22 08:46] #1120 closed

[2021-04-22 11:00] MikeMcC399 opened #1127 "RKI: CWA English language page not updated since Jan 2021"
## Where to find the issue

**Interrupt chains of infection digitally with the Corona-Warn-App**
https://www.rki.de/EN/Content/infections/epidemiology/outbreaks/COVID-19/CWA/CWA.html

## Describe the issue

The information on the RKI page https://www.rki.de/EN/Content/infections/epidemiology/outbreaks/COVID-19/CWA/CWA.html is outdated.

The last app version to be described on this page is version

[2021-04-22 11:09] dsarkar commented on #1121
Fixed.

[2021-04-22 11:09] Ein-Tim commented on #1121
Fixed in #1126

[2021-04-22 11:09] #1121 closed

[2021-04-22 22:12] heinezen commented on #1014
I have added this to #971

[2021-04-22 22:12] heinezen commented on #1028
Yes, I have added this to #971

[2021-04-24 04:52] heinezen opened #1136 "Pressing 'Download' button in QR code generator before 'Create' yields empty image"
### Problem

Downloading the QR code fetches the last created QR code for the resulting image. If no QR code has been generated yet, the resulting image is empty (it returns a 300x150 image with only alpha values).

### Steps to reproduce

1. Go to https://www.coronawarn.app/en/eventregistration/
2. Fill out forms
3. Do **not** select 'Create'
3. Select 'Download'
4. Receive empty image

### Possi

[2021-04-24 08:56] fynngodau opened #1137 "Warn when creating new code with same data"
Regarding the QR code generator, users might not be aware that generating a new code with the same data is actually a very different event.

This is different from the mobile apps, where it is clear because the code is stored in the app, and deleting and re-creating an event makes it clear what one is doing.

Therefore, there should be a warning when generating a new code with the same data.

[2021-04-24 09:04] DerVogel2020 commented on #1137
That might be difficult, since in my understanding, no data is saved on any server.
The same problem occurs if I create an event with the same data as my colleague.
I think you're right, a warning should be always displayed. Always because my browser doesn't know of the data my colleague entered to generate a qr code.

[2021-04-24 09:06] fynngodau commented on #1137
What I meant was to show a warning when the Create button was clicked multiple times in a row, as this would generate multiple different codes. Maybe the button should even be blocked until any of the input fields are changed.

[2021-04-24 11:07] dsarkar opened #1138 "[Overview] Enhance https://www.coronawarn.app/en/eventregistration"
## Feature description

Enhance https://www.coronawarn.app/en/eventregistration/:

1. Feature/Buttons: "Download PDF file", "Download PNG file"
1. Feature/Button: "Show QR code fullscreen"
Might be interesting for shops using a tablet: Create code and immediately show it in fullscreen to visitors
1. Feature/textfield: Create a batch of QR codes into one single PDF file from a comma-separated value

[2021-04-24 11:39] heinezen commented on #1138
I propose we make individual issues for each enhancement idea.

1. The community can discuss each feature individually
2. We can put more details and references about the feature in these issues. For example, for "Download PDF" we could link to the poster specification or the code currently being created in https://github.com/corona-warn-app/cwa-event-qr-code/pull/5
3. We can link them in the gene

[2021-04-24 11:43] dsarkar commented on #1138
@Ein-Tim Sure. Just collecting rough ideas for the moment. I understand there will be a lot of suggestions, so this can be used as a starting point for ideas. Of course, each idea should be discussed and developed in separate issues.

[2021-04-24 11:45] dsarkar commented on #1138
@heinezen @Ein-Tim Haha ... It was you, @heinezen ;-)

[2021-04-24 12:07] Ein-Tim commented on #1138
@dsarkar

Our profile pictures are quite similar (;
Do you want to keep this issue open?
I'll follow up with at least 3 issues reg. the generator today and I'd say we can use https://github.com/corona-warn-app/cwa-wishlist/issues/479 for the overview.
But as you like (:
Enjoy the nice weather!

[2021-04-24 12:54] dsarkar commented on #1138
@Ein-Tim Sure, sounds good. I will close this issue.

[2021-04-24 12:54] #1138 closed

[2021-04-24 12:55] dsarkar commented on #1032
@MikeMcC399 True, thanks.

[2021-04-24 12:55] #1032 closed

[2021-04-24 14:31] DerVogel2020 opened #1139 "Typo in eventregistration"
## Where to find the issue
https://www.coronawarn.app/de/eventregistration/

## Describe the issue
Typo: Weder die von Ihnen generierten QR-Codes noch die darin enthaltene Informationen werden an die Server der Corona-Warn-App gesendet.

## Suggested change
Weder die von Ihnen generierten QR-Codes noch die darin enthaltenen Informationen werden an die Server der Corona-Warn-App gesendet.

[2021-04-24 14:58] Ein-Tim commented on #753
Is there any development on this issue? It wasn't even mirrored to JIRA. Perhaps @dsarkar want to pick this up?

Enjoy Saturday!

[2021-04-24 16:33] Ein-Tim opened #1143 "Add picker to QR-Code generator"
## Feature description

Add a picker to the https://www.coronawarn.app/en/eventregistration/ page.
The fields:
- "Typical length of stay", - **IMPLEMENTED**
- "Start time" &
- "End time"

could be enhanced by adding a picker to them, which makes it easier to enter the information.

## Problem and motivation
The fields only accept specific formatted inputs (see https://github.com/corona-warn-app/cw

[2021-04-24 16:39] Ein-Tim opened #1144 "QR-Code should not change when "Download" is pressed"
## Where to find the issue
https://www.coronawarn.app/de/eventregistration/
https://www.coronawarn.app/en/eventregistration/

## Describe the issue
The QR-Code changes when the download button is pressed.
This could result in a situation where the person who created the QR-Code checks in to the QR-Code shown on the website after he/she downloaded the QR-Code and thus he/she checks in to another ev

[2021-04-24 16:43] Ein-Tim opened #1145 "Add option to print directly from the website"
## Feature description

The [QR-Code generator](https://www.coronawarn.app/en/eventregistration/) should have a button "Print", which opens the print dialog of the browser when it's pressed.

## Problem and motivation
Currently the user has to download the QR-Code before it can be printed. The Corona-Warn-App Android and iOS apps offer a print button directly from inside of the app to make it as e

[2021-04-24 16:59] Ein-Tim opened #1146 "Red stars on QR-Code generator page aren't explained"
## Where to find the issue
https://www.coronawarn.app/de/eventregistration/
https://www.coronawarn.app/en/eventregistration/

## Describe the issue
The red stars that can be seen after each description aren't explained.

## Suggested change
Explain the red stars.

## Additional information
Not a high priority item since it's widely known that such stars refer to required fields ("Pflichtfelder).
I

[2021-04-24 20:20] Ein-Tim commented on #1139
This has been addressed in #1147.

[2021-04-25 11:49] heinezen commented on #1139
Sorry we merged our own fix by accident and not your PR. The result is the same: It's fixed now :)

----
Corona-Warn-App Open Source Team

[2021-04-25 11:49] #1139 closed

[2021-04-25 14:14] heinezen opened #1149 "More format options for downloads: PDF, PNG, ...."
## Feature description

The download function of the QR code generator could be enhanced by adding more options for the desired output format. For example, the QR code could be generated to a PDF. PDF generation will also be part of the official node.js libraries in https://github.com/corona-warn-app/cwa-event-qr-code, so it would be nice to have feature parity.

## How?

Implement a format picker

[2021-04-25 14:21] heinezen opened #1150 "Show QR code in fullscreen"
## Feature description

Add an option to show a generated QR code in fullscreen view.

## Problem and motivation

Might be interesting for shops using a tablet or another digital screen.

---
Internal Tracking ID: [EXPOSUREAPP-14227](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14227)

[2021-04-25 14:26] heinezen opened #1151 "Batch creation of QR codes"
## Feature description

Create multiple QR codes at once from user input. The user input could be a comma-separated value string pasted into a text field. The QR codes could be downloaded individually, as a zipped file or merged as a single PDF.

## Problem and motivation

Users who need to create QR codes for multiple rooms will have a much easier time generating them.

[2021-04-25 14:29] heinezen opened #1152 "Refresh QR code automatically"
## Feature description

Automatically generate a new QR code in defined intervals (e.g. every hour) and display it on the website.

## Problem and motivation

This could be useful for places which are open 24/7 or where the replacement of QR codes can be heavily automated.

[2021-04-25 17:06] DerVogel2020 opened #1153 "Align Start/Ende to android app, fix date pattern to TT.MM.JJJJ"
## Where to find the issue
https://www.coronawarn.app/de/eventregistration/
Switch Ort/Event e.g. to Vereinsaktivität.

## Describe the issue

The German "Endzeit" means something different: See https://www.duden.de/rechtschreibung/Endzeit . Maybe "Enduhrzeit" could be used.
While comparing with the android app, I think "Beginn" and "Ende" would be better.

Furthermore, the pattern for the date sh

[2021-04-25 17:09] DerVogel2020 commented on #1139
OK. Thanks for the appology.

[2021-04-25 22:01] rugk commented on #1137
or… alternatively… hash the data with a password-hash and save the data in local storage.
This way they would be non-extractable (as long as the event name etc. is “random” enough), but you can compare whether the coe is the same.

If you’d want, maybe change the hash once a day  or save it only as in the session storage, so it is deleted fast enough or so… to minimize the attack surface even more

[2021-04-25 22:08] rugk commented on #1144
As I'm not sure what that means:

IMHO the QR code should just not be regenerated when clicking _Download_ or _Generate_.

[2021-04-25 22:17] rugk commented on #1146
A simple `title` attribute should be an easy start, is not it?

See also an aria guide on that fore better accessibility (e.g. screenreaders should not read the `*`, but `required`.)

[2021-04-25 22:17] rugk commented on #1149
…SVG :smiley:

[2021-04-25 22:32] rugk opened #1155 "Up/down buttons for length of issue don’t work"
## Where to find the issue

https://www.coronawarn.app/de/eventregistration/
https://www.coronawarn.app/en/eventregistration/

## Describe the issue

Go to https://www.coronawarn.app/en/eventregistration/
Click the up or down button in the “Typical length of stay (minutes)” field:

![grafik](https://user-images.githubusercontent.com/11966684/116011541-d73c8300-a625-11eb-95d1-a31abda89298.png)

Eve

[2021-04-26 04:33] Ein-Tim commented on #1144
@rugk

I think that this commit changed the behavior so that the QR-Code always changes if the content of the fields change (intended) but the QR-Code also changes when the Download/Generate button is pressed (unintended).

[2021-04-26 08:28] svengabr commented on #1153
Should the English version remain unchanged then?

[code]

[2021-04-26 09:05] DerVogel2020 commented on #1153
Good point. See #1159.

[2021-04-26 09:23] #1153 closed

[2021-04-26 09:23] svengabr commented on #1153
The pull request was merged, thank you very much for cour contribution @DerVogel2020

[2021-04-26 10:37] heinezen commented on #1155
This worked in Firefox 87 btw. Just upgraded and I have the same issue as you.

----
Corona-Warn-App Open Source Team

[2021-04-26 10:47] Ein-Tim commented on #1155
Can't reproduce in Safari on Mac OS.

[2021-04-26 11:55] bastianjoel commented on #1155
This is an issue with the webbrowser. The properties of the input Element are set correctly.

There is already an issue #1143 that suggests adding pickers to the form.

[2021-04-26 13:16] #1067 closed

[2021-04-26 22:32] rugk commented on #1155
Another detail: Scrolling in the input field works, just not clicking the buttons… Strange… :thinking:

[2021-04-27 08:13] MikeMcC399 opened #1165 "Datenschutz-Folgenabschätzung does not cover Switzerland or Event registration"
## Where to find the issue

[Datenschutz-Folgenabschätzung](https://www.coronawarn.app/assets/documents/cwa-datenschutz-folgenabschaetzung.pdf)
Bericht zur Datenschutz-Folgenabschätzung für die Corona-Warn-App der Bundesrepublik Deutschland
Öffentliche Version
Version 1.7, 02.03.2021

## Describe the issue

The [Datenschutz-Folgenabschätzung](https://www.coronawarn.app/assets/documents/cwa-datensc

[2021-04-27 08:17] MikeMcC399 commented on #1165
Here are some additional minor comments on:
[Datenschutz-Folgenabschätzung](https://www.coronawarn.app/assets/documents/cwa-datenschutz-folgenabschaetzung.pdf)
Bericht zur Datenschutz-Folgenabschätzung für die Corona-Warn-App der Bundesrepublik Deutschland
Öffentliche Version
Version 1.7, 02.03.2021

1. The date on the title page for version 1.7 (02.03.2021) does not agree with the date listed on

[2021-04-27 08:58] dsarkar commented on #1165
@MikeMcC399 Thanks. Internal Tracking ID: [EXPOSUREAPP-6779](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-6779)

[2021-04-27 10:36] heinezen commented on #1155
I've encountered this on Ubuntu 20.10 and Windows 10.

I also found the same bug report on another (very weird) website: https://gitmemory.com/issue/twbs/bootstrap/33725/825602758 (warning: TLS is broken on this site). So this might be a Firefox problem.

@rugk Can you file a bug report for Firefox? Looks like we cannot do much here.

----
Corona-Warn-App Open Source Team

[2021-04-27 10:39] heinezen commented on #1149
@rugk Oh yes, please :D SVG is another good candidate.

----
Corona-Warn-App Open Source Team

[2021-04-27 12:02] rugk commented on #1155
Just filed a WebCompat bug first: https://github.com/webcompat/web-bugs/issues/72092

Let’s see what they say…

[2021-04-27 16:54] MikeMcC399 opened #1168 "eventregistration.js triggers build warning regarding size limit"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/src/assets/js/eventregistration.js

## Describe the issue

When the website is built through https://github.com/corona-warn-app/cwa-website/blob/master/.github/workflows/build.yml a warning is shown regarding `eventregistration.js`.

[code]

For example the pull request https://github.com/corona-warn-app/cwa-web

[2021-04-27 19:39] Ein-Tim commented on #716
Meanwhile the situation has changed:

The FAQ page doesn't support the Reader-View anymore, the only site that still has it enabled & also problems with it is the main page.

[2021-04-29 08:59] MikeMcC399 opened #1171 "Release date for rapid testing?"
## Background

According to https://www.coronawarn.app/en/blog/2021-03-31-corona-warn-app-test-integration/

"The federal government's Corona-Warn-App is getting another important feature. In the future, the app will integrate rapid COVID-19 tests. Users can save the confirmation of their test in the app and add them to the contact diary. In addition, anyone who tests positive for COVID-19 through

[2021-04-29 10:07] dsarkar commented on #1171
@MikeMcC399 Ok, noted. Thanks.

[2021-04-29 13:25] heinezen opened #1172 "FAQ - Make it more clear which QR code type an entry refers to"
## Where to find the issue

Everywhere in the FAQ where "QR code" is mentioned.

- https://www.coronawarn.app/en/faq/#who_can_help
- https://www.coronawarn.app/en/faq/#international_phone_numbers
- https://www.coronawarn.app/en/faq/#check_in_index
- https://www.coronawarn.app/en/faq/#check_in_implementation
- https://www.coronawarn.app/en/faq/#check_in_which_places_and_events
- https://www.coronaw

[2021-04-29 14:15] MikeMcC399 commented on #1172
@heinezen

The ambiguity between QR codes of test documents and QR codes to check in to an event or place already exists in the current 2.0 release.

The 2.1 release branch introduces another type of QR code for rapid testing. The app refers to the tests as "rapid antigen tests" or "rapid test", however when scanning it just says "QR Code Scan" independently of which type of QR test code is being

[2021-04-29 14:24] heinezen commented on #1172
@MikeMcC399 Oops, I actually meant 2.0. But we already have it on our radar for 2.1 as well :)

[2021-04-30 07:25] MikeMcC399 commented on #524
@heinezen

Six months have gone by and the file attached to this issue is quite out of date. Perhaps this issue can be closed in favor of #971?

[2021-04-30 09:28] #524 closed

[2021-04-30 18:35] DerVogel2020 opened #1179 "Capitalize German locations"
## Where to find the issue
https://www.coronawarn.app/de/eventregistration/ in selection of Ort/Event: "öffentliche Gebäude", "anderer Ort", "private Feier" and "anderes Event"

## Describe the issue
First letters are not writen as majuscile.
Change "öffentliche Gebäude" to "Öffentliches Gebäude" as it is in both apps.

## Suggested change
Capitalize all named locations, see also https://github.co

[2021-05-02 13:59] MikeMcC399 opened #1189 "List third-party apps approved for Event Registration"
## Where to find the issue

**Event Check-In**
https://www.coronawarn.app/en/faq/#check_in

## Describe the issue

According to the section [QR Code Compatibility with Other Contract Tracing Apps in Germany](https://github.com/corona-warn-app/cwa-documentation/blob/master/event_registration.md#qr-code-compatibility-with-other-contract-tracing-apps-in-germany) in the document [Event Registration -

[2021-05-02 14:22] MikeMcC399 commented on #1171
**Federal Government integrates rapid COVID-19 tests into Corona-Warn-App**
https://www.coronawarn.app/en/blog/2021-03-31-corona-warn-app-test-integration/ has been superseded by

**Project team integrates rapid COVID-19 tests into Corona-Warn-App version 2.1**
https://www.coronawarn.app/en/blog/2021-05-02-corona-warn-app-version-2-1/ dated May 2, 2021

**Eight partners participate from the beginn

[2021-05-02 14:22] #1171 closed

[2021-05-02 14:28] MikeMcC399 commented on #841
As an example, see difficulties encountered by https://github.com/corona-warn-app/cwa-documentation/issues/598.

[2021-05-03 09:38] thomasaugsten opened #1192 "QR-Code Generation Typical length of stay is not strongly enforced"
## Where to find the issue
https://www.coronawarn.app/en/eventregistration/

## Describe the issue
Typical length of stay is not strongly enforced you can override manually the max value of 3600

## Suggested change
Check in NodeJs if the value over the limit and return an error

[2021-05-03 09:39] thomasaugsten commented on #1192
@bastianjoel  Do you have the time for this fix?

[2021-05-03 09:56] DerVogel2020 commented on #1179
Closed, because #1180 won't be merged for convention reasons.

[2021-05-03 09:56] MikeMcC399 commented on #1127
The page RKI English-language page:

**Interrupt chains of infection digitally with the Corona-Warn-App**
https://www.rki.de/EN/Content/infections/epidemiology/outbreaks/COVID-19/CWA/CWA.html

now shows a date 28.04.2021 and includes information regarding the version 2.0 previously released on April 21, 2021 (see https://www.coronawarn.app/en/blog/2021-04-21-corona-warn-app-version-2-0/ ).

Since

[2021-05-03 09:58] DerVogel2020 opened #1193 "Change "öffentliche Gebäude" to "öffentliches Gebäude""
## Where to find the issue

https://www.coronawarn.app/de/eventregistration/ in selection of Ort/Event: "öffentliche Gebäude"

## Describe the issue

Change "öffentliche Gebäude" to "öffentliches Gebäude" as it is in both apps.

[2021-05-03 10:03] dsarkar commented on #1193
@DerVogel2020 Thanks. Needs to be fixed.

---
Corona-Warn-App Open Source Team

[2021-05-03 10:04] MikeMcC399 commented on #1026
RKI has updated the German-language page:

**Infektionsketten digital unterbrechen mit der Corona-Warn-App""
https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.html

with information about the 2.1 release from yesterday, May 2, 2021 (see "Projektteam integriert Schnelltests in Corona-Warn-App Version 2.1" https://www.coronawarn.app/de/blog/2021-05-02-corona-warn-app-vers

[2021-05-03 10:08] dsarkar commented on #1179
@DerVogel2020 Thanks.

---
Corona-Warn-App Open Source Team

[2021-05-03 10:09] dsarkar commented on #1127
@MikeMcC399 Thanks.

[2021-05-03 10:10] MikeMcC399 commented on #1003
The Corona-Warn-App FAQ website hosted by the Bundesregierung:
- https://www.bundesregierung.de/breg-de/themen/corona-warn-app/corona-warn-app-faq-1758392 (German)

has already been updated three times since this issue was logged (Mittwoch, 24. März 2021, Mittwoch, 21. April 2021 and today Montag, 3. Mai 2021)

yet no changes have been made to the telephone numbers.

The equivalent English-languag

[2021-05-03 10:11] dsarkar commented on #1026
@MikeMcC399 Thanks. Forwarded your comment to  Internal Tracking ID: EXPOSUREAPP-5989.

[2021-05-03 10:15] dsarkar commented on #1003
@MikeMcC399 Thanks, updated internal ticket with your comment.

[2021-05-03 10:21] MikeMcC399 commented on #913
Checking today on the status of the English-language page https://www.bundesregierung.de/corona-warn-app-faq-englisch

- The page has been updated to include information about 2.1, however strangely the status date at the bottom of the page still says "Wednesday, 21. April 2021"), although 2.1 was released yesterday, May 2, 2021.
- The FAQ link is still to the wrong language https://www.coronawarn

[2021-05-03 10:28] dsarkar commented on #913
@MikeMcC399 Thanks, I updated the internal ticket!

[2021-05-03 10:56] bastianjoel commented on #1143
I would like to implement this.

Are there any preferences on which picker to use?

I would suggest Flatpickr (https://flatpickr.js.org/)

Another option (which I would prefer, because I think this is mainly used on desktops) is Cleave.js (https://nosir.github.io/cleave.js/) which forces the user to follow a specific pattern and adds separators automatically.

[2021-05-03 10:57] bastianjoel commented on #1192
@thomasaugsten Yes, but not until tomorrow.

I could fix this together with the implementation of #1143.

[2021-05-03 11:25] dsarkar commented on #1143
@thomasaugsten See comment above, please!

[2021-05-03 11:35] thomasaugsten commented on #1143
No preferences. This is up to you.

[2021-05-03 11:58] Ein-Tim opened #1195 "`rapid_test` needs update"
## Where to find the issue
https://www.coronawarn.app/de/faq/#rapid_test
https://www.coronawarn.app/en/faq/#rapid_test

## Describe the issue
This entry is outdated with the release of version 2.1, which integrated quick tests into CWA.

## Suggested change
Move this entry up to the "Rapid antigen test" section and use it as an index, similar to https://www.coronawarn.app/en/faq/#check_in_index, a

[2021-05-03 12:23] MikeMcC399 commented on #1195
You are right that this article should be updated.

Another suggestion would be to leave the article where it is and link it to the group link  https://www.coronawarn.app/en/faq/#rapid_antigen_test and to the blog announcement for 2.1 https://www.coronawarn.app/en/blog/2021-05-02-corona-warn-app-version-2-1/

I'm not sure if an additional link list is necessary.

[2021-05-03 13:38] DerVogel2020 commented on #1193
Fixed in #1194 and merged to master.

[2021-05-03 13:38] #1193 closed

[2021-05-04 07:49] MikeMcC399 commented on #882
Now that the category list has grown in length, more categories are lost off the bottom of a smaller device. With

- Samsung Galaxy A5 (2017) SM-A520F
- Browser: Google Chrome

the last category to be shown is Use. The following, from the bottom of the list after the "Use" entry, are not displayed:
- Risk Assessment
- General
- Open Source
- Privacy and Security
- Resolved

[2021-05-04 09:06] DerVogel2020 opened #1201 "Translate subtitles to blogentry"
## Where to find the issue
https://www.coronawarn.app/de/blog/
Hanna Heine on 2. Mai 2021 and all other blog entrys

## Describe the issue
Hanna Heine on 2. Mai 2021 has to be Hanna Heine am 2. Mai 2021

## Suggested change
I think this should be fixed in https://github.com/corona-warn-app/cwa-website/blob/master/src/services/blog-processor.js
There in https://github.com/corona-warn-app/cwa-websit

[2021-05-04 10:14] #1144 closed

[2021-05-04 10:14] #1136 closed

[2021-05-04 10:31] #1145 closed

[2021-05-04 10:40] #1155 closed

[2021-05-04 10:40] #1192 closed

[2021-05-04 10:44] kannicht opened #1202 "Add an overview for rapid test partners"
## Feature description

As of version 2.1 Antigen-Rapid-Test results can be obtained by the CWA. Even though there are only few partners at the moment an overview on the website (and maybe in the app) of all current partners.

## Problem and motivation

The problem is that people don't know wether their local test center is included in the CWA.

People don't want to check the press releases on a r

[2021-05-04 10:45] heinezen commented on #971
Sorry for not coming back to the FAQ updates for a while. We were quite busy with the releases. I'll resume the FAQ updates this month.

[2021-05-04 10:50] dsarkar commented on #1202
@kannicht Thanks for the suggestion. Internal Tracking ID: [EXPOSUREAPP-7043](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-7043)

---
Corona-Warn-App Open Source Team

[2021-05-04 10:55] DerVogel2020 commented on #1202
May be it should be moved to wishlist. I think it's also a nice feature for both apps.

[2021-05-04 11:42] MikeMcC399 commented on #1202
It would probably be better to leave this request here on the website and add a separate item on the wishlist to have the list of Rapid Antigen Test partners available in the app. That way the two types of requests (website and app) are decoupled from each other.

[2021-05-04 11:52] dsarkar commented on #1202
@MikeMcC399 agreed.

[2021-05-04 11:52] DerVogel2020 commented on #1202
Done: https://github.com/corona-warn-app/cwa-wishlist/issues/498

[2021-05-04 14:19] fynngodau commented on #1150
There is a similar wishlist item for a similar request for the mobile apps: https://github.com/corona-warn-app/cwa-wishlist/issues/458

[2021-05-04 14:32] Ein-Tim commented on #1143
I'd like to reopen this since only the field "Typical length of stay (hours)" got a picker with #1200, but I also asked for pickers for "Start time" & "End time".

Please reopen (:

[2021-05-04 21:23] bastianjoel commented on #1143
This is also an reply to the question from @svengabr asked in #1200:

I'm not a UI/UX expert, but in my opinion date pickers would just slow down users here. Date pickers are helpful when users are restricted to certain dates/days or if users need to look up the date via weekdays etc, but neither of this is the case for the form.

For that reason I just added cleave.js, which forces the user to st

[2021-05-05 05:35] DerVogel2020 commented on #1202
This had been resolved in #1203 and #1205.

[2021-05-05 06:06] MikeMcC399 commented on #1202
@DerVogel2020

According to https://www.coronawarn.app/en/blog/2021-05-02-corona-warn-app-version-2-1/ there are currently 8 partners offering integrated rapid COVID-19 tests and a further 125 requests for integration have been received.

If anything like the number of 125 is reached, then a separate place to list all these organizations would be helpful.

[2021-05-05 09:27] JNSOFF opened #1207 "Blog: Whitespace below footer in blogentries"
## Where to find the issue
https://www.coronawarn.app/en/blog/2021-05-02-corona-warn-app-version-2-1/
And all other blogentries

## Describe the issue
There is no whitespace under the footer on the other sites, so there shouldn't be whitespace under the footer in blogentries.

## Suggested change
Remove the `padding-bottom: 4rem;` from the `<section>` / Add a CSS-Class for the `<section>` in bloge

[2021-05-05 09:56] dsarkar commented on #965
@MikeMcC399 see https://github.com/corona-warn-app/cwa-website/pull/1208

[2021-05-05 10:20] svengabr commented on #1143
Yes, exactly!

Re-opening because @Ein-Tim commented.

[2021-05-05 10:33] MikeMcC399 commented on #965
@dsarkar
Thank you for adding the version number! Since the issue has been addressed, I will now close.

[2021-05-05 10:33] #965 closed

[2021-05-05 12:17] Julian1203 opened #1209 "Spelling mistake in QR code generator on website"
## Where to find the issue
https://www.coronawarn.app/assets/img/pt-poster-1.0.0-placeholder.png

## Describe the issue
Wrong spelling

## Suggested change
Capitalize "Sie" and add a comma in front of "um".

[2021-05-05 12:25] Ein-Tim commented on #1209
This was already reported in the PR #1190, @svengabr wrote [here](https://github.com/corona-warn-app/cwa-website/pull/1190#issuecomment-831745514):

[2021-05-05 12:31] Julian1203 commented on #1209
I see.

[2021-05-05 13:20] Ein-Tim commented on #1143
Thanks for reopening @svengabr (:
But actually @bastianjoel convinced me that picker for the other fields are probably only a show stopper. So I'll close this as implemented now.

Thank you all!

[2021-05-05 13:20] #1143 closed

[2021-05-06 05:28] Ein-Tim opened #1215 "Print button doesn‘t work on Mobile"
## Where to find the issue
https://www.coronawarn.app/de/eventregistration/
https://www.coronawarn.app/en/eventregistration/

## Describe the issue
The print button doesn't work on my iPhone XR with iOS 14.5.1. For a short moment, a new tab is opened, but instantly closes itself again. AFAIK it should be possible to call the print Dialog directly on iOS.

## Suggested change
Fix the print button s

[2021-05-06 05:41] DerVogel2020 commented on #1215
On Android 8 with Firefox, the print button just opens another tab, but without any print dialog. I have to print the show website explicitly by sharing it with the printers app.

[2021-05-06 08:01] MikeMcC399 opened #1217 "Missing Rapid Antigen Test screenshots for English / iOS"
## Where to find the issue

https://www.coronawarn.app/en/screenshots/#ios_screenshots

## Describe the issue

Rapid antigen test image 7 of 10
Rapid antigen test image 6 of 10
text is displayed instead of images

https://www.coronawarn.app/assets/img/screenshots/en/iOS/rat_7.png and
https://www.coronawarn.app/assets/img/screenshots/en/iOS/rat_6.png

![image](https://user-images.githubusercontent.

[2021-05-06 08:30] MikeMcC399 commented on #1217
@dsarkar
This issue seems to have been fixed by https://github.com/corona-warn-app/cwa-website/pull/1218, so I will close the issue..

[2021-05-06 08:30] #1217 closed

[2021-05-06 13:44] dsarkar commented on #1217
@MikeMcC399 Thanks!

[2021-05-06 17:43] MikeMcC399 commented on #1014
Unfortunately also the reference document https://github.com/corona-warn-app/cwa-documentation/blob/master/images/risk_calculation/risk_calculation_enf_v2_overview.pdf is out of date. See issue https://github.com/corona-warn-app/cwa-documentation/issues/586.

It gets more complicated, as time goes on, to know which documents are still accurate if they are not being actively maintained. As already

[2021-05-06 18:03] heinezen commented on #1014
@MikeMcC399 It's really unfortunate, but not something I can do anything about right now. I can assure you we ask for updated docs every week. Other parts of development take priority.

The proposed FAQ entry now contains the currently used parameters (slightly different than in the docs). This will have to do until the official resources get updated.

[2021-05-06 18:17] MikeMcC399 commented on #1014
@heinezen
I understand about this and I realize that there is little you can do. I also appreciate that the pandemic is dynamic with time pressures and shifting priorities. I just wanted to make a note so we don't lose track of the documentation dependencies.

It is part of the job of the FAQs to fill the gap left by in-app and web documentation, regarding details which are either not detailed eno

[2021-05-07 17:05] MikeMcC399 opened #1223 "Request to run npm update"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/package-lock.json

## Describe the issue

[code]

It seems that the npm packages were last updated by @svengabr through https://github.com/corona-warn-app/cwa-website/pull/686 on Dec 17, 2020, almost 5 months ago.

## Suggested change

run

`npm update -dev`

(I don't want to do this myself, because I can only d

[2021-05-07 19:27] DerVogel2020 commented on #1209
@Julian1203 Can you reopen this? It seems that it will take longer to update the placeholder image.
@svengabr Or are there any news from the responsible person regarding #1190 ?

[2021-05-07 19:33] Julian1203 commented on #1209
Sure.

[2021-05-08 11:31] Ein-Tim commented on #1195
I am working on this and will do the following:

Move entry to resolved section and link to blog post & FAQ-section. I agree with @MikeMcC399 that we don't need another index.

Hope that's fine with you @dsarkar!

Enjoy this nice Saturday everyone!

[2021-05-09 07:42] dsarkar commented on #1195
@Ein-Tim @MikeMcC399 OK, we can do this for now. Should this grow bigger, we still can create an index. Thanks.

[2021-05-09 07:58] #1195 closed

[2021-05-09 08:45] dsarkar commented on #1209
@Julian1203 @DerVogel2020 @Ein-Tim Thanks. Internal Tracking ID: [EXPOSUREAPP-7041](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-7041)

---
Corona-Warn-App Open Source Team

[2021-05-09 08:50] dsarkar commented on #1223
@MikeMcC399 Thanks. Internal Tracking ID: [EXPOSUREAPP-7150](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-7150)

[2021-05-09 09:53] dsarkar commented on #1207
@JNSOFF Thanks. Internal Tracking ID: [EXPOSUREAPP-7153](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-7153). Best wishes, DS

---
Corona-Warn-App Open Source Team

[2021-05-09 13:08] DerVogel2020 opened #1227 "Typo: Check-In"
## Where to find the issue
https://www.coronawarn.app/de/eventregistration/

## Describe the issue
While grepping for https://github.com/corona-warn-app/cwa-app-android/issues/3120 I found 2 typos: Check-In is used instead of Check-in.

## Suggested change
Change the text to Check-in.

[2021-05-09 13:11] DerVogel2020 commented on #1227
Fixed in #1228 .

[2021-05-09 13:58] heinezen commented on #1098
Fixed in https://github.com/corona-warn-app/cwa-website/pull/1229

[2021-05-09 16:12] #1227 closed

[2021-05-09 16:13] dsarkar commented on #1227
@DerVogel2020 Thanks.

---
Corona-Warn-App Open Source Team

[2021-05-11 07:10] svengabr commented on #1209
The new placeholder image is available now and it will be updated today.

[2021-05-11 12:49] MikeMcC399 opened #1238 "FAQ: Differentiate between PCR Test and Rapid Antigen Test"
## Where to find the issue

Many FAQs on https://www.coronawarn.app/en/faq/ and https://www.coronawarn.app/de/faq/

## Describe the issue

With the introduction of Rapid Antigen Tests in CWA version 2.1, the term "Test" in the FAQs is now ambiguous and needs to be qualified. Previously "Test" always meant PCR Test.

For instance https://www.coronawarn.app/en/faq/#who_can_help says:

"The TAN hotli

[2021-05-11 12:54] MikeMcC399 commented on #1238
There is a partial overlap of this issue with issue https://github.com/corona-warn-app/cwa-website/issues/1172 and PR https://github.com/corona-warn-app/cwa-website/pull/1219.

I suggest to leave this open until after PR #1219 is merged, in case there are any outstanding FAQs which need addressing.

[2021-05-11 13:20] #1172 closed

[2021-05-11 13:57] MikeMcC399 commented on #1238
PR #1219 is now merged.

[2021-05-11 19:54] Ein-Tim commented on #1223
npm also shows that there's a new version of npm available. Maybe a noob question, but do I have to update npm locally or is this something that has to be done here?

[2021-05-12 06:01] MikeMcC399 commented on #1223
@Ein-Tim

GitHub currently uses npm 6.14.12 (see https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-README.md).

Which version of npm are you using locally and under which operating system? You should be OK if you have 6.14.x.

When the issue here about npm update is resolved, it will not update the version of npm. It will only update `package.json` and `package-lock

[2021-05-12 07:35] #1098 closed

[2021-05-12 08:25] MikeMcC399 commented on #1223
@svengabr
Your PR https://github.com/corona-warn-app/cwa-website/pull/1250 resolves the majority of the issues and

`npm audit`

now shows
[code]

[2021-05-12 10:11] MikeMcC399 opened #1257 "Screenshots: Rapid antigen test section out-of-date"
## Where to find the issue

**"Rapid antigen test"**
https://www.coronawarn.app/en/screenshots/#android_rat
https://www.coronawarn.app/en/screenshots/#ios_rat

**"Schnelltest"**
https://www.coronawarn.app/de/screenshots/#android_rat
https://www.coronawarn.app/de/screenshots/#ios_rat

First reported for App version: 2.2
Reviewed as not fixed for App version: 2.25

## Describe the issue

The screens

[2021-05-12 12:32] MikeMcC399 opened #1261 "FAQ: Error report - placeholder and Ticket"
## Where to find the issue

**How do I create an error report?**
https://www.coronawarn.app/en/faq/#error_log

**Wie erstelle ich ein Fehler-Protokoll?**
https://www.coronawarn.app/de/faq/#error_log

## Describe the issue

https://www.coronawarn.app/en/faq/#error_log includes a place-holder
"---LINK or screenshot here: "

https://www.coronawarn.app/de/faq/#error_log includes a place-holder
"---LIN

[2021-05-12 12:40] MikeMcC399 commented on #1261
The blog

https://www.coronawarn.app/en/blog/2021-05-12-corona-warn-app-version-2-2/ and
https://www.coronawarn.app/de/blog/2021-05-12-corona-warn-app-version-2-2/

provides instructions about creating an Error Report.

Perhaps the FAQ entry should link to the respective blog?

[2021-05-12 15:00] #1261 closed

[2021-05-12 15:56] MikeMcC399 commented on #1127
**Interrupt chains of infection digitally with the Corona-Warn-App**
https://www.rki.de/EN/Content/infections/epidemiology/outbreaks/COVID-19/CWA/CWA.html

which still shows CWA version 2.0, will now need to be updated to CWA version 2.2.

https://www.coronawarn.app/en/blog/2021-05-12-corona-warn-app-version-2-2/

[2021-05-12 16:59] MikeMcC399 commented on #848
This issue was resolved by PR #895, which was merged on May 3, 2021.

[2021-05-12 16:59] #848 closed

[2021-05-12 17:05] MikeMcC399 commented on #781
This issue was resolved by #895.

[2021-05-12 17:05] #781 closed

[2021-05-12 17:49] jucktnich opened #1264 "[Blog 2.2] Why is there v 1.14.1 shown for error reporting"
## Your Question

* Website URL Path: https://www.coronawarn.app/de/blog/2021-05-12-corona-warn-app-version-2-2/ ![image](https://user-images.githubusercontent.com/73582096/118020854-e1b38800-b35a-11eb-9468-6cc78b203d3e.jpeg)
* Line / Paragraph: Nutzer*innen können einen Fehlerbericht in der Corona-Warn-App erstellen (only german Version)
* Question: The version is 14.4.1, there something probably

[2021-05-12 18:08] MikeMcC399 commented on #1264
@jucktnich

The version shown is 1.14.1 (0) which is just an older version than 2.2. You can see how long this functionality has been in the app but not released.

I think this should be a bug report, and perhaps somebody with an iOS 2.2 app installed could replace this screenshot with one from version 2.2 through a PR. I can only provide a screenshot for Android and I wouldn't want to mix up the

[2021-05-12 18:12] Ein-Tim commented on #1264
@MikeMcC399 I'll do that with. Hope that's fine with you @jucktnich.

[2021-05-12 18:23] jucktnich commented on #1264
Yeah fine by me XD. I even don't have an iPhone with notch and you an XS right. This brings consistency.

[2021-05-12 18:37] Ein-Tim commented on #1223
Yes, I have 6.14.12 and npm does not show me the info to update npm anymore after #1250.

Thank you for your help!

[2021-05-12 18:58] Ein-Tim commented on #1264
Please take a look at #1265

[2021-05-12 20:19] Ein-Tim opened #1268 "Add Dark Mode"
## Current Implementation
The website www.coronawarn.app only has a light mode.

## Suggested Enhancement
Most websites today (e.g. GitHub, WhatsApp Web, etc.) also offer a dark mode. This can be either switched on by the user or the theme of the OS is used.

## Expected Benefits
Better UX when pressing a link from the Corona-Warn-App (which offers a dark mode) to e.g. a FAQ entry and the dark mod

[2021-05-13 08:48] #1264 closed

[2021-05-13 16:21] MikeMcC399 opened #1269 "Privacy notice (EN) cross-reference error to 6 g"
## Where to find the issue

Privacy notice (EN) for CWA Version 2.2
https://www.coronawarn.app/assets/documents/cwa-privacy-notice-en.pdf
5. What data is processed?
e. Event data
4th paragraph starting "An entry will also be created ..."

https://github.com/corona-warn-app/cwa-documentation/issues/610 is related to this issue.

## Describe the issue

An unresolved reference is shown in the PDF htt

[2021-05-14 11:23] dsarkar commented on #1269
@MikeMcC399 Thanks. Internal Tracking ID: [EXPOSUREAPP-7287](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-7287)

---
Corona-Warn-App Open Source Team

[2021-05-14 16:06] Ein-Tim commented on #1179
Please reopen, it seems like the opinion has changed. They will capitalize it starting in version 2.3: https://github.com/corona-warn-app/cwa-app-android/pull/3177

[2021-05-14 17:44] DerVogel2020 commented on #1179
IMHO, this (= #1270) can be merged before the text changes in both apps in CWA 2.3.

[2021-05-15 08:38] Marc-Boerner opened #1271 "Schnelltest-Profil Erstellung schlechte Usability"
Bei der Erstellung des Schnelltestprofil kann bereits nur nach Eingabe eines Vornamens gespeichert werden.
Außerdem kommt man unter IOS sehr schlecht aus der Geburtstagseingabe, da über der Datumsauswahl groß der "Speichern" Button erscheint, wodurch direkt ein QR Code erstellt wird.

[2021-05-16 06:27] ndegendogo opened #1272 "Broken links to blog article about error logs"
## Where to find the issue

https://www.coronawarn.app/de/faq/#error_log
## Describe the issue

Your FAQ for the new function "error logs" gives two links to blog articles on this function, but they are broken.

Note: The broken link is https://www.coronawarn.app/de/blog/2021-05-12-corona-warn-app-version-2-2//
 I get a 404

## Suggested change

Correct the links

[2021-05-16 06:41] MikeMcC399 commented on #1272
@ndegendogo
You're right and that is unfortunate. The fix is hanging in the draft PR https://github.com/corona-warn-app/cwa-website/pull/1267.

@dsarkar / @Ein-Tim
If it is difficult to get agreement on the enhancements to https://www.coronawarn.app/en/faq/#error_log and https://www.coronawarn.app/de/faq/#error_log, then I suggest correcting the bad link fast and separately to the open PR #1267.

[2021-05-16 08:04] Ein-Tim commented on #1272
@MikeMcC399

I prepared a PR for this because I thought exactly the same as you, it'll arrive in the next hour!

[2021-05-16 08:43] Ein-Tim commented on #1272
Please see #1273.

[2021-05-16 13:17] MikeMcC399 commented on #639
@dsarkar
What is the current state of the plans for Android 5.0 support? (Also asked in https://github.com/corona-warn-app/cwa-app-android/issues/1799.)

In any case the FAQ article needs to be changed due to its inaccuracy.

[2021-05-16 14:53] #1272 closed

[2021-05-16 15:35] MikeMcC399 opened #1274 "FAQ: Bluetooth incompatibility does not mention introduction version"
## Where to find the issue

**[Google/Android] A card on my Start Screen is notifying me that my device is not or only partially compatible. What does this mean?**
https://www.coronawarn.app/en/faq/#incompatibility_warning

**[Google/Android] Auf meinem Hauptbildschirm werde ich gewarnt, dass mein Gerät nicht oder nicht vollständig kompatibel ist. Was bedeutet das?**
https://www.coronawarn.app/de/

[2021-05-16 16:22] Ein-Tim commented on #1274
I'm quite busy at the moment, so happy to leave this to @fynngodau if he has time. 🙂

[2021-05-16 21:23] ndegendogo commented on #1272
Thanks for the fast fix 😁😁👍

[2021-05-17 06:07] MikeMcC399 commented on #1274
I'd suggest the following simple addition, so I'll open a PR with this:

---
EN
Bluetooth compatibility checking and warnings were introduced with Android Corona-Warn-App version 2.2.

---
DE
Bluetooth-Kompatibilitätsüberprüfungen und -Warnmeldungen wurden mit der Android Corona-Warn-App Version 2.2 eingeführt.

[2021-05-17 06:36] MikeMcC399 commented on #1274
PR https://github.com/corona-warn-app/cwa-website/pull/1275 opened.

[2021-05-17 06:51] #1274 closed

[2021-05-17 07:02] fynngodau commented on #1274
Thanks @MikeMcC399

[2021-05-17 08:12] MikeMcC399 commented on #1274
@fynngodau
You raised the valid point that Bluetooth checks were done before V2.2.

I simplified the text in the FAQ to not mention those details, as the main point was to avoid users thinking there was a bug in the app. These would probably be users with older hardware which did not meet the BLE requirement, especially BLE peripheral mode.

I checked on a Pixel 3a emulator running API 29 (Android

[2021-05-17 08:28] fynngodau commented on #1274
@MikeMcC399 I meant something different: you could read that version 2.2 introduced "bluetooth warnings", as in "Bluetooth-based exposure notifications". So the phrasing could be improved a bit but it is also okay as is.

We will need to rework this for 2.3 to split it up into warnig for no advertising and no scanning (though I don't know or own any device where the latter is the case either, and

[2021-05-17 09:11] MikeMcC399 commented on #1274
@fynngodau

I see what you mean now. I think the wording is OK in the context of the FAQ which is only about the compatibility warnings.

I hadn't thought about allowing installation without Bluetooth. I'd like to check the wishlist and add an entry there if it is not already covered.

[2021-05-17 09:50] MikeMcC399 commented on #1274
I've opened https://github.com/corona-warn-app/cwa-app-android/issues/3186 to remove the Google Play Store restriction on requiring BLE.

[2021-05-17 12:07] dsarkar commented on #1066
in new doc, the relevant subsection is now 5.6.12

[2021-05-17 13:33] MikeMcC399 commented on #1066
v 1.12 of the document (page 81) now says:

"Durch diesen Schritt nicht automatisch gelöscht werden die Daten, die durch das jeweilige
Betriebssystem gespeichert und verwaltet werden. Dies betrifft zum einen
Verschlüsselungsschlüssel in der KeyChain. Unter iOS bleiben zudem die Daten in der
Begegnungsaufzeichnung des ENF zunächst erhalten. **Unter Android werden mit der
Deinstallation der CWA-App

[2021-05-17 13:41] MikeMcC399 commented on #1066
I will open a new issue, otherwise it will get quite confusing.

[2021-05-17 13:53] MikeMcC399 commented on #1165
The published [Datenschutz-Folgenabschätzung](https://www.coronawarn.app/assets/documents/cwa-datenschutz-folgenabschaetzung.pdf)
Bericht zur Datenschutz-Folgenabschätzung für die Corona-Warn-App der Bundesrepublik Deutschland
Öffentliche Version

has been updated to
Version 1.12, 11.05.2021

and it covers all released app versions. The latest released version is 2.2.

This issue is therefore reso

[2021-05-17 13:53] #1165 closed

[2021-05-17 13:55] dsarkar commented on #1165
@MikeMcC399 Thanks!

[2021-05-17 14:07] MikeMcC399 opened #1281 "Datenschutz-Folgenabschätzung says deinstallation deletes only "Positivschlüssel" on Android"
## Where to find the issue

This is a follow-on to #1066.

[Datenschutz-Folgenabschätzung](https://www.coronawarn.app/assets/documents/cwa-datenschutz-folgenabschaetzung.pdf)
Bericht zur Datenschutz-Folgenabschätzung für die Corona-Warn-App der Bundesrepublik Deutschland
Öffentliche Version

First reported on Version 1.12, 11.05.2021
Reviewed as not yet fixed in Version 1.20, 09.12.2021.

Referenc

[2021-05-17 14:08] #1179 closed

[2021-05-17 14:09] MikeMcC399 commented on #1066
#1281 opened.
Closing this issue, because V1.12 of the document has a different (related) problem which is not exactly covered by the description in this issue.

[2021-05-17 14:09] #1066 closed

[2021-05-17 14:14] MikeMcC399 commented on #1165
The comments:

1. The date on the title page for version 1.7 (02.03.2021) does not agree with the date listed on page 3 in the Änderungshistorie, where it shows 1.7 with a date of 23.02.2021.
2. The abbreviation for the "European Federation Gateway Service" EFGS is incorrectly written as EFSG on pages 123 und 128.

were not addressed in V1.12 of the document however. I'm just making a note here, b

[2021-05-17 15:23] MikeMcC399 commented on #612
Since CWA Android 2.2.1 the app checks for Bluetooth Low Energy (BLE) compatibility. See https://www.coronawarn.app/en/faq/#incompatibility_warning and https://github.com/corona-warn-app/cwa-app-android/issues/688 (as mentioned already by @dsarkar).

[2021-05-17 15:57] MikeMcC399 opened #1282 "Cypress still in use?"
## Your Question
* Website URL Path: https://github.com/corona-warn-app/cwa-website/blob/master/README.md#testing
* Question: Is cypress still being actively used by the Open Source Team for website testing of https://www.coronawarn.app/ ?

https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/hotline_spec.js fails in cypress because the hotline phone number was updated wi

[2021-05-18 09:15] dsarkar commented on #1165
@MikeMcC399

[2021-05-18 10:09] MikeMcC399 opened #1285 "Issue count badge in README shows question count only"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/README.md

## Describe the issue

The README.md contains code
`| **General discussion, issues, bugs**   | <a href="https://github.com/corona-warn-app/cwa-website/issues/new/choose" title="General Discussion"><img src="https://img.shields.io/github/issues/corona-warn-app/cwa-website/question.svg?style=flat-square

[2021-05-18 10:15] dsarkar commented on #1285
@MikeMcC399 Thanks. Your suggestion makes sense! Go ahead, please!

[2021-05-18 10:39] MikeMcC399 commented on #1285
PR #1285 created, awaiting approval 😄

[2021-05-18 10:45] heinezen opened #1287 "FAQ - Add small entry explaining the staged rollout"
## Describe the issue

New releases are distributed to users over a 48 hour staged rollout in both app stores. The distance between the official release date from the blog post and the actual time users get the new version has lead to confusion in the past

## Suggested change

New entry `release_time`:

- There is a staged rollout that lasts 48 hours
- (Explain that it can be skipped on iOS?)
- R

[2021-05-18 11:10] MikeMcC399 commented on #1287
@heinezen
If your organization has any influence on Google, please feedback that it would be good for the Google Play Store to allow manual overriding of the staged rollout like iOS allows.

This would allow testers and those urgently waiting for a fix to get earlier access for Android releases of CWA.

[2021-05-18 11:42] heinezen opened #1288 "FAQ - Revise articles about incompatibility warning card"
## Where to find the issue
https://www.coronawarn.app/de/faq/#incompatibility_warning
https://www.coronawarn.app/en/faq/#incompatibility_warning

## Describe the issue

We agreed in https://github.com/corona-warn-app/cwa-website/pull/1211#discussion_r627438916 to split the article in two new articles to make it more user-friendly. The problem with the current article are:

* Partial and full incom

[2021-05-18 11:45] heinezen commented on #1288
@fynngodau I assume you would want to write or draft the articles? :)

In any case, we will try to further improve the articles with user feedback.

[2021-05-18 12:23] MikeMcC399 commented on #1288
@heinezen
Do we know what percentage of users will see the partial incompatible issue or the full incompatibility issue? My guess is that partial incompatibility is very low numbers and full incompatibility almost zero.

At the moment the app is released for minimum API 23 (Android 6 and above) and BLE has been available since Android 4.1. It is not possible to install on a device earlier than And

[2021-05-18 13:38] heinezen commented on #1288
@MikeMcC399 We don't know the total number of users that are affected, but the numbers are indeed very low. However, they are not low enough to be insignificant because a few older but popular devices did not receive updates to support peripheral mode.

For the FP2, we know that peripheral mode was not supported with [Android 7 as the OS](https://forum.fairphone.com/t/corona-warn-app-von-fdroid-in

[2021-05-18 13:48] MikeMcC399 commented on #1282
I opened PR #1289 to fix the failing cypress test.

It seems that the cypress test has not been acted on for the last 5 months, since the problem was introduced in January this year by PR https://github.com/corona-warn-app/cwa-website/pull/757.

I also found that sometimes

`npm run test`

times out and that a second attempt to run it is sometimes successful. Perhaps this is connected to the issue

[2021-05-18 14:06] fynngodau commented on #1288
Gladly so, but maybe only after my last Abiturprüfung before the holidays on Friday ;)

In https://github.com/corona-warn-app/cwa-app-android/pull/3101 I actually linked to `part_incompat` and `full_incompat` because those are a bit more readable.

I, too, would like to have an additional, more technical description them somewhere. Do you think it would be a good idea to create an additional artic

[2021-05-18 14:06] #1285 closed

[2021-05-18 14:14] MikeMcC399 commented on #1282
Cypress tests are now passing again, since PR #1289 has been merged.

I will leave this issue open for the time being in case there are any comments about using cypress or not.

[2021-05-18 18:52] fynngodau commented on #1288
In the community slack, @vaubaehn shared a review by a user who was confused because the incompatibility warning was only sometimes showing. We should that this can happen when the status cannot be reliably detected.

[2021-05-18 19:17] vaubaehn commented on #1288
I hope that it is possible to find a good solution to prevent/to fix intermittent changes of the state. Hence, I propose to add something like "currently there are a few reports of users who experience intermittent changes of the state. We're looking into this and will fix this in an upcoming release" or similar...

[2021-05-18 19:20] vaubaehn commented on #1288
@fynngodau and still all the best for the final exams! :D

[2021-05-18 20:17] fynngodau commented on #1288
From looking at the code again, we reconstructed a more precise definition when this happens: if Android version < 8.0 and Bluetooth is turned off, detection doesn't work – then, no warning card is shown in any case.

[2021-05-19 08:04] MikeMcC399 commented on #1288
@fynngodau
It would be great to have an explanation of how the checks are done, just for a better understanding.

Also good luck from me for your Abi exams! ☘️ 🤞🏻

[2021-05-19 08:08] dsarkar commented on #1288
@fynngodau Fingers crossed!

[2021-05-19 08:16] Ein-Tim commented on #1288
Also from my side! Good luck!

[2021-05-19 16:18] heinezen commented on #1288
@fynngodau

Fixed it in my initial post

We can maybe keep the information in the same entry, but only have the technical information at the end like @MikeMcC399 suggested. I don't see a problem with that as long as it is sectioned off properly and the entry doesn't get too long. However, if it does get *very* technical or there are too many details, a separate markdown file in https://github.com/

[2021-05-20 10:35] heinezen commented on #1288
@Ein-Tim @fynngodau @MikeMcC399 @vaubaehn @dsarkar

I've added a few reviews from the store, so we can better judge where the problems with the current message are. Most of them are misinterpretations of the warning card.

[2021-05-20 13:58] Ein-Tim commented on #1202
One more partner seems to be integrated now: https://landing.ticket.io/news/corona-warn-app-ticket-io-kooperieren-im-kampf-gegen-corona

[2021-05-20 14:57] dsarkar commented on #1202
@Ein-Tim Thanks. Cross-Checking.

[2021-05-21 08:53] kannicht commented on #1202
@dsarkar

Can confirm that. Had a Test yesterday at testing site which uses their backend.

Even though I was unable to scan the QR-Code when I got the result from their webpage I had the possibility to add the result in the CWA.

[2021-05-21 10:56] dsarkar commented on #1053
Indeed, demo mode should be used. Some screenshots were taken manually and not in demo mode. We will replace them eventually.

---
Corona-Warn-App Open Source Team

[2021-05-21 11:10] dsarkar commented on #1202
@kannicht Thank you very much for the info!

[2021-05-21 19:26] fynngodau commented on #1288
I don't expect there to be too much technical information for our new entries. I agree that we should be able to fit them in the end like has been suggested.

It is sad to hear that people are judging the app based on such inaccurate assumptions.

Can't exactly fix the older versions to also show the warning, can we? :(

I think this one also includes a misunderstanding about whether the part with

[2021-05-22 11:08] MikeMcC399 commented on #1288
I think a blog article would be good, combined with a mention in the new features section of the next version of the Android app. It's unfortunate that this didn't happen with the 2.2 Android release, which might have prepared users for the added warning. Probably most users will have automatically updated by now, so there will not be many new occurrences of the error message. Even so, it would be

[2021-05-23 09:24] fynngodau commented on #1288
I opened #1291 to incorporate our ideas and am looking forward to your feedback.

[2021-05-23 15:11] heinezen commented on #1288
Don't worry about it too much! With apps that have such a broad audience, communicating problems (as minor as they are) is always difficult because we have to keep the balance between information and reassurance. And sometimes, this doesn't work out because users bring in their own prejudices or misinterpretations. The best we can do is learn from it and improve :)

I'm afraid backporting wouldn't

[2021-05-24 09:04] dsarkar commented on #1269
FYI PR https://github.com/corona-warn-app/cwa-website/pull/1292

[2021-05-24 17:16] MikeMcC399 commented on #1288
I don't have an personal experience with a device which is incompatible, but I suspect that for most users of such devices that the only practical solution will be to update to a newer device. The devices which I have owned have always offered firmware updates automatically and I doubt if a device manufacturer will plan to update older firmware / device driver just because a user has contacted the

[2021-05-24 18:20] MikeMcC399 commented on #1165
@dsarkar
Was the previous comment supposed to be a message to me?

[2021-05-24 18:23] MikeMcC399 commented on #1269
https://www.coronawarn.app/assets/documents/cwa-privacy-notice-en.pdf no longer contains an error (was "Error! Reference source not found.."), thanks to PR #1292, so this issue can be closed.

[2021-05-24 18:23] #1269 closed

[2021-05-24 18:29] MikeMcC399 commented on #1127
**Interrupt chains of infection digitally with the Corona-Warn-App**
https://www.rki.de/EN/Content/infections/epidemiology/outbreaks/COVID-19/CWA/CWA.html

has been updated to CWA version 2.2.

(Status date at bottom of page: 17.05.2021.)

[2021-05-24 18:29] #1127 closed

[2021-05-24 19:51] Ein-Tim commented on #1287
Do we want to mention that you can skip it under iOS?
Pros: Users can faster get updates (which maybe fix bugs for them).
Cons: Entry will be longer and more complicated.

[2021-05-24 20:32] fynngodau commented on #1288
When adding the hint to update the firmware, I had the Fairphone 2 in mind, because there updating is actually a way to resolve the problem.

I'm afraid that this is true. However, I am not in favor of adding the advice to buy a new device. It is, in most cases, not a practical solution. The (monetary and environmental) cost is at an imbalance with the benefit. For this reason, such an advice migh

[2021-05-25 06:40] MikeMcC399 commented on #1288
@fynngodau

- For partial incompatibility getting a new device is probably not worth it.
- For full incompatibility a new device is probably the only option if a user wants to have exposure notification capabilities linked to BLE. For environmental or cost concerns, there is also the option of obtaining a device second-hand. In any case that should be the user's decision. I just wanted to avoid ra

[2021-05-25 12:03] MikeMcC399 commented on #753
Closing, since this functionality is no longer new and there has been no negative feedback on it in GitHub since introduction. It was part of the 1.9.1 release from December 2020.

Also, there has been no reaction from the Open Source Team.

[2021-05-25 12:03] #753 closed

[2021-05-25 12:16] #803 closed

[2021-05-25 12:36] MikeMcC399 commented on #1223
Fixed by #1294.

[2021-05-25 12:36] #1223 closed

[2021-05-25 12:37] heinezen commented on #1288
@MikeMcC399 @fynngodau

IMO recommending getting a new device wouldn't come across well because it is a very expensive solution. It will sound out of touch. Of course it depends how it's worded, but I would also not be in favour of putting it in.

[2021-05-25 14:56] MikeMcC399 commented on #1014
Closing in favor of other open issues:
https://github.com/corona-warn-app/cwa-documentation/issues/453 and
https://github.com/corona-warn-app/cwa-documentation/issues/586.

[2021-05-25 14:56] #1014 closed

[2021-05-26 10:07] thomorl opened #1300 "Rapid test registration: Browser not compatible"
## Where to find the issue
Try to register a rapid test result via a link instead of scanning a QR code, and open the link in [Firefox Browser](https://play.google.com/store/apps/details?id=org.mozilla.firefox) on Android.

## Describe the issue
Instead of a successful registration, the website displays a big red text, along with a request to download the Corona-Warn-App:
[code]

## Suggested chan

[2021-05-26 10:12] Ein-Tim commented on #1300
Related too:

https://github.com/corona-warn-app/cwa-event-landingpage/issues/22

@dsarkar I suggest to transfer this issue to the event-landingpage repo.

[2021-05-26 18:11] DerVogel2020 commented on #1202
If all testing sites using their backend will be listed, the list would be very long since there are very much partners, using the ticket.io-backend for integrating with CWA.
See https://www.google.com/search?q=ticket.io%20schnelltest .

[2021-05-26 18:29] DerVogel2020 opened #1301 "Add faq entry to explain "Ihr Browser ist nicht kompatibel. Bitte öffnen Sie den Link in Chrome"."
## Feature description

Explain the mentioned text at the website after clicking a link to import a RAT result into CWA.

## Problem and motivation
After clicking a link similar to following after receiving a RAT result:
![Screenshot_20210526-201909_Firefox](https://user-images.githubusercontent.com/65366950/119711536-f23a2700-be5f-11eb-966e-cf8fdead0ad4.jpg)
the firefox browser on android 8 just

[2021-05-26 18:46] Ein-Tim commented on #1301
This problematic is also mentioned in https://www.coronawarn.app/en/blog/2021-05-11-how-to-rapid-test-integration/ at the very bottom.

[2021-05-26 18:57] DerVogel2020 commented on #1301
Thanks @Ein-Tim . Hard to find 😆
These explanations should be included in the  faq entry.

[2021-05-27 18:19] Ein-Tim opened #1305 "Add FAQ entry reg. compatibility of Android 12 Beta"
## Where to find the issue
--

## Describe the issue
The Android 12 Beta (at least the first one) seems to be incompatible to CWA, see https://github.com/corona-warn-app/cwa-app-android/issues/3295.

## Suggested change
Add a FAQ entry, similar to the one we had when iOS 14 was in Beta.

[2021-05-27 18:29] MikeMcC399 commented on #1305
@Ein-Tim
Thanks for opening!

I'm not sure that it has been proven that there is an incompatibility between CWA 2.2.1 and Android 12 beta 1. We probably need to find out a bit more before making this statement.

On the other hand it may be a good idea to get a statement from the Open Source Team about how they want to handle CWA running under Android 12 betas. Maybe they say they would be happy to

[2021-05-27 18:31] LeQuadratico commented on #1305
I have no problems on my device with the Android 12 Beta 1, so the issue only applies to some devices (if any).

[2021-05-27 19:31] Ein-Tim commented on #1305
@MikeMcC399

I absolutely agree with you on that! If it turns out that https://github.com/corona-warn-app/cwa-app-android/issues/3295 is only a problem for this user, we should not create a FAQ entry.

👍 Maybe they also consider to add a FAQ entry similar to https://www.coronawarn.app/en/faq/#beta_ios which talks about the situation of betas under iOS.

Finally I want to say sorry if my comments c

[2021-05-27 22:15] Ein-Tim opened #1306 "Screenshots page: Add vaccination section"
## Feature description

The [screenshots page](https://www.coronawarn.app/de/screenshots/) should, starting at the release date of version 2.3, cover the new vaccination certificate with its own section.

## Problem and motivation
All other central features of the app have an own section, but the vaccination feature.

## Is this something you're interested in working on

I assume you are tracking

[2021-05-27 22:23] Ein-Tim opened #1307 "Screenshots page: Remove onboarding of contact journal"
## Feature description
The onboarding section of the contact journal should be removed.

## Problem and motivation
The contact journal is the only section where the onboarding screens are shown. They are not shown for the event-registration feature, and I think that's good.

## Is this something you're interested in working on
Should be done by the Open-Source Team to get this mirrored back to the

[2021-05-27 22:54] Ein-Tim opened #1308 "Screenshots page: Missing screenshots of RAT profile"
## Where to find the issue
DE: https://www.coronawarn.app/de/screenshots/
EN: https://www.coronawarn.app/en/screenshots/

## Describe the issue
There are no screenshots of the RAT profile added in version 2.2.

## Suggested change
Add some screenshots of the RAT profile.

[2021-05-28 05:00] MikeMcC399 commented on #1308
@Ein-Tim
This issue seems to be a duplicate of https://github.com/corona-warn-app/cwa-website/issues/1257.

[2021-05-28 05:08] MikeMcC399 commented on #1305
@Ein-Tim
Thanks for the pointer to the iOS beta entry. If the Open Source Team agrees that would be a good template for Android.

You do not need to apologize for the tone of your comments in the technical issue. I think it is difficult to contribute to Android technical issues successfully if you do not have a reference Android device to look at.

[2021-05-28 07:52] Ein-Tim commented on #1308
@MikeMcC399

It is closely related, but I'm asking to add some screenshots which show how the Rapid Test Profile is added and how it looks when it's added.
You've noticed that the profile is missing on some screenshots.

Should we merge the two issues?

[2021-05-28 07:58] MikeMcC399 commented on #1308
@Ein-Tim
I didn't describe that in the problem section, but I did write about it in the suggested changes of https://github.com/corona-warn-app/cwa-website/issues/1257

"Possibly also:

Add a screenshot of an example of Rapid Test Profile data entry screen and
Add a screenshot of an example of a completed Rapid Test Profile showing a QR code"

So let's leave your issue open as well, and just have

[2021-05-28 18:59] Ein-Tim commented on #1306
Will be implemented, see https://github.com/corona-warn-app/cwa-website/commit/a3c8c2283eaaf8c5174a9d1b13249ce601a5d787

[2021-05-28 19:54] dsarkar opened #1311 "[WIP] FAQ - Vaccination certificate"
Disclaimer: This is a preliminary version. Content still has to be verified and approved.
---

Edited:
- 210529 1930 based on @fynngodau s comments https://github.com/corona-warn-app/cwa-website/issues/1311#issuecomment-850815722
- 210523 2015 some more EN translations.

Q&A - Basic information/Introduction
---
- [ ] 10
  - DE
**Was ist der digitale Impfnachweis?**
Ab Version 2.3 der Corona-Warn-A

[2021-05-28 20:55] Ein-Tim commented on #1311
Hey @dsarkar

Thanks for creating this issue. What do you prefer, should we only give content feedback here or also feedback reg. spelling?

[2021-05-28 21:19] Ein-Tim commented on #1311
First point, before I give any feedback, we have soooo many things that are already in https://www.bundesgesundheitsministerium.de/coronavirus/faq-covid-19-impfung/faq-digitaler-impfnachweis.html.
The only advantage of our FAQ would be an English version.

Do we really need all this in the CWA's FAQ? Probably this was decided like this internally, or?
What does the community think (@MikeMcC399?)

[2021-05-29 05:46] dsarkar commented on #1311
@Ein-Tim Any feedback is most welcome!

[2021-05-29 11:12] fynngodau commented on #1311
Will this FAQ be published before the feature is released? Otherwise, the tense needs to be changed.

Maybe we could find a resource which provides further information here?

These two questions have very similar answers and should be merged. It is also partially overlapping with the question "Wie funktioniert der digitale Impfnachweis?".

I think the latter question should be the third question a

[2021-05-29 18:16] dsarkar commented on #1311
@fynngodau Many thanks for your feedback, very much appreciated! I adopted basically almost all of your suggestions. Thanks.

[2021-05-29 18:36] DerVogel2020 commented on #1311
Sometimes you use Corona-Warn-App, sometimes only CWA. This should be consistent.
I also found some typos. Will you provide a PR? Then it's easier to mark them😆

[2021-05-29 18:44] Ein-Tim commented on #1311
@fynngodau
Mentioned quite all my points, I only suggest to capitalise "ihr/e" & "sie", etc.

[2021-05-29 19:10] fynngodau commented on #1311
@dsarkar Thank you for considering my feedback! I have a few more items now:

* You are using the term "2D barcode" throughout the FAQ. This is a rather technical term that most users are probably not familiar with. It is also currently not used in the FAQ document. I'd suggest to use the more familiar term "QR code" directly.

* > No, do not take into account in the risk calculation whether you a

[2021-05-29 21:10] Ein-Tim commented on #1311
Reg.: "vaccination_certificate_multiple_scan_possible" please see: https://github.com/corona-warn-app/cwa-website/pull/1312#pullrequestreview-671773415

[2021-05-30 06:25] dsarkar commented on #1311
@DerVogel2020 Thanks for having a look at this. I will provide PR later today. In an FAQ article we use Corona-Warn-App (CWA) the first time, and later within the same article CWA.

@Ein-Tim ok, thanks.

[2021-05-30 09:33] heinezen commented on #1305
I think, the FAQ entry was added when iOS betas had significant problems with ENF/CWA handling, so this article is also not as relevant anymore.

My proposal would be to add a general disclaimer about beta versions that covers both iOS and Android.

----
Corona-Warn-App Open Source Team

[2021-05-30 09:51] Ein-Tim commented on #1305
@heinezen

Yes this was added for the iOS 14 Betas and after the final release the entry was adapted.

We could change the text and the anchor (with a redirect) and make it more general to apply to iOS & Android.

If you want to, I can take this over.

[2021-05-30 12:04] dsarkar commented on #1311
PR https://github.com/corona-warn-app/cwa-website/pull/1313

[2021-05-30 14:56] heinezen commented on #1305
@Ein-Tim On it!

But can you tell me: Is there any warning/notification in the CWA or by the OS if you use a beta version?

[2021-05-30 15:09] Ein-Tim commented on #1305
@heinezen

No, AFAIK not. At least not under iOS.

[2021-05-30 15:25] MikeMcC399 commented on #1305
@heinezen

There is no warning under Android 12 beta, no. If you think that would be helpful, you could open a wishlist item. 🙂

[2021-05-30 15:32] heinezen commented on #1305
@Ein-Tim @MikeMcC399 Thank you for checking. I think that's actually okay to have no message. I've reformulated the FAQ entry to sound more like a general information notice.

[2021-05-30 15:32] heinezen commented on #1305
[code]

[2021-05-30 21:08] Ein-Tim commented on #1311
I think a FAQ entry reg. the validity time would be good.
See https://github.com/ehn-digital-green-development/hcert-spec/blob/main/hcert_spec.md#61-hcert-signature-validity-time

[2021-05-30 21:20] Ein-Tim opened #1318 "Suggest to take PCR test in `red_card_how_to_test`"
## Enhancement description
https://www.coronawarn.app/en/faq/#red_card_how_to_test should link to https://www.coronawarn.app/de/faq/#rat_red_card_which_test to suggest that after a high risk warning from CWA, a PCR test should be taken and not a RAT.
Alternative, https://www.coronawarn.app/en/faq/#red_card_how_to_test can directly mention this.

## Problem and motivation
See https://github.com/cor

[2021-05-31 09:35] dsarkar opened #1319 "Update FAQ https://www.coronawarn.app/en/faq/#backup"
## Where to find the issue

https://www.coronawarn.app/en/faq/#backup
https://github.com/corona-warn-app/cwa-website/pull/1313#discussion_r642071352

## Describe the issue

- include more general information about backup.

## Suggested change

- add info that vaccination certificate is not in the backup

---
[EXPOSUREAPP-14339](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-14339)

[2021-05-31 12:19] fynngodau commented on #1319
Further reference, so that you don't have to click through the whole PR with all its feedback: https://github.com/corona-warn-app/cwa-website/issues/1311#issuecomment-850884993

[2021-06-01 06:04] dsarkar commented on #1318
@Ein-Tim @di-sc Thanks. https://www.coronawarn.app/en/faq/#red_card_how_to_test  will be updated. Just had another thought. It should also mention recommendations for other cases: What to do if warned person is: a) vaccinated, b) recovered from COVID-19

[2021-06-01 06:12] Ein-Tim commented on #1318
@dsarkar

Okay! Will you take this over?
If not (now) I could provide a PR which links from https://www.coronawarn.app/en/faq/#red_card_how_to_test to https://www.coronawarn.app/de/faq/#rat_red_card_which_test.

[2021-06-01 06:14] MikeMcC399 commented on #1318
@dsarkar

This is also mentioned in https://github.com/corona-warn-app/cwa-wishlist/issues/457 (https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-6545).

[2021-06-01 06:56] di-sc commented on #1318
@dsarkar

Good idea but I think currently it is diffucult to give a clear recommendation as also discussed in [#457](https://github.com/corona-warn-app/cwa-wishlist/issues/457) even not by the RKI. Additionally the behavior would be dependent on how long ago the vaccination or recovery was. (By the way the app could also give a hint for refreshing the vaccination - later on). I would rather sugges

[2021-06-01 11:48] MikeMcC399 commented on #1305
@Ein-Tim
Since there is no proven incompatibility of the CWA app with the Android 12 beta, please consider changing the title of this issue.

Suggestion: change "incompatibility" to "compatibility".

[2021-06-01 11:57] MikeMcC399 commented on #1305
@heinezen

You should be able to create a PR for this independently of the work which @dsarkar is doing.

Here are some suggestions for corrections:

---
"You can still use the app like normal, but you should be aware that you might encounter errors that are not present when using a release version of your operating system."

"like normal" => "normally"
"release" => "released"

 "However, if you e

[2021-06-01 13:13] #1207 closed

[2021-06-02 06:49] MikeMcC399 opened #1322 "cypress blog_spec test fails "Cannot read property 'classList' of null""
## Where to find the issue

This repository
https://github.com/corona-warn-app/cwa-website.

## Describe the issue

The cypress website tests fail.

These are run using
[code]
as described in [README.md](https://github.com/corona-warn-app/cwa-website/blob/master/README.md).

Running
`npm run test:open`
and selecting individual tests shows that
`blog_spec`
is failing.

` > Cannot read property 'cla

[2021-06-02 06:50] MikeMcC399 opened #1323 "cypress blog_spec test fails "Cannot read property 'classList' of null""
## Where to find the issue

This repository
https://github.com/corona-warn-app/cwa-website.

## Describe the issue

The cypress website tests fail.

These are run using
[code]
as described in [README.md](https://github.com/corona-warn-app/cwa-website/blob/master/README.md).

Running
`npm run test:open`
and selecting individual tests shows that
`blog_spec`
is failing.

` > Cannot read property 'cla

[2021-06-02 06:51] MikeMcC399 commented on #1323
Duplicate. Network glitch?

[2021-06-02 06:51] #1323 closed

[2021-06-02 06:54] MikeMcC399 commented on #1282
A new issue has come up https://github.com/corona-warn-app/cwa-website/issues/1322, so again, the question whether cypress tests are still in use or whether their failure should be ignored?

If cypress is no longer being used, then it should be taken out of the [README.md](https://github.com/corona-warn-app/cwa-website/blob/master/README.md).

[2021-06-02 09:31] MikeMcC399 commented on #1322
I suspect PR #1294 which updated dependencies.

If I go back to the commit previous to that one (https://github.com/corona-warn-app/cwa-website/commit/4bc4b65ede9e6eaa409016de32dd3c60ba401545) then the cypress test works.

I will try to narrow it down further when I have time.

[2021-06-02 17:05] MikeMcC399 commented on #1322
PR https://github.com/corona-warn-app/cwa-website/pull/1296 has introduced a test regression which causes the Cypress test to fail.

---
The test is:

[code]
then when the Cypress UI starts (cy), click on `blog_spec.js` under INTEGRATION TESTS which causes the test to run automatically. After test, select File > Close Window.

After the merge of "Feature/screenshots anchor tags" https://github.com

[2021-06-02 17:11] MikeMcC399 commented on #1322
Unfortunately I don't have the skills to fix this issue, but perhaps @svengabr would be able to pick it up?

[2021-06-04 12:31] Ein-Tim commented on #1202
And one more: https://www.presseportal.de/pm/156361/4932908 (https://www.covisa.de)

[2021-06-05 08:50] Ein-Tim opened #1330 "`#rat_how_long_valid` only describes the implementation under Android"
## Where to find the issue
DE: https://www.coronawarn.app/de/faq/#rat_how_long_valid
EN: https://www.coronawarn.app/en/faq/#rat_how_long_valid

## Describe the issue
The FAQ entry talks about a countdown, however, there is no countdown under iOS.
The implementation under iOS and Android differs here. See the screenshots on https://www.coronawarn.app/en/screenshots/:

| iOS | Android |
|---|---|
|<

[2021-06-05 09:29] thomasaugsten commented on #1330
There is no change planned.

[2021-06-05 20:46] Ein-Tim opened #1331 "Align all `page-title`s & improve `page-description` s"
## Feature description

Format all `page-title`s in the same way & improve the `page-description`s, they are often very long and not really helpful.

## Problem and motivation

Consistency between the pages, nicer overview when working with multiple tabs.

## Is this something you're interested in working on

Yes - PR is coming.

[2021-06-05 21:00] Ein-Tim commented on #1331
PR #1332 opened and ready for review.
Please note that you have to either merge the PR **into** the `svengabr/screenshot-archive` branch or merge it into `master` **after** #1329.

[2021-06-05 21:27] Ein-Tim commented on #1330
PR #1334 opened and ready for review.

[2021-06-06 08:27] #1330 closed

[2021-06-06 08:28] dsarkar commented on #1331
@Ein-Tim Thanks. I will merge after the other R 2.3 PRs!

[2021-06-06 15:53] Ein-Tim commented on #1201
Please take a look at #1336, it was not possible to use "am" in German, I tried your suggestions but they did not work.

[2021-06-06 16:34] Ein-Tim commented on #25
@svengabr Are you able to answer this question?

[2021-06-06 17:57] DerVogel2020 commented on #1201
Ok, thanks.
But is there no solution to translate 'on' ? Strange.

[2021-06-06 17:59] Ein-Tim commented on #1201
@DerVogel2020 There definitely is, but my skills are probably not good enough for that. 😅

[2021-06-07 06:06] dsarkar commented on #1201
Re-opened. Will try to find a better solution.

[2021-06-07 18:58] MikeMcC399 commented on #1003
Are the phone numbers om the website of the Bundesregierung going to be updated? If there was any plan to do this I would have expected it to have been done by now. With the relaying of restrictions people are going to be more internationally mobile than they have been in the last months and may want to call the hotline from outside Germany. If they try to use the number listed it will not work.

[2021-06-08 11:44] #1287 closed

[2021-06-08 13:12] Ein-Tim commented on #951
This has been fixed by [`a2f649d` (#1340)](https://github.com/corona-warn-app/cwa-website/pull/1340/commits/a2f649db4371d1a99aa3e24fb9f633debfdecb13).

Closing as solved.

[2021-06-08 13:12] #951 closed

[2021-06-08 20:00] #1331 closed

[2021-06-08 22:11] heinezen commented on #1311
PR https://github.com/corona-warn-app/cwa-website/pull/1313 has been merged with release 2.3

[2021-06-08 22:11] #1311 closed

[2021-06-09 05:14] Ein-Tim opened #1343 "Add FAQ entry reg. „VC_PREFIX_INVALID“ error"
## Where to find the issue
n/a

## Describe the issue
Many people are trying to scan QR-Codes that they got with their vaccination shots. However, these are all no valid EU digital COVID certificates do the app doesn't accept these.
The user thinks that the app is not working correctly.

See e.g. &

## Suggested change
Add a FAQ entry explaining this error and that the app is working correctly. Ma

[2021-06-09 06:20] MikeMcC399 commented on #1343
@Ein-Tim

I hope we will see an announcement of the 2.3.2 CWA version today on https://www.coronawarn.app/en/blog/ giving some details and context, since 2.3.2 was released to the stores yesterday. Perhaps there will be some explanation there about where to get certificates?

Has there been any official announcement of Twitter about the new version?

[2021-06-09 06:51] Ein-Tim commented on #1343
@MikeMcC399

No, only the [BSI](https://twitter.com/bsi_bund/status/1402339715991359488?s=21) tweeted that there is a new version.

[2021-06-09 07:49] Ein-Tim commented on #1343
@MikeMcC399

FYI: https://twitter.com/rainerknirsch/status/1402530517002735618?s=21 says that they will publish a blog post tomorrow...

@dsarkar Are you working on this?

[2021-06-09 08:03] thomasaugsten commented on #1343
This is correct release notes and blog post is planned for tomorrow.

[2021-06-09 11:16] MikeMcC399 commented on #1343
https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Warn_App.html describes the 2.3 release now.

It only says:
"Um ein Impfzertifikat in der App hinzuzufügen, scannen sie den QR-Code, den Sie bei der Impfung erhalten haben."

This is less information than described in https://www.coronawarn.app/en/faq/#vac_cert_how.

[2021-06-09 11:57] Ein-Tim commented on #1343
One more user (@Melancholyaeon ) [requesting](https://github.com/corona-warn-app/cwa-app-ios/issues/2871#issuecomment-857622291) a FAQ entry. He also brings up the valid point how people who don't have the yellow vaccination booklet (because they are only long time residents, etc.) will get their digital vaccination certificate.

[2021-06-09 12:35] MikeMcC399 commented on #1343
@Ein-Tim
I was just visiting my local pharmacy this afternoon, so I asked them whether they will be able to issue digital vaccination certificates. They said they don't have the software yet, but they had already read in the press that it should be possible from Monday onwards.

Regarding people without the yellow vaccination booklet: According to https://www.stmgp.bayern.de/coronavirus/impfung/ "

[2021-06-09 12:43] Ein-Tim commented on #1343
@thomasaugsten said in https://github.com/corona-warn-app/cwa-app-ios/issues/2871#issuecomment-857654042 that "A detailed FAQ entry will follow soon".

[2021-06-09 12:48] MikeMcC399 commented on #1343
@Ein-Tim
Thanks for the message that a detailed FAQ will follow.  I guess we need to understand exactly when the detailed FAQ will be published as "soon" is a relative term.  If this is going to take longer, then perhaps in the meantime a short FAQ would be good?

Suggestion:
EN
What does the error VC_PREFIX_INVALID mean when I try to add a vaccination certificate?

The QR code you are scanning is

[2021-06-09 12:50] Ein-Tim commented on #1343
@MikeMcC399 I'm up for anything I can quickly link from Twitter. Your suggestion looks good!
@dsarkar Could you give us an assumption when the FAQ entry will be published?

[2021-06-09 14:13] melancholyaeon commented on #1343
@Ein_Tim

Ty for listening.

There are a large number of non-EU people in Germany.... spouses,
high-skilled workers, students, ESL teachers, translators, journalists,
low-skilled people in gray market labor, expats, retirees, military,
researchers, refugees, all the illegal programmers at the start-ups in
Berlin, Munich & Hamburg....

I have no idea how or when we'll get our EU QR Impf Codes here

[2021-06-09 15:41] Ein-Tim commented on #1343
**Update:**

We will get a hotfix for this! See https://github.com/corona-warn-app/cwa-app-android/pull/3400.
The error message will then also include a link to a FAQ entry.

[2021-06-09 16:01] MikeMcC399 commented on #1343
@Ein-Tim
Thanks for highlighting the pending Android hotfix corona-warn-app/cwa-app-android#3400 which links to https://www.coronawarn.app/de/faq/#vac_cert_invalid.
I haven't seen any PR yet for the FAQ contents.

[2021-06-09 17:11] dsarkar commented on #1343
@Ein-Tim @MikeMcC399 @melancholyaeon FYI https://github.com/corona-warn-app/cwa-website/pull/1344

[2021-06-09 18:11] MikeMcC399 commented on #1343
@melancholyaeon

As you may have gathered if you read the rest of this thread, this is actually a technical forum about the Corona-Warn-App website, but anyway ...

Most people who are travelling internationally are getting tested beforehand, so for instance to fly to USA from Germany it says you need a PCR test or an Antigen test which is not older than 3 days old. Vaccination is voluntary in Ger

[2021-06-10 19:31] MikeMcC399 opened #1349 "Example of EU Digital COVID vaccination certificate half upside down"
## Where to find the issue

https://www.coronawarn.app/en/faq/#vac_cert_invalid
https://www.coronawarn.app/de/faq/#vac_cert_invalid

link to image https://user-images.githubusercontent.com/6367738/121354638-59aba880-c92f-11eb-98bb-9dcbc42d6742.jpg

## Describe the issue

The top half of the image used in the FAQ is upside down and not easily readable by non-acrobats.

![121354638-59aba880-c92f-11e

[2021-06-11 07:00] #1349 closed

[2021-06-11 07:37] MikeMcC399 commented on #1349
@dsarkar

Is this what you intended?

![image](https://user-images.githubusercontent.com/66998419/121649196-9e9f1e80-ca98-11eb-8b30-10fe5d122806.png)

[2021-06-11 07:59] MikeMcC399 commented on #1349
Maybe this was a refresh issue? Anyway it is working now. So ignore previous comment. 🙂

[2021-06-11 08:42] dsarkar commented on #1349
@MikeMcC399 Thanks! File was missing.

[2021-06-11 09:35] MikeMcC399 opened #1355 "Suggestion: Stop publishing weekly app status report"
The weekly app status report "KENNZAHLEN ZUR CORONA-WARN-APP" copied from the https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Archiv_Kennzahlen/WarnApp_KennzahlenTab.html site is not really useful for CWA end-users who are interested in pandemic trends in conjunction with the app. This is especially because many of the numbers in the report are cumulative from June 2020 last y

[2021-06-14 16:33] MikeMcC399 opened #1364 "FAQ: Typos, grammar and understandability of vac_cert_invalid"
## Where to find the issue

https://www.coronawarn.app/en/faq/#vac_cert_invalid and
https://www.coronawarn.app/de/faq/#vac_cert_invalid

## Describe the issue

The articles (English and German) have been revised several times and they include typos, grammatical errors and are not very understandable.

Mentioning June 14 twice in the first sentence doesn't read well.

EN

"... there are certificate

[2021-06-14 16:37] thomasaugsten commented on #1364
PR are very welcome for anything

[2021-06-15 05:02] MikeMcC399 commented on #1364
PR #1365 added to correct typos and grammar issues in
https://www.coronawarn.app/en/faq/#vac_cert_invalid and
https://www.coronawarn.app/de/faq/#vac_cert_invalid.

[2021-06-15 15:10] Ein-Tim opened #1374 "Graphics missing in Science blog 1"
## Where to find the issue
https://www.coronawarn.app/de/science/2021-06-15-science-blog-1/#erf%C3%BCllt-die-corona-warn-app-ihren-zweck

## Describe the issue
The pictures can't be seen (tested on macOS Big Sur with Safari & Edge):
![image](https://user-images.githubusercontent.com/67682506/122077976-831b7700-cdfc-11eb-96f4-1414c4d8a923.png)

## Suggested change
Make sure the files are there and

[2021-06-15 15:34] MikeMcC399 opened #1375 "Missing link to Twitter"
## Where to find the issue

https://www.coronawarn.app/

## Describe the issue

https://www.coronawarn.app/ does not link to the Twitter channel https://twitter.com/coronawarnapp.

![image](https://user-images.githubusercontent.com/66998419/122081598-86fcc880-cdff-11eb-8c5c-6432f741d9ec.png)

Related to https://github.com/corona-warn-app/cwa-wishlist/issues/364 "Use your Twitter-Account".

## Sugg

[2021-06-15 15:41] MikeMcC399 commented on #1374
@Ein-Tim

The graphics are embedded e.g.

[code]

etc.

This does not work on Google Chrome or Mozilla Firefox either.

[2021-06-15 15:49] MikeMcC399 commented on #1374
After running
`npm start`
and viewing locally in `http://localhost:8000/de/science/2021-06-15-science-blog-1/`

the graphics are viewable. So there is a problem viewing the public website somehow.

![image](https://user-images.githubusercontent.com/66998419/122084197-e52aab00-ce01-11eb-8af3-c28932c35a12.png)

[2021-06-15 15:56] Ein-Tim commented on #1374
@MikeMcC399 Thanks. Another observation, running `npm run start-fast` the pictures don't show up.

[2021-06-15 16:09] MikeMcC399 commented on #1374
There is a problem reading the data. This is viewed with Google Chrome in developer mode:
![image](https://user-images.githubusercontent.com/66998419/122087077-a1857080-ce04-11eb-8e9c-20af3c64222c.png)

The same thing accessed locally shows:
![image](https://user-images.githubusercontent.com/66998419/122087271-d396d280-ce04-11eb-851b-3664bd7b4f49.png)

[2021-06-15 16:14] Ein-Tim commented on #1374
<details>
<summary>Output in the console</summary>

[code]
</details>

[2021-06-15 16:34] MikeMcC399 commented on #1374
@Ein-Tim
You showed the error better than me.

`Refused to load the script 'data:application/javascript;base64,...=' because it violates the following Content Security Policy directive: "default-src 'self' *.coronawarn.app". Note that 'script-src-elem' was not explicitly set, so 'default-src' is used as a fallback.`

That should give a big hint as to the source of the issue.

[2021-06-15 16:53] DanAmt opened #1378 "Define the term purpose (Zweck) in the scientific blog"
## Where to find the issue
https://www.coronawarn.app/de/science/2021-06-15-science-blog-1/

## Describe the issue

The second paragraph differentiates terminology in German :  functionality (Funktionalität), effectivness( Wirksamkeit)  and usefulness (Nutzen), which is good.
However the third para then makes extensive use of "purpose" of the app, which in this scientific context is undefined.

##

[2021-06-15 17:14] Ein-Tim commented on #1374
Issue persists after #1379, see console output below.

<details>
<summary>Output in the console</summary>

[code]

</details>

[2021-06-15 19:07] Ein-Tim commented on #1374
Sadly still no visible improvement after #1381. Same console output as above.

[2021-06-15 19:59] Ein-Tim commented on #1374
Thanks for all the efforts from your side @dsarkar @svengabr @mtb77.
I can only imagine how disappointing it may be to see that all the fixes fail...
Maybe the server needs to be configured in another way for this?
I'm really no expert, so just a wild guess.

Thanks again! ❤️

[2021-06-15 20:27] dsarkar commented on #1374
Internal Tracking ID: [EXPOSUREAPP-7890](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-7890)

[2021-06-15 20:29] svengabr commented on #1374
Thanks, we are already working to fix this. In the meantime, we pushed an update with just static images.

[2021-06-15 20:30] Ein-Tim commented on #1374
Yes I saw that. @svengabr

Do you want me to leave this issue open until you fixed the graphics?

Have a good night!

[2021-06-15 20:35] svengabr commented on #1374
@Ein-Tim Sure you can leave this open. Sadly none of the OPs team members is available to fix it right now. We will continue tomorrow morning.

[2021-06-15 21:16] mtb77 commented on #1374
Thank you all for your support! As @svengabr already mentioned, we are in contact to get the changes being done so we can expect the full interactive diagram online soon. Cheers and have a good night :)

[2021-06-16 09:13] MikeMcC399 opened #1385 "SAP / Telekom Podcast 12 not listed in Blog"
## Where to find the issue

https://www.coronawarn.app/en/blog/ & https://www.coronawarn.app/de/blog/.

## Describe the issue

There is a new podcast from SAP / Telekom on https://www.telekom.com/de/medien/podcasts/corona-warn-app which is not mentioned in the blog.

This follows on from the closed topic https://github.com/corona-warn-app/cwa-website/issues/529 "Link to Deutsche Telekom Corona War

[2021-06-17 09:04] dsarkar commented on #1374
@Ein-Tim @MikeMcC399, dear community, Interactive figures are now online!

[2021-06-17 09:23] Ein-Tim commented on #1374
Closing as fixed.

[2021-06-17 09:23] #1374 closed

[2021-06-18 18:38] MikeMcC399 opened #1402 "Switch screenshot language gives 404 error"
## Where to find the issue

https://www.coronawarn.app/en/screenshots-archive/2-2.html
https://www.coronawarn.app/de/screenshots-archive/2-2.html and

## Describe the issue

This is a duplicate of the comment in the merged https://github.com/corona-warn-app/cwa-website/pull/1399#issuecomment-863846009 to ensure that the issue is listed in an open item.

Switching languages when viewing 2.2 screens

[2021-06-19 11:09] dsarkar commented on #1402
@MikeMcC399 Thanks. We had a similar issue before with switching languages. svengabr found that in the previous issue it was related to the use of the dash: when the files are processed during built, this might lead to the minus operation instead of boolean operations in some steps. Will try to use underscores for example, and test locally.

[2021-06-19 11:11] dsarkar commented on #1402
In #1399  .html was added to 2-2, since in the built navigation to the archive was broken in prod (but not locally!)

[2021-06-20 11:53] #1305 closed

[2021-06-20 14:22] heinezen commented on #1288
Fixed by https://github.com/corona-warn-app/cwa-website/pull/1291

[2021-06-20 14:22] #1288 closed

[2021-06-21 13:47] Ein-Tim commented on #1378
Will be done in #1406

[2021-06-21 14:12] Ein-Tim commented on #1378
Now live:

![Bildschirmfoto 2021-06-21 um 16 11 16](https://user-images.githubusercontent.com/67682506/122776418-61fad080-d2ab-11eb-839d-e7655ed12664.png)

Please confirm that this is ok for you and close this issue @DanAmt.

[2021-06-21 15:58] MikeMcC399 opened #1409 "FAQ: Dealing with multiple & non-personal vaccination certificates"
## Where to find the issue

https://www.coronawarn.app/en/faq/#vac_cert
https://www.coronawarn.app/de/faq/#vac_cert

## Describe the issue

The FAQ writes as though there is only one vaccination certificate.

The document "Handlungshilfe zur nachträglichen Erstellung der COVID-19-Impfzertifikate durch Apotheker
Geschäftsbereich Pharmazie
11. Juni 2021
ABDA – Bundesvereinigung Deutscher Apothekerve

[2021-06-21 16:01] MikeMcC399 commented on #1402
@dsarkar

I noticed that PR too, however the problem which I described in this issue still remains.

[2021-06-21 16:38] DanAmt commented on #1378
Looking good to me

[2021-06-21 17:25] Ein-Tim commented on #1378
@DanAmt You should be able to close your own issues. If not, @dsarkar is surely willing to help out here 🙂

[2021-06-21 17:51] dsarkar commented on #1378
@DanAmt @Ein-Tim Thanks everybody for contributing here! Enjoy the evening. Closing this issue!

[2021-06-21 17:51] #1378 closed

[2021-06-22 08:38] MikeMcC399 commented on #1003
@GisoSchroederSAP
Do you expect this to be fixed? I just wonder why 3 months has gone by and the phone number is still wrong.

[2021-06-22 14:48] MikeMcC399 commented on #1409
The German language blog for 2.3 https://www.coronawarn.app/de/blog/2021-06-10-cwa-version-2-3/ says:

"Nutzer*innen können den QR-Code bereits nach der ersten Impfung scannen und so den Impfstatus in die App übertragen, müssen das aber nicht tun. Sie können auch abwarten, bis sie alle benötigten Impfungen erhalten haben und den Status erst dann in die Corona-Warn-App übertragen."

Please clarify

[2021-06-23 13:20] Ein-Tim opened #1419 "[REMINDER] #1418 - Remove „current version“ once 2.3 is not the current one anymore"
Title says everything here.
#1418 added the sentence:
"Neither the **current** version 2.3 nor the future version 2.4 of the Corona-Warn-App support recovery certificates. Further information on this topic will follow at a later date."
(Same in German)
This has to be updated once version 2.3 is not the current version anymore.

[2021-06-23 13:55] adgo opened #1420 "English eventregistration page shows German QR-Code asset"
## Where to find the issue
https://www.coronawarn.app/en/eventregistration/

## Describe the issue
The surrounding Image of the QR-code is in German

## Suggested change
Switch the image asset to an English one

[2021-06-23 14:01] Ein-Tim commented on #1420
There is not even a English surrounding image in the app, so I assume this is a won't fix.

[2021-06-23 20:44] liza-kl commented on #1375
Hi, is this issue still unassigned? If yes, in which section should this link be? Learn more maybe?

[2021-06-24 04:41] Ein-Tim commented on #1375
@liza-kl

@MikeMcC399 suggested to place the link in the footer of the website.

[2021-06-24 05:04] MikeMcC399 commented on #1375
@liza-kl

Yes it is unassigned (in the web view here, you can see: "Assignees / No one assigned"). Most of the issues in this repo are unassigned until they are being actively worked on.

"Learn more" contains links to read-only areas, so I don't think that Twitter fits in there.

Most sites which link to social media just add the icons (e.g. Facebook, YouTube, Twitter & Instagram) to their footer

[2021-06-24 07:17] liza-kl commented on #1375
Thanks for the quick answer :) If it would be possible, could you assign me to the issue? I'll probably take care of it on the weekend :)

[2021-06-24 07:23] dsarkar commented on #1375
@liza-kl Hi thanks for offering to contribute. I will come back to you, let me check internally about adding a Link to twitter. Thanks. Best, DS

---
Corona-Warn-App Open Source Team

[2021-06-24 10:42] MikeMcC399 opened #1421 "2.3 announcement blog missing pharmacies generating digital certificates"
## Where to find the issue

Announcement blog for CWA Version 2.3
- https://www.coronawarn.app/en/blog/2021-06-10-cwa-version-2-3/
- https://www.coronawarn.app/de/blog/2021-06-10-cwa-version-2-3/

## Describe the issue

The text of the announcement for the CWA version 2.3 only says that digital vaccination certificates can be generated in a doctor's office or at a vaccination center. It makes no m

[2021-06-24 18:30] MikeMcC399 opened #1422 "FAQ: Vaccination certificate QR code unreadable with white text on black background"
## Where to find the issue

https://www.coronawarn.app/en/faq/ and
https://www.coronawarn.app/de/faq/

## Describe the issue

There is no warning in the FAQs that an EU Digital Covid Vaccination Certificate (PDF format) viewed online with viewing changed to white text on black background will not scan. I don't believe this is a CWA bug because a standard QR code scanner will not scan in the code e

[2021-06-24 19:24] MikeMcC399 commented on #1422
This is a weakness of the certificate design. The QR code should be surrounded by a white frame which is independent of the background of the rest of the document.

This should probably be fed back to the designers. What's the best way to do this?

[2021-06-24 19:58] Ein-Tim commented on #1202
Is this what you have been asking for: https://map.schnelltestportal.de

[2021-06-24 20:08] Ein-Tim commented on #1419
Version 2.4 has been released, I can provide a PR for this tomorrow afternoon. Alternatively @dsarkar, could you take this over?

[2021-06-24 20:46] Ein-Tim opened #1426 "Version 2.4 announcement blog post & screenshot section - picture issues"
## Where to find the issue
DE: https://www.coronawarn.app/de/blog/2021-06-24-cwa-version-2-4/
EN: https://www.coronawarn.app/en/blog/2021-06-24-cwa-version-2-4/

## Describe the issue & Suggested change
For [DE](https://www.coronawarn.app/de/blog/2021-06-24-cwa-version-2-4/):
- The screenshot https://www.coronawarn.app/assets/img/blog/2021-06-24%20CWA%202.4%20Testzertifikat/testzertifikat_geburtst

[2021-06-24 20:51] Ein-Tim commented on #1419
Found some time and did it myself in #1427. 😁

[2021-06-25 05:47] MikeMcC399 commented on #1426
@Ein-Tim

---
The strange birthday images are also in the screenshot section

- https://www.coronawarn.app/assets/screenshots/2-4/en/ios/iPhone%2011%20Pro-submissionflow_screenshot_test_certificate_entered_birthday.png
- https://www.coronawarn.app/assets/screenshots/2-4/de/ios/iPhone%2011%20Pro-submissionflow_screenshot_test_certificate_entered_birthday.png

---
For the missing picture in https://

[2021-06-25 06:02] MikeMcC399 commented on #1422
The example Belgian certificate PDF **does** include a white frame around the QR code.
https://www.corona-tracking.info/wp-content/uploads/2021/05/EU-Digital-COVID-Certificates.pdf

[2021-06-25 15:43] vaubaehn commented on #1426
Another picuture issue:
The disease or agent targeted is named: Schneider, Andrea - but should be Sars-Cov-2, I guess...

DE:
https://www.coronawarn.app/assets/img/blog/2021-06-24%20CWA%202.4%20Testzertifikat/zertifikat-qr-code.png
EN:
https://www.coronawarn.app/assets/img/blog/2021-06-24%20CWA%202.4%20Testzertifikat/certificate-qr-code.png

<img src="https://www.coronawarn.app/assets/img/blog/202

[2021-06-25 15:47] Ein-Tim commented on #1426
Maybe thats a new disease @vaubaehn? 😉

Thanks for spotting, I'll update the title of this issue so that it reflects that it's also about issues with the screenshots page and not only with the blog.

[2021-06-25 16:01] #1419 closed

[2021-06-25 16:02] dsarkar commented on #1419
@Ein-Tim Thanks.

[2021-06-25 16:12] MikeMcC399 commented on #1426
https://www.coronawarn.app/assets/screenshots/2-4/en/android/CertificatesFragment_pending.png

shows "Error during certificate retrieval" 🙁

<img alt="" width="200" src="https://www.coronawarn.app/assets/screenshots/2-4/en/android/CertificatesFragment_pending.png">

The same problem in the German language screenshot

https://www.coronawarn.app/assets/screenshots/2-4/de/android/CertificatesFragment

[2021-06-25 18:09] MikeMcC399 commented on #1426
There is also a 6 week old issue with the screenshots in 2.2, 2.3 and now 2.4 https://github.com/corona-warn-app/cwa-website/issues/1257.

The 2.4 Android screenshot https://www.coronawarn.app/assets/screenshots/2-4/en/android/rat_2.png hardly matches the 2.4.2-RC0 app layout at all.

[2021-06-25 19:11] vaubaehn opened #1433 "Version 2.4 announcement blog post - Technical refinement"
## Where to find the issue
https://www.coronawarn.app/en/blog/2021-06-24-cwa-version-2-4/

https://www.coronawarn.app/de/blog/2021-06-24-cwa-version-2-4/

## Describe the issue
The "RKI" does not receive an encrypted DCC document from the test lab for signing, but only a hash of the data. For this, the above text is misleading.
Please see here the discussion with thomasaugsten (not pinging intenti

[2021-06-27 12:07] heinezen commented on #1433
Does the RKI receive the encrypted data and then computes the hash or does it just receive the hash?

[2021-06-27 13:51] 1muen commented on #1433
@heinezen Its written here: https://github.com/corona-warn-app/cwa-quicktest-onboarding/wiki/Anbindung-der-Partnersysteme#backend-integration

It just retrieves the hash.

[2021-06-27 18:42] heinezen commented on #1433
@1muen I think you were looking at the wrong page because your link shows the pre-DCC rapid-test integration.

But through your link I found the correct page: https://github.com/corona-warn-app/cwa-quicktest-onboarding/wiki/Anbindung-an-CWA-mit-Verwendung-von-DCCs

See **step 7.**: The backend recives both the Encrypted DCC and the hash

[2021-06-28 08:37] MikeMcC399 opened #1436 "Science graphs don't work well on mobile devices"
## Where to find the issue

https://www.coronawarn.app/de/science/2021-06-15-science-blog-1/

## Describe the issue

The dynamic graphs in https://www.coronawarn.app/de/science/2021-06-15-science-blog-1/ such as "Abb. 1: Über die CWA registrierte Tests und deren Ergebnisse." do not work well on mobile devices.

Under Google Chrome on Android 11 it is difficult to scroll across to see the whole gra

[2021-06-29 07:20] MikeMcC399 opened #1439 "Selection for 2.3 screenshots does not work"
## Where to find the issue

https://www.coronawarn.app/en/screenshots/

## Describe the issue

When selecting 2.3 in the Versions drop-down on https://www.coronawarn.app/en/screenshots/ a 404 error is displayed. The screenshots for 2.3 are not displayed.

View code shows the following:

[code]

Follow on from open issue https://github.com/corona-warn-app/cwa-website/issues/1402.

## Workaround

To

[2021-06-29 12:35] Ein-Tim commented on #1375
FYI: Related PR: #1441

[2021-06-29 12:48] Ein-Tim commented on #1375
There we go: https://www.coronawarn.app/en/blog/2021-06-29-cwa-twitter-account/

[2021-06-29 13:39] MikeMcC399 commented on #1439
PR #1440 successfully resolves this issue.

Issue #1402 regarding 404 errors when switching languages is still open.

[2021-06-29 13:39] #1439 closed

[2021-06-29 13:40] MikeMcC399 commented on #1402
The issue regarding accessing 2.3 screenshots has been resolved with PR https://github.com/corona-warn-app/cwa-website/pull/1440.

The problem when switching languages remains however.

[2021-06-29 15:38] dsarkar commented on #1439
@MikeMcC399 Thanks for PR

[2021-06-29 17:25] MikeMcC399 commented on #1402
I set up a local nginx server and I can reproduce the issue. The web server is looking for an `index.html`  and not finding it.

A possible solution may be to:
- create new directories screenshots-archive/2-2, screenshots-archive/2-3 etc for both languages
- move the 2-2.html, 2-3.html, etc. files to the new folders and rename each of them to index.html
- adjust the stylesheet references due to th

[2021-06-30 08:23] MikeMcC399 commented on #1402
@svengabr
Are you available to look at this issue? I believe that you introduced the screenshots-archive into the website.

[2021-06-30 08:43] MikeMcC399 opened #1446 "FAQ: Possibility to get vaccination certificate online not mentioned"
## Where to find the issue

https://www.coronawarn.app/en/faq/#vac_cert_invalid and
https://www.coronawarn.app/de/faq/#vac_cert_invalid

## Describe the issue

The article only describes that vaccination centers may send EU Digital COVID Vaccination Certificates by e-mail for people who were vaccinated before the EU certificates were introduced. "In some federal states, vaccination centers will au

[2021-06-30 08:57] MikeMcC399 commented on #1446
PR #1447 submitted.

[2021-06-30 09:32] #1446 closed

[2021-06-30 09:48] MikeMcC399 commented on #1364
PR https://github.com/corona-warn-app/cwa-website/pull/1447 addresses some readability issues in the first sentence of the FAQ article.

https://www.coronawarn.app/en/faq/#vac_cert_invalid now starts with:
"The app can only successfully scan 'EU Digital COVIID Vaccination Certificates' and these are being issued by vaccination centers since 14 June 2021."

https://www.coronawarn.app/de/faq/#vac_ce

[2021-06-30 09:48] #1364 closed

[2021-06-30 10:40] dsarkar commented on #1364
@MikeMcC399 Thank you very much!

[2021-07-01 17:11] DerVogel2020 opened #1451 "How to report an issue for map.schnelltestportal.de"
## Your Question

* Website URL
* Line / Paragraph:
* Question: Good evening.
Is there a way to report an error at  https://map.schnelltestportal.de/ ?
I cannot find them on github and the Impressum only links to info@t-systems.com

The issue is, that the website for my favourite test center changed and maps.schnelltestportal.de links to the old website. It seems, that the operator of the testing

[2021-07-01 17:13] Ein-Tim commented on #1451
Related to: https://github.com/corona-warn-app/cwa-documentation/issues/646

[2021-07-01 17:24] dsarkar commented on #1451
@DerVogel2020  @Ein-Tim Thanks. We check internally how to proceed with this issue.

---
Internal Tracking ID: [EXPOSUREAPP-8219](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8219)
Corona-Warn-App Open Source Team

[2021-07-01 17:37] dsarkar commented on #1375
@liza-kl @MikeMcC399 @Ein-Tim

Yes, indeed, we agree that a link to twitter in the footer should be implemented. Happy to hear your suggestions.

I assume a link via icon and/or l text @coronawarnapp will do. Maybe just below the GitHub icon, what do you think?

[2021-07-01 17:37] dsarkar commented on #1375
<img width="1017" alt="image" src="https://user-images.githubusercontent.com/1409741/124166980-c552e280-daa3-11eb-9ef6-e2b58a17af82.png">

[2021-07-01 17:42] MikeMcC399 commented on #1451
Maybe the e-mail address registrierung.labore.pandemietest@t-systems.com from https://github.com/corona-warn-app/cwa-quicktest-onboarding/wiki helps?

[2021-07-01 18:13] MikeMcC399 commented on #1375
@dsarkar
I'm no Twitter expert, but using the tool https://publish.twitter.com/ on @coronawarnapp gives one choice for embedded code as:

`<a href="https://twitter.com/coronawarnapp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @coronawarnapp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>`

which would show on the page a

[2021-07-01 18:48] MikeMcC399 commented on #1375
Probably you'll need to reference https://about.twitter.com/en/who-we-are/brand-toolkit to get brand guidelines and logos to embed. I'll see if I can try something out.

[2021-07-01 19:19] MikeMcC399 commented on #1375
PR #1452 created.

[2021-07-02 07:39] #1375 closed

[2021-07-02 07:48] Ein-Tim opened #1453 "Increase size of GitHub logo in footer"
## Where to find the issue
In the footer of the website.

## Describe the issue
The GitHub logo seems a bit tiny in comparison to the Twitter logo.

## Suggested change
Increase the GitHub logo to match the size of the Twitter logo.

## Would you like to work in this?

Yes, if @MikeMcC399 doesn't want to do this.

[2021-07-02 08:12] MikeMcC399 commented on #1453
@Ein-Tim
The GitHub icon is used in several different places, so if you make changes to the footer you need to ensure that you don't introduce unwanted side effects in other places.

Please feel free to try doing this if you feel comfortable with it. It may be more work than you think though.

[2021-07-02 08:34] MikeMcC399 commented on #1453
@Ein-Tim

If you go the GitHub logo source https://github.com/logos and download the logos, you can use GitHub-Mark-Light-32px.png only for the footer. This logo is 32px in size, exactly the same as the Twitter logo.

[2021-07-02 08:38] Ein-Tim commented on #1453
@MikeMcC399

Thank you! I will give it a try later on!

[2021-07-02 13:56] DerVogel2020 commented on #1451
I think I will send an email to t-systems since the results are no longer shared with the CWA backend.
The testing site should be removed from the website.

[2021-07-02 19:17] GisoSchroederSAP commented on #612
Whoever ist interested to follow up on this topic, may have a quick view to the [list provided here.](https://altbeacon.github.io/android-beacon-library/beacon-transmitter-devices.html)
Maybe, it is helpful to understand, that the CWA now just detects the limited capabilities (as described above) but cannot change the behavior of the device

[2021-07-02 21:14] Ein-Tim commented on #1453
PR #1455 opened, addressing this.

[2021-07-03 07:06] #1453 closed

[2021-07-03 09:15] DerVogel2020 commented on #1453
Should this also be implemented in the event landing page? (and also the PR for the Twitter link)
Then the footers would be again the same.

[2021-07-03 16:09] Ein-Tim commented on #1453
@DerVogel2020 See https://github.com/corona-warn-app/cwa-event-landingpage/pull/30

[2021-07-05 10:43] 2019-05-10 opened #1461 "FAQ does not mention Luca QR codes"
According to several sources CWA is supposed to be able to read Luca QR codes by now.
(Obviously, that's still not the case, yet the feature is of great interest not only to me)
None of these sources seems to be the CWA web site -- suspicioulsly, the FAQ does not even mention Luca, let alone contains information about the status.

Please, add (und update) information about that to the FAQ, even if

[2021-07-05 17:08] Ein-Tim commented on #1375
FYI: The Twitter Account started to respond to tweets from the community.

[2021-07-06 18:41] DerVogel2020 commented on #1451
@dsarkar
Any news on this? I wrote an email to t-systems, but didn't get an answer yet.

[2021-07-07 07:34] MikeMcC399 commented on #828
Many months have gone by and this issue has not been fixed. I suggest to close the issue if there is no possibility to remedy the glossary documents served on the website of the Bundesregierung.

[2021-07-07 07:45] MikeMcC399 commented on #913
Despite multiple updates to the website of the Bundesregierung https://www.bundesregierung.de/corona-warn-app-faq-englisch over a period of 5 months, the original problem described in this issue report #913 has not been fixed:

"The English language version of the FAQs https://www.bundesregierung.de/corona-warn-app-faq-englisch links to the German language version of the CWA FAQ https://www.corona

[2021-07-07 07:45] #913 closed

[2021-07-07 08:14] MikeMcC399 opened #1462 "FAQ: Article missing for 2.5 app error HC_PREFIX_INVALID"
## Technical details

- Device name: Samsung Galaxy A5 (2017) SM-A520F
- Android version: 8.0.0
- App version: 2.5.1-RC1 (pre-release version)

Also affects iOS.

## Describe the bug

When a scan error occurs scanning an EU digital COVID certificate, the error message HC_PREFIX_INVALID includes an option "FAQ FOR CERTIFICATES" which links to an FAQ article https://www.coronawarn.app/en/faq/#hc_pre

[2021-07-07 11:17] MikeMcC399 commented on #1422
Templates have been published to https://github.com/Digitaler-Impfnachweis/certification-apis/tree/master/templates

They do not however show the creation of the QR code, only its placement, so we should monitor if newer vaccination PDFs are being created with a white margin or not.

[2021-07-07 11:21] MikeMcC399 commented on #1421
If no change to the 2.3 announcement is planned, then I suggest to close this issue.

Most people will have heard the news through other media that pharmacies (Apotheken) can generate digital certificates.

[2021-07-07 11:23] MikeMcC399 commented on #1409
Is there any official answer to this question?

[2021-07-07 17:08] Ein-Tim opened #1464 "Delete some unused branches"
## Enhancement description

Delete some unused or already merged branches, like https://github.com/corona-warn-app/cwa-website/tree/dsarkar-release-2-4, https://github.com/corona-warn-app/cwa-website/tree/dsarkar-faq-2-4 and other ones that are shown on https://github.com/corona-warn-app/cwa-website/branches/active.

## Problem and motivation

Makes it easier to keep an overview over the branches

[2021-07-08 08:30] dsarkar commented on #1464
@Ein-Tim Thanks. WIP

[2021-07-08 08:32] dsarkar commented on #1464
@svengabr  @heinezen Suggestion: A branch is deleted in general by the one who created it.

[2021-07-08 09:44] Ein-Tim commented on #1461
I'd like to create a FAQ entry for this, since I think it could be hard to get a quick approval if mentioning luca, I'd just write that the CWA event-registration feature is currently only compatible with QR-Codes that were created within the CWA or via https://www.coronawarn.app/de/eventregistration/.

I'll open a PR for this in the next days, if there's nothing that speaks against it from your s

[2021-07-08 09:49] MikeMcC399 commented on #1461
@Ein-Tim

I don't know if that statement is true. It would be good to get an official response to https://github.com/corona-warn-app/cwa-website/issues/1189. Is the list of allowlisted Event Registration apps empty or not? If it is not empty, what apps are allowlisted?

[2021-07-08 09:54] Ein-Tim commented on #1461
@MikeMcC399

Yes, I agree. Looking at the code (https://github.com/corona-warn-app/cwa-server/blob/deeaeb4bb3c95b1388349fa2e2499f6989811103/services/distribution/src/main/resources/main-config/v2/presence-tracing-parameters.yaml#L112), to me, it seems like only CWA-own QR-Codes are allowlisted.

[2021-07-08 10:17] MikeMcC399 commented on #1461
@Ein-Tim
I suggest adding to the list of questions in:

https://www.coronawarn.app/en/faq/#check_in_qr_code

**Can Event QR codes from third-party apps be used?**

- Not at this time.

or, if applicable
- Yes. The following apps provide compatible QR codes: xx, yy, zz.

[2021-07-08 12:05] MikeMcC399 opened #1469 "Issues with blog post cwa-virus-variants"
## Where to find the issue

https://www.coronawarn.app/en/blog/2021-07-08-cwa-virus-variants/ and
https://www.coronawarn.app/en/blog/2021-07-08-cwa-virus-variants/

## Describe the issue

- Cannot switch between languages DE and EN
- Various text suggestions made in https://github.com/corona-warn-app/cwa-website/pull/1466#issuecomment-876371779

Consistently write "Corona-Warn-App" exactly that wa

[2021-07-08 12:11] hschepp1965 commented on #1469
Reviewed the blog and made the suggested edits.

[2021-07-08 12:11] Ein-Tim commented on #1469
The issue with the language switch is that the German Blog Post has this URL:
https://www.coronawarn.app/de/blog/2021-07-08-cwa-virusvarianten/
and the English ones this:
https://www.coronawarn.app/en/blog/2021-07-08-cwa-virus-variants/

German needs to be aligned to English, then the switch will work.
Side effect: Links to blog post will break.

[2021-07-08 12:19] Ein-Tim commented on #1469
@hschepp1965 Do you plan to make any more changes?

It seems like the Twitter Account https://twitter.com/coronawarnapp will make an announcement about the blog soon (they've just deleted a Tweet with a link that wasn't working), so if we change the link we should do it ASAP @MikeMcC399. Alternatively we can later align English to German.

[2021-07-08 12:20] hschepp1965 commented on #1469
On it. @christianneu is working on it.

[2021-07-08 12:24] hschepp1965 commented on #1469
And I talked to my colleague at RKI responsible for the Twitter account. He will wait until I give him a GO that the issue is fixed!

[2021-07-08 12:27] hschepp1965 commented on #1469
CWA-Twitter went out with a tweet only with a link to the blog, not using a deep link to the specific page. It is OK with me.

[2021-07-08 12:27] hschepp1965 commented on #1469
https://twitter.com/coronawarnapp/status/1413111993209442311?s=21

[2021-07-08 12:32] hschepp1965 commented on #1469
@Ein-Tim THANKS SO MUCH for your permanent engagement. Really appreciate it. Cheers, Hilmar

[2021-07-08 13:57] MikeMcC399 commented on #1469
@hschepp1965
Thank you for fixing all the issues I mentioned.

There is just one very minor point left. In
https://github.com/corona-warn-app/cwa-website/blob/master/blog/2021-07-08_Risikioberechnung_Virusvarianten/index.md
it refers to ""The Fraunhofer Institute for Integrated Circuits IIS" (IIS)." so the term "IIS" is mentioned twice.

"(IIS)" could be deleted.

@Ein-Tim
Thank you for finding th

[2021-07-08 14:02] hschepp1965 commented on #1469
I'm on it right now -> deleting (IIS)

[2021-07-08 14:03] DerVogel2020 commented on #1469
In the German blog post is the link to the English blog (In the last sentence of the blog post).

[2021-07-08 14:45] hschepp1965 commented on #1469
Corrected and in review process. Should be live in a few minutes.

[2021-07-08 15:35] hschepp1965 commented on #1469
Thanks for the excellent quality management!

[2021-07-09 08:21] MikeMcC399 commented on #1461
There is another new issue report in https://github.com/corona-warn-app/cwa-documentation/issues/658, so it would definitely be good to have an approved and published FAQ answer regarding the status of support of Luca QR event registration QR codes by CWA.

[2021-07-09 13:12] Ein-Tim opened #1475 "Make individual glossary entries linkable"
## Feature description

Please make individual glossary entries linkable. With linkable I mean that you can directly link to the glossary entry for e.g. the "DCC", similar to what's possible with FAQ entries.

## Problem and motivation
If someone asks what the term "DCC" means I can directly send out a link to the explanation for the term "DCC" and not only for https://www.coronawarn.app/de/faq/ w

[2021-07-09 13:14] Ein-Tim opened #1476 "Provide glossary in English"
## Feature description

The glossary feature, which was added with #1457, should also be added in English version (www.coronawarn.app/en) of the website.

## Problem and motivation
English speaking people are also interested in the definition of terms (;

## Is this something you're interested in working on

Should be done by the Open-Source-Team.

[2021-07-09 13:32] Ein-Tim opened #1477 "Issues with the glossary"
## Where to find the issue
https://www.coronawarn.app/de/faq/ - Glossar

## Describe the issue & Suggested change

### B
- **Business rules**:  Change "Impfzertifikate für COVID19" to "Impfzertifikate für COVID-19"

### D
- **DCC**: Change "das digitale COVID Zertifikat" to "das digitale COVID-Zertifikat"

### G
- **Genesenen-Zertifikat**:
	1. Change "eine Covid-19-Erkrankung" to "eine COVID-19-Er

[2021-07-09 13:32] Ein-Tim commented on #1477
I'll provide a PR for this in the next hour.

[2021-07-09 14:04] Ein-Tim commented on #1477
PR #1478 opened, these questions remain:

1. Why (PCR) in () for the recovery certificate, AFAIK you can only request a recovery certificate if you have a positive PCR test, so the () should be removed.
2. Why only "PCR-Tests" for test certificate, you can request a test certificate for rapid antigen test results too.

[2021-07-09 14:43] MikeMcC399 commented on #1477
I would like to see the Glossary in a separate place, not at the top of the FAQs. It also makes the German and English FAQs unbalanced, since there is no English version of the Glossary published.

[2021-07-09 16:12] MikeMcC399 commented on #1477
@Ein-Tim

I agree with both your points:

I believe the legal definition is in https://www.gesetze-im-internet.de/schausnahmv/BJNR612800021.html "Verordnung zur Regelung von Erleichterungen und Ausnahmen von Schutzmaßnahmen zur Verhinderung der Verbreitung von COVID-19 (COVID-19-Schutzmaßnahmen-Ausnahmenverordnung - SchAusnahmV)"
§ 2 Begriffsbestimmungen
"5. ein Genesenennachweis ein Nachweis hins

[2021-07-09 18:19] MikeMcC399 opened #1479 "FAQ: Review and revise Vaccination Certificate section"
## Where to find the issue

https://www.coronawarn.app/en/faq/#vac_cert
https://www.coronawarn.app/de/faq/#vac_cert

## Describe the issue

The FAQ section [Vaccination Cert.](https://www.coronawarn.app/en/faq/#vac_cert) would benefit from review and revision since some statements are out of date as certain things which were still in planning at the time of writing have now been implemented.

Ther

[2021-07-09 18:22] Ein-Tim commented on #1479
Fully support for this request!

One point I'd like to add: Please consider removing or merging some FAQ entries with reference to the other FAQs at https://digitaler-impfnachweis-app.de/faq/#allgemeine-fragen and https://www.bundesgesundheitsministerium.de/coronavirus/faq-covid-19-impfung/faq-digitaler-impfnachweis.html.

Thank you!

[2021-07-10 11:41] Ein-Tim commented on #1461
I opened #1482 to get this information in the FAQ, recently there are many users on Twitter asking the same question, so it definitely makes sense to add this in the near future. Fell free to comment in #1482.

[2021-07-12 11:07] MikeMcC399 commented on #610
PR #1493 now submitted to close this issue.
The issue was never assigned and there was no feedback, however I am confident that the information is the PR is correct and useful.

[2021-07-12 11:13] MikeMcC399 commented on #828
Closing due to non-response.

[2021-07-12 11:13] #828 closed

[2021-07-12 11:19] MikeMcC399 commented on #1003
Closing due to non-response and the fact that this issue is not about the https://www.coronawarn.app website.

I have left https://github.com/corona-warn-app/cwa-hotline/issues/13 open in the [CWA Hotline](https://github.com/corona-warn-app/cwa-hotline) repository to which is it more related.

[2021-07-12 11:19] #1003 closed

[2021-07-12 11:32] MikeMcC399 commented on #1189
Thanks to @Ein-Tim https://www.coronawarn.app/en/faq/#check_in_qr_code currently says:

**Can Event QR codes from other apps be scanned with the CWA?**

No, currently it is not possible to scan the event QR codes from other apps with the Corona-Warn-App.

[2021-07-12 11:37] MikeMcC399 commented on #1281
Is there any update of the document
https://www.coronawarn.app/assets/documents/cwa-datenschutz-folgenabschaetzung.pdf available?

The published document only covers the app versions up to CWA 2.2 and today version 2.5 of the Corona-Warn-App was released which completes the integration of EU Digital COVID Certificates (see https://www.coronawarn.app/en/blog/2021-07-12-cwa-version-2-5/).

[2021-07-12 11:38] MikeMcC399 commented on #1385
Since this podcast is no longer newsworthy and there was no response, closing this issue.

[2021-07-12 11:38] #1385 closed

[2021-07-12 11:40] MikeMcC399 commented on #1462
@dsarkar
CWA 2.5.1 was released today (https://www.coronawarn.app/en/blog/2021-07-12-cwa-version-2-5/) and the FAQ article for the app error is still missing.

[2021-07-12 11:44] dsarkar commented on #1003
@MikeMcC399 Alright.

[2021-07-12 12:38] Ein-Tim commented on #1462
PR #1494 added the entry.

[2021-07-12 14:05] MikeMcC399 commented on #1462
PR #1495 submitted.

[2021-07-12 22:14] Ein-Tim opened #1496 "FAQ: Menu cut off on larger screens"
## Where to find the issue
DE: https://www.coronawarn.app/de/faq/
EN: https://www.coronawarn.app/en/faq/

## Describe the issue
The FAQ menu meanwhile got so long, it does not fit on my screen anymore:

<img width="1000" alt="Bildschirmfoto 2021-07-13 um 00 10 23" src="https://user-images.githubusercontent.com/67682506/125362163-b9520500-e36e-11eb-989c-3e5a2aed97b6.png">

The point "Datenschutz un

[2021-07-13 06:00] MikeMcC399 commented on #1496
@Ein-Tim
Your problem has the same root cause as #882 which occurs on a mobile device, or on when Google Chrome is set to the minimum width for https://www.coronawarn.app/en/faq.

I can reproduce your issue under Microsoft Windows with Google Chrome viewing https://www.coronawarn.app/de/faq if I reduce the height of the browser window.

Unfortunately the implementation is not scalable to adding mo

[2021-07-13 07:30] Ein-Tim commented on #1496
@MikeMcC399

Agreed! Thanks for your feedback!

[2021-07-13 10:09] Ein-Tim opened #1497 "`further_details` (statistics FAQ entry) does not mention vaccination, local statistics & hospitalization statistics"
## Where to find the issue
EN: https://www.coronawarn.app/en/faq/#further_details
DE: https://www.coronawarn.app/de/faq/#further_details

## Describe the issue
The FAQ entry does not mention the vaccination statistics, which were added in version 2.5. Neither it explains the local statistics which were added in version 2.6. Also it does not mention the hospitalization statistics.

## Suggested cha

[2021-07-13 10:24] dsarkar commented on #1497
Internal Tracking ID: [EXPOSUREAPP-8383](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8383)

[2021-07-13 10:55] dsarkar commented on #1462
@MikeMcC399 Thanks. Merged!

[2021-07-13 11:10] MikeMcC399 commented on #1462
Verified fixed with steps to reproduce from https://github.com/corona-warn-app/cwa-website/issues/1462#issue-938618963.

[2021-07-13 11:10] #1462 closed

[2021-07-13 13:15] MikeMcC399 commented on #1409
To answer my own question in https://github.com/corona-warn-app/cwa-website/issues/1409#issuecomment-866049540

https://www.bundesgesundheitsministerium.de/coronavirus/faq-covid-19-impfung/faq-digitaler-impfnachweis.html says:

"Müssen sich Personen, die das Zertifikat "Impfung 2 von 2" digital erhalten haben, das erste Zertifikat nachträglich besorgen?

Personen, die bereits vollständig geimpft s

[2021-07-13 13:21] MikeMcC399 commented on #1479
@Ein-Tim
Thanks for the links! The CWA FAQ should definitely be cross-checked with the other information sources, however currently the other sources are only in the German language, so having the CWA FAQ English version will be a useful resource for readers without German-language skills.

The links could also be added to the FAQs as an additional source of information. In the CWA FAQ section the

[2021-07-13 20:59] Ein-Tim commented on #1426
These issues persist even after the update of the screenshots with the release of version 2.5.

[2021-07-14 05:34] MikeMcC399 commented on #1409
@dsarkar / @heinezen

When I wrote this issue, CWA could only manage vaccination certificates for one person. Even so, it was still possible to add both the first and second vaccination certificate of a two-series vaccination program.

With the release of CWA 2.5, and the ability to manage vaccination certificates for more than one person, the FAQ language needs to be adapted to cover the fact tha

[2021-07-14 07:52] dsarkar commented on #1409
@MikeMcC399 Thanks for your comments. More than happy if you would provide a PR to update the corresponding article!

[2021-07-15 09:45] Ein-Tim commented on #1477
@heinezen Was it intended to reopen this issue? I don't have any issues with the glossary to report at the moment, everything I reported in the OP was fixed.

From my side this can be closed.

[2021-07-15 10:15] #610 closed

[2021-07-15 11:46] Ein-Tim commented on #1461
@2019-05-10 The change from #1482 is now live, here's a screenshot:
![DE](https://user-images.githubusercontent.com/67682506/125782924-5317d8e9-c96a-404d-a93b-073670e5e1bf.jpg)

Do you consider this as implemented and would you close this issue?

[2021-07-15 11:47] Ein-Tim commented on #1355
This issue is wrongly labeled as `question`, I think the type is `enhancement`. Please relabel, thank you!

[2021-07-15 15:38] 2019-05-10 commented on #1461
I strongly recommend to put the term "Luca" in somewhere.
That's by far the most used/best known of those apps, and I assume most people rather search for that term than parsing the ToC to locate that information.
If I didn't know what to look for I may have overlooked that section ...

How to ensure that section is updated if anything changes?

[2021-07-15 15:43] Ein-Tim commented on #1461
@2019-05-10

That's by far the most used/best known of those apps, and I assume most people rather search for that term than parsing the ToC to locate that information.
If I didn't know what to look for I may have overlooked that section ...

I understand your concern and I'll open a PR for this, but it could be that this takes some time because I'm quite sure that for this there needs to be an in

[2021-07-15 16:49] Ein-Tim commented on #1461
PR #1500 opened, which proposes to add a mention of the "luca" app to the FAQ.

[2021-07-16 11:03] MikeMcC399 commented on #1322
PR https://github.com/corona-warn-app/cwa-website/pull/1499 causes the error thrown in cypress `blog_spec` to be ignored and thus the test now passes.

This issue is therefore now obsolete.

[2021-07-16 11:03] #1322 closed

[2021-07-16 11:11] MikeMcC399 opened #1503 "Cypress test: pages/eventRegistration.js fails"
## Where to find the issue

https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/pages/eventRegistration.js

## Describe the issue

[code]
shows the test for pages/eventRegistration.js failing.

 ![image](https://user-images.githubusercontent.com/66998419/125816571-c76f9bb5-a96f-4d04-9386-e8dc5c464692.png)

[code]

Change was introduced by PR https://github.com/corona-war

[2021-07-17 18:55] MikeMcC399 commented on #1409
The first PR in this series is https://github.com/corona-warn-app/cwa-website/pull/1506 referring to
https://www.coronawarn.app/en/faq/#vac_cert_invalid and
https://www.coronawarn.app/de/faq/#vac_cert_invalid

I plan to submit one PR for each article to make feedback, revision and merging simpler.

[2021-07-18 13:01] Ein-Tim commented on #1461
As promised @2019-05-10, here's the latests information reg. "luca" and CWA:

https://github.com/corona-warn-app/cwa-server/pull/1362#issuecomment-882052293 says:

[2021-07-18 14:29] Ein-Tim commented on #1477
I'll close this as fixed now.

[2021-07-18 14:29] #1477 closed

[2021-07-18 19:16] MikeMcC399 commented on #1503
@svengabr / @chrisenitan
Please verify if the test also fails for you on the master branch of the repository.

If anybody else is able to test and report back on the results, that would also be helpful.

[2021-07-18 19:55] MikeMcC399 commented on #1503
There is new text in the README.md file which says:

----
- Set the default language to test against: create a `cypress.env.json` file with the following values
- Values can be "en" or "de". Defaults to "en"
[code]

---

The previous tests were carried out by default on both the English (en) and German (de) pages.
Could the eventregistration test also be aligned to test both languages by default?

[2021-07-19 07:13] MikeMcC399 commented on #1503
I will close this issue and re-write as an enhancement request to eventregistration since the test does run if cypress.env.json is created as described.

[2021-07-19 07:13] #1503 closed

[2021-07-19 07:58] chrisenitan commented on #1503
Sure! Please tag me, I should avoid creating new dependencies so I'd say we drop the use of `cypress.env.json` and use `cypress.json` instead since they both serve the same purpose.

- Ideally the `cypress.env.json` file would be in the projects root dir
- Will also standardise the language test for both available options and update the READ.me to reflect the changes.

[2021-07-19 09:13] MikeMcC399 commented on #1409
PRs #1507, #1508 & #1509 have been submitted and merged.

From the introduction of vaccination certificates in version 2.3 it was always possible to add multiple certificates for one person (typically for a two dose vaccination series). From version 2.5 it became possible to add certificates for multiple persons as well.

The issue that some FAQ articles referred to vaccination certificates in the

[2021-07-19 09:13] #1409 closed

[2021-07-19 09:14] MikeMcC399 commented on #1421
Closing, since this is old news.

[2021-07-19 09:14] #1421 closed

[2021-07-19 09:16] MikeMcC399 commented on #1479
#1409 has now been dealt with. The FAQs now describe the app ability to store multiple vaccination certificates, also for multiple people.

[2021-07-19 10:59] MikeMcC399 opened #1512 "FAQ: "Why is there a digital proof of vaccination?" out of date and overloaded"
## Where to find the issue

https://www.coronawarn.app/en/faq/#vac_cert_why
https://www.coronawarn.app/de/faq/#vac_cert_why

## Describe the issue

The article https://www.coronawarn.app/en/faq/#vac_cert_why answers the question:

**Why is there a digital proof of vaccination?**

with the text:

"At the beginning of the year, the European Council decided to launch an interoperable and standardized

[2021-07-19 11:57] MikeMcC399 opened #1513 "Cypress eventRegistration.js test fails with 'de' set"
This issue follows on from issue https://github.com/corona-warn-app/cwa-website/issues/1503 and PR https://github.com/corona-warn-app/cwa-website/pull/1499.

@chrisenitan provided the source and
@svengabr merged PR https://github.com/corona-warn-app/cwa-website/pull/1499
so they should be good contacts to respond to the attached.

## Describe the bug

https://github.com/corona-warn-app/cwa-website

[2021-07-19 12:01] MikeMcC399 commented on #1503
@chrisenitan

It looks like https://github.com/corona-warn-app/cwa-website/blob/master/cypress/integration/pages/eventRegistration.js is a work-in-progress which does not test the German language page correctly, even though the [README.md](https://github.com/corona-warn-app/cwa-website/blob/master/README.md) suggests otherwise.

Please let us have your comments in the follow-on issue https://githu

[2021-07-19 17:31] chrisenitan commented on #1513
From #1503: The test is work in progress for `de`

- We may benefit from using string handlers for the test and allowing the optional selection of language by who is running the test or use pipeline variables in CI to define this or group tests by localisation...

But all the above might create more complexity however
- So the proposed solution is to duplicate the tests and abstract localised stri

[2021-07-20 15:14] MikeMcC399 commented on #1512
I have submitted a PR https://github.com/corona-warn-app/cwa-website/pull/1518 with an overview of certificate support. If this PR is accepted I will work on updating the
https://www.coronawarn.app/en/faq/#vac_cert_why
https://www.coronawarn.app/de/faq/#vac_cert_why
FAQ articles.

[2021-07-20 15:28] MikeMcC399 commented on #1281
PR https://github.com/corona-warn-app/cwa-website/pull/1517 has updated https://www.coronawarn.app/assets/documents/cwa-datenschutz-folgenabschaetzung.pdf to Version 1.15, 12.07.2021.

The section in question is now on page 87.

The concerns in this issue (https://github.com/corona-warn-app/cwa-website/issues/1281) have not been addressed or commented on in Version 1.15 of the [DFSA](https://www.c

[2021-07-20 17:58] MikeMcC399 commented on #1497
Also
EN: https://www.coronawarn.app/en/faq/#further_details "In-App statistics starting with release 1.11"
DE: https://www.coronawarn.app/de/faq/#further_details "In-App Statistiken ab Release 1.11"
are in the "News" section, even though version 1.11 was released on Jan 28, 2021 (see https://www.coronawarn.app/en/blog/2021-01-28-corona-warn-app-version-1-11/ ) and this release isn't newsworthy any

[2021-07-21 07:34] MikeMcC399 commented on #60
@dsarkar

It doesn't seem like anybody looked at this in the last months and there is still something wrong with the way that the production nginx server on https://www.coronawarn.app/ handles a 404 error. It displays a 404 custom error message and returns HTTP/1.1 403 forbidden.

This GitHub repository doesn't contain the setup information for the server, so it's not possible for an outsider to s

[2021-07-21 07:43] dsarkar commented on #60
@MikeMcC399 Yep, I will forward this issue to @svengabr and @mtb77.

[2021-07-21 07:48] dsarkar commented on #60
Internal Tracking ID: [EXPOSUREAPP-8525](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8525)

[2021-07-21 08:27] svengabr commented on #1513
Should be resolved with https://github.com/corona-warn-app/cwa-website/pull/1515

[2021-07-21 08:27] #1513 closed

[2021-07-21 08:28] svengabr commented on #1282
Cypress was updated lately with some new pull requests that were approved. @MikeMcC399 do you think we could close this issue?

[2021-07-21 09:26] MikeMcC399 commented on #1513
PR #1515 fixes the issue.

## Verification

1. `npm ci` to ensure cypress is up-to-date
2. `npm run test:open`
3. In cypress UI click `eventRegistration.js`
4. 6 tests are successful, 0 tests fail

[2021-07-21 09:31] MikeMcC399 commented on #1282
@svengabr
The cypress tests are now completing successfully, so this issue can be closed.

[code]

[2021-07-21 09:31] #1282 closed

[2021-07-21 10:55] #1512 closed

[2021-07-21 11:41] MikeMcC399 commented on #1479
Additional merged PRs which are related to this revision are:

https://github.com/corona-warn-app/cwa-website/pull/1511
https://github.com/corona-warn-app/cwa-website/pull/1514
https://github.com/corona-warn-app/cwa-website/pull/1518
https://github.com/corona-warn-app/cwa-website/pull/1520

This concludes the general effort to update the section
https://www.coronawarn.app/en/faq/#vac_cert
https://

[2021-07-21 11:41] #1479 closed

[2021-07-24 00:18] Ein-Tim commented on #1476
Update on this:

@GisoSchroederSAP wrote in https://github.com/corona-warn-app/cwa-website/pull/1528#issuecomment-885951886:

So this would probable have to be done from the community. I'll take a look at this once I've enough time.

[2021-07-24 06:31] MikeMcC399 opened #1533 "Discussion about PR contribution best practices"
Some new best practices were introduced into https://github.com/corona-warn-app/cwa-website/blob/master/CONTRIBUTING.md#pull-request-checklist recently (see below).

I'd like to start this thread as an open discussion to help collaboration and implementing the best practices.

---
## Pull Request Checklist

* Use a [git GUI interface](https://git-scm.com/downloads/guis/) if you are new to `git`. I

[2021-07-24 06:34] MikeMcC399 commented on #1533
I noticed that the [GitHub Desktop](https://docs.github.com/en/desktop) has new functionality for

[Squashing commits](https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/squashing-commits) and

[Amending a commit](https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/managing-commits/amending-a-commit)

I will tr

[2021-07-24 09:57] Ein-Tim commented on #1451
I've also found some issues on the page and I'd like to report them...

[2021-07-24 20:02] Ein-Tim commented on #1202
Could this been closed because of www.schnelltestportal.de?

[2021-07-24 20:55] DerVogel2020 commented on #1451
@dsarkar
Any news on this? My email to t-systems is still unanswered and the issue (wrong website to testing site) still occurs.

[2021-07-24 22:26] GisoSchroederSAP commented on #1476
If you think, the English translation is beneficial to the community, well, I appreciate your input and support.
Thanks!

[2021-07-25 19:45] heinezen commented on #1476
@Ein-Tim I'll start the translation today and create a branch + draft PR. If I'm not getting finished today, the community is invited to push to my branch.

----
Corona-Warn-App Open Source Team

[2021-07-25 19:50] Ein-Tim commented on #1476
@heinezen Thank you @heinezen! I'll probably have time to make changes on Thursday. 👍

[2021-07-26 07:22] MikeMcC399 opened #1535 "Certificate issue through pharmacies"
## Where to find the issue

For instance:
https://www.coronawarn.app/en/faq/#vac_cert_invalid

## Describe the issue

There have been some postings in other CWA repositories referring to security issues with pharmacies issuing EU Digital COVID Certificates and that pharmacies have stopped issuing certificates.

In the newsroom of [ABDA - Bundesvereinigung Deutscher Apothekerverbände e. V.](https:/

[2021-07-26 09:43] dsarkar commented on #1451
@DerVogel2020
- For the moment write to registrierung.labore.pandemietest@t-systems.com until another channel might be established.
- Optionally, issues reported here regarding map.schnelltestportal.de, will be forwarded by us internally.

---
Corona-Warn-App Open Source Team

[2021-07-26 09:54] DerVogel2020 commented on #1451
I sent them the email again.

[2021-07-26 15:46] MikeMcC399 commented on #1533
@heinezen
Is there any agreement in the Open Source Team that the squash / amend best practices will be used for PRs initiated by the team? Looking at the current history it does not seem to be the case.

[2021-07-27 07:19] MikeMcC399 opened #1540 "Glossary placement and naming"
## Where to find the issue

https://www.coronawarn.app/de/faq/ Glossar

Assuming that PR https://github.com/corona-warn-app/cwa-website/pull/1534 is merged, then also
https://www.coronawarn.app/en/faq/ Glossary

## Describe the issue

The Glossary takes a prominent place at the top of all FAQ articles.

The name and the placement implies that it is a glossary covering all aspects of CWA, however t

[2021-07-27 10:31] Ein-Tim opened #1541 "Create a short FAQ entry for the "Your test result cannot be loaded. The response has no content" error under iOS"
## Where to find the issue
n/a

## Describe the issue
In some cases, the iOS app shows the error "Your test result cannot be loaded. The response has no content" to the user. There is no more information in this error message and only an "OK" button to dismiss the pop-up. More information can be found in: https://github.com/corona-warn-app/cwa-app-ios/issues/3254

## Suggested change
Add a short F

[2021-07-27 16:04] MikeMcC399 commented on #1535
My nearest pharmacy has a notice in the window (afternoon of Jul 27, 2021):

---
Covid Impf-Pass:

Impfportal
derzeit
deutschlandweit
geschlossen

(wegen einer Daten-Sicherheitslücke)

[2021-07-27 16:21] MikeMcC399 commented on #1533
Is there any recommendation about using the suggestion function when commenting on other people's PRs?

![image](https://user-images.githubusercontent.com/66998419/127190333-a281f706-fe44-450a-81ee-016406bef9dc.png)

Each suggestion leads to a separate commit. If there are multiple suggestions to a PR which are then individually accepted then that leads to multiple commits, which would need to be

[2021-07-27 18:40] heinezen commented on #1533
They should be followed by everyone, including the OS team, so you can remind us about the best practices if you think they are not followed. Sometimes squashing is not possible, e.g. when committing via the web interface, but that does not happen that often and is generally OK.

I don't like to use it for that reason: It doesn't generate good commit messages and leads to a number of very tiny com

[2021-07-27 22:12] Ein-Tim commented on #1497
The issue will get worse with the release of version 2.6, which includes local statistics.

[2021-07-28 04:24] MikeMcC399 commented on #1497
There are two other open issues which reference
EN: https://www.coronawarn.app/en/faq/#further_details "In-App statistics starting with release 1.11"
DE: https://www.coronawarn.app/de/faq/#further_details "In-App Statistiken ab Release 1.11"

these are:
https://github.com/corona-warn-app/cwa-website/issues/904 and
https://github.com/corona-warn-app/cwa-website/issues/971.

[2021-07-28 08:26] MikeMcC399 opened #1546 "https://www.coronawarn.app/de/faq/#cert_eu_travel missing"
Version 2.6 [includes](https://github.com/corona-warn-app/cwa-app-ios/blob/474daba76f9bbd0493726b7ad2654d4486574a36/src/xcode/ENA/ENA/Resources/Localization/de.lproj/Localizable.links.strings#L35) a link to https://www.coronawarn.app/de/faq/#cert_eu_travel, will this FAQ entry be published soon?

_Originally posted by @Ein-Tim in https://github.com/corona-warn-app/cwa-website/issues/1523#issuecomm

[2021-07-28 08:45] Ein-Tim commented on #1426
I consider this as obsolete and will open a new issue reg. the screenshot page soon.

[2021-07-28 08:45] #1426 closed

[2021-07-28 08:47] MikeMcC399 commented on #1546
@dsarkar

There are articles named

https://www.coronawarn.app/en/faq/#eu_cert_travel
https://www.coronawarn.app/de/faq/#eu_cert_travel

which is not the same as

https://www.coronawarn.app/en/faq/#cert_eu_travel and
https://www.coronawarn.app/de/faq/#cert_eu_travel

as used in the Android 2.6 code.

It looks like a mistake was made in https://github.com/corona-warn-app/cwa-website/pull/1523 (http

[2021-07-28 09:18] MikeMcC399 opened #1549 "Android Screenshots: "Check certificates for validity before a trip" wrong OS"
## Where to find the issue

https://www.coronawarn.app/en/screenshots/#android_check_validity_certificate "Check certificates for validity before a trip"
https://www.coronawarn.app/de/screenshots/#android_check_validity_certificate "Zertifikate vor einer Reise auf Gültigkeit prüfen"

First reported for CWA version: 2.8
Reviewed as not yet fixed for CWA version: 2.23 screenshots

## Describe the is

[2021-07-28 09:39] Ein-Tim opened #1550 "Issues with the screenshots page"
- [ ] Please finally remove the contact journal onboarding screens under iOS (align it to the Android section).
- [x] "Check-In - Scan QR-Code" section:
	- [x] Title is not translated into German (should be "Check-in - QR-Code scannen"
- [x] "Check-in - QR-Code erstellen" / "Check In - Create Event section:
	- [x] Titles should be aligned (German to English or vice versa)
	- [x] Picture 3 is still

[2021-07-28 09:54] MikeMcC399 commented on #1550
Also https://github.com/corona-warn-app/cwa-website/issues/1549.

[2021-07-28 11:53] #1546 closed

[2021-07-28 11:54] dsarkar commented on #1546
@MikeMcC399 @Ein-Tim Many thanks for spotting this one !!!!

[2021-07-28 12:08] MikeMcC399 commented on #1546
@dsarkar
I checked in the Android app that clicking on the FAQ link in the screen "Certificate is Valid" now leads to the correct FAQ entry https://www.coronawarn.app/en/faq/#cert_eu_travel.

[2021-07-28 16:18] MikeMcC399 commented on #1549
The Android section is using iOS screenshots.

https://github.com/corona-warn-app/cwa-website/blob/b9237487273a8f0d84df47007d3e0a9212706d02/src/data/screenshots.json#L171-L178

There don't appear to be appropriate screen shots available in https://github.com/corona-warn-app/cwa-website/tree/master/src/assets/screenshots/2-6/en/android.

[2021-07-29 07:17] MikeMcC399 commented on #1422
Thanks to the tip from @Ein-Tim in https://github.com/corona-warn-app/cwa-documentation/issues/671#issuecomment-888577328 I got a new version of my 2/2 vaccination certificate from the Bavarian portal https://impfzentren.bayern/citizen/ which uses the updated layout (QR is to the right of the text "Scannen Sie den nebenstehenden ..." instead of to the left, the QR is also larger: 50mm instead of 4

[2021-07-29 07:17] #1422 closed

[2021-07-29 08:15] heinezen opened #1555 "[Info] Certificate terminology"
This issue is meant to explain and list some of the technical terminology used to explain certificates. If you are writing or editing an FAQ entry, you can use this issue as guidance for selecting the proper word in your text. Choosing the right words is especially important in this context because most users know nothing about the technology behind digital certificates and can easily be confused.

[2021-07-29 08:44] MikeMcC399 commented on #1555
@heinezen
Thanks for the guidelines!

I noticed a couple of typos:

person the certificate was issues for => person the certificate was issued for
is call certificate bearer => is called the certificate bearer
A certificate cannot neither be => A certificate can neither be

[2021-07-29 09:00] heinezen commented on #1555
@MikeMcC399 Thanks. Should be fixed now!

[2021-07-29 19:01] MikeMcC399 commented on #1535
ABDA (Bundesvereinigung Deutscher Apothekerverbände e. V.) reports they are beginning to resolve the issue:

https://www.abda.de/aktuelles-und-presse/pressemitteilungen/detail/digitale-impfzertifikate-schrittweise-wieder-in-apotheken-erhaeltlich/

Any further status communication should be coming from them, therefore closing this issue.

[2021-07-29 19:01] #1535 closed

[2021-07-30 07:04] MikeMcC399 commented on #1402
There has been no reaction to this issue so far and it affects each of the previous screenshot versions: currently 2.2, 2.3, 2.4 & 2.5.

[2021-07-30 07:28] MikeMcC399 commented on #1257
@dsarkar

Also in the 2.6 screenshots the "Rapid antigen test" section screenshots are out-of-date and do not belong to this version.

![image](https://user-images.githubusercontent.com/66998419/127616761-2200e173-019e-44a3-bcb7-cea2c9192d6a.png)

In version 2.6 the title of the first tile is no longer "Register Your Test". It now says "Manage Your Tests". Also the menu bottom bar is missing the "

[2021-07-30 12:05] MikeMcC399 opened #1560 "Business Rules country list differs between blog and FAQ"
## Where to find the issue

https://www.coronawarn.app/en/faq/#cert_eu_travel lists the validation (business rule) countries as
Germany, Spain, the Netherlands, Austria, Luxembourg, and Lithuania

https://www.coronawarn.app/de/faq/#cert_eu_travel lists the validation (business rule) countries as
Deutschland, Spanien, die Niederlande, Österreich, Luxemburg und Litauen

## Describe the issue

1. The

[2021-07-30 14:33] MikeMcC399 opened #1563 "Outdated UI instructions for requesting a test certificate"
## Where to find the issue

https://www.coronawarn.app/en/faq/#test_cert_get "How can I request a test certificate?"

"You can request the certificate by registering a test in the Corona-Warn-App (CWA): To do this, tap on 'Register Test' on the start screen of your CWA and then on 'Scan QR Code'. After scanning the QR code for test registration, the window for the COVID test certificate automatica

[2021-07-30 15:38] #1560 closed

[2021-07-30 16:07] Ein-Tim commented on #1550
Everything mentioned here has been fixed through #1552.

The contact journal onboarding is tracked in #1307.

Closing as fixed.

[2021-07-30 16:07] #1550 closed

[2021-07-30 16:08] Ein-Tim commented on #1306
This has already been implemented.

Closing as implemented.

[2021-07-30 16:08] #1306 closed

[2021-07-30 20:29] Marcono1234 opened #1565 "Some blog post screenshots might leak sensitive information"
## Where to find the issue
- [`blog/2021-05-11-How-to-Schnelltest-Partner/dm-5.jpg`](https://github.com/corona-warn-app/cwa-website/blob/master/blog/2021-05-11-How-to-Schnelltest-Partner/dm-5.jpg)
QR code stores JWT token containing birthday and unique test ID.
- [`blog/2021-05-12-cwa-2-2/profil-anlegen(3).jpg`](https://github.com/corona-warn-app/cwa-website/blob/master/blog/2021-05-12-cwa-2-2/pro

[2021-07-31 11:23] MikeMcC399 commented on #1565
@Marcono1234

![image](https://user-images.githubusercontent.com/66998419/127738213-72ae5c1d-c40f-4d5f-ab47-d8dc13778f7c.png)

According to https://www.postdirekt.de/plzserver/ there are several Blumenstr. in Berlin, however none of them have the PLZ 439243.

In fact PLZ 439243 does not exist in real life.
https://www.postdirekt.de/plzserver/index.html > Weitere > Erweiteterte Suche
`0 Suchtreffer

[2021-07-31 11:58] MikeMcC399 commented on #1563
https://www.coronawarn.app/en/faq/#rat_how_get_result and
https://www.coronawarn.app/de/faq/#rat_how_get_result

have the same issue. I will submit a PR for these articles as well.

[2021-07-31 15:41] MikeMcC399 opened #1566 "After using FAQ search, the Glossary is displayed"
## Where to find the issue

https://www.coronawarn.app/de/faq/

## Describe the issue

A "Glossar" has been placed at the top of the German FAQ page https://www.coronawarn.app/de/faq/.

1. This hides the fact that there is an FAQ search field available.
2. After typing text into the search field and starting the search, the Glossar is displayed. The user is forced to scroll down to find the search

[2021-07-31 15:59] MikeMcC399 commented on #1533
After merging the master branch into a open PR, pulling it locally then adding a commit, GitHub Desktop wouldn't let me squash. I had to rebase on master then I could squash and force push to origin.
Still learning here 🙂 !

[2021-07-31 16:01] MikeMcC399 commented on #1563
I have added the changes for
https://www.coronawarn.app/en/faq/#rat_how_get_result and
https://www.coronawarn.app/de/faq/#rat_how_get_result
into https://github.com/corona-warn-app/cwa-website/pull/1564.

[2021-07-31 16:11] MikeMcC399 opened #1567 "UI Changes in 2.6 for Rapid Test Profile"
## Where to find the issue

https://www.coronawarn.app/en/faq/#rat_profile_create_edit_delete "How can I create, edit and remove a rapid test profile?"
https://www.coronawarn.app/de/faq/#rat_profile_create_edit_delete "Wie kann ich ein Schnelltest-Profil anlegen, bearbeiten und entfernen?"

## Describe the issue

The UI in CWA 2.6 has changed, so the description in
https://www.coronawarn.app/en/fa

[2021-07-31 17:34] Marcono1234 commented on #1565
Thanks for taking a look at this! Maybe this is not problematic then, sorry for the fuss.
Feel free to close this issue.

[2021-07-31 18:10] MikeMcC399 commented on #1565
@Marcono1234
Thanks for keeping an eye out for problems. Mistakes do sometimes happen.

You should be able to close the issue yourself.

See if you have a button "Close Issue" at the bottom available to you if you are viewing via web browser, or just "CLOSE" if you are using the GitHub app.

[2021-07-31 18:43] #1565 closed

[2021-08-02 06:26] #1567 closed

[2021-08-02 17:43] MikeMcC399 opened #1573 "Umlaut problems in science tables"
## Where to find the issue

https://www.coronawarn.app/de/science/2021-08-02-science-blog-3/

## Describe the issue

In several tables the graphics contain Umlauts which are displayed incorrectly.

[tab_02](https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-08-02-science-blog-3/tab_02.png)

![Screenshot 2021-08-02 193549](https://user-images.githubusercontent.com/66998419/1279

[2021-08-03 08:08] dsarkar commented on #1573
@MikeMcC399 Thanks. We will get the raw data from RKI and then edit it in line with the other the tables, which will also resolve this issue.

Internal Tracking ID: [EXPOSUREAPP-8784](https://jira-ibs.wbs.net.sap/browse/EXPOSUREAPP-8784)

[2021-08-03 10:15] MikeMcC399 commented on #1563
#1564 and #1568 resolve this issue.

[2021-08-03 10:15] #1563 closed

[2021-08-05 16:31] MikeMcC399 opened #1581 "Language switch for Blog - Statistic tiles - fails"
## Where to find the issue

https://www.coronawarn.app/en/blog/2021-08-05-statistictiles/ "Explanation of the statistic tiles in the Corona-Warn-App"

https://www.coronawarn.app/de/blog/2021-08-05-statistikkacheln/ "Erläuterung der Statistikkacheln in der Corona-Warn-App"

## Describe the issue

Viewing the article
https://www.coronawarn.app/en/blog/2021-08-05-statistictiles/ "Explanation of the s

[2021-08-06 08:41] #1581 closed

[2021-08-07 07:13] MikeMcC399 commented on #904
The blog posts
- https://www.coronawarn.app/en/blog/2021-08-05-statistictiles/ (EN) "Explanation of the statistic tiles in the Corona-Warn-App"
- https://www.coronawarn.app/de/blog/2021-08-05-statistictiles/ (DE) "Erläuterung der Statistikkacheln in der Corona-Warn-App"
published on Aug 5, 2021, provide detailed explanations about the statistics data.

Closing this issue now. Any comments on the b

[2021-08-07 07:23] MikeMcC399 commented on #1497
EN: https://www.coronawarn.app/en/faq/#further_details "In-App statistics starting with release 1.11"
DE: https://www.coronawarn.app/de/faq/#further_details "In-App Statistiken ab Release 1.11"

needs to be completely reworked:

- move from section "News" perhaps to new section "Statistics"?
- remove reference in title to release 1.11
- remove detailed information for facts covered in blog post an

[2021-08-07 07:23] #904 closed

[2021-08-07 09:13] MikeMcC399 commented on #1535
https://www.abda.de/aktuelles-und-presse/newsroom/ is a good place to follow further announcements on the subject of certificate issue through pharmacies.

[2021-08-07 11:13] MikeMcC399 opened #1586 "Misleading FAQ article "How do I enter a negative test result?""
## Where to find the issue

https://www.coronawarn.app/en/faq/#test_negative "How do I enter a negative test result?" and
https://www.coronawarn.app/de/faq/#test_negative "Wie gebe ich mein negatives Testergebnis ein?"

## Describe the issue

https://www.coronawarn.app/en/faq/#test_negative "How do I enter a negative test result?"

says:

"Thank you that you want to help. Corona-Warn-App is all ab

[2021-08-07 14:25] MikeMcC399 opened #1588 ""How do I share a positive test result on multiple devices?" does not cover positive RAT results"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#test_multiple_devices "How do I share a positive test result on multiple devices?"

-  https://www.coronawarn.app/de/faq/#test_multiple_devices "Wie teile ich ein positives Testergebnis auf mehreren Geräten?"

## Describe the issue

- https://www.coronawarn.app/en/faq/#test_multiple_devices "How do I share a positive test result on m

[2021-08-07 15:02] MikeMcC399 commented on #1168
It seems that #1575 may partially address this issue.

[2021-08-07 16:11] MikeMcC399 opened #1589 "FAQ for hard of hearing needs review regarding TANs and RATs"
## Where to find the issue

- https://www.coronawarn.app/en/faq/#hearing_impaired "I'm deaf or hard of hearing, so making phone calls is a problem for me. What do I have to keep in mind when I'm using the app?"

- https://www.coronawarn.app/de/faq/#hearing_impaired "Ich bin gehörlos oder schwerhörig. Telefonieren ist problematisch für mich. Worauf muss ich bei der Nutzung der App achten?"

## Desc

[2021-08-08 11:53] MikeMcC399 commented on #1586
PR #1592 is now submitted to resolve this issue.

[2021-08-08 14:36] MikeMcC399 commented on #1588
PR #1593 is now submitted.

[2021-08-09 07:03] #1588 closed

[2021-08-09 07:30] #1586 closed

[2021-08-09 08:02] MikeMcC399 opened #1594 "Reminder: CWA 2.7 missing FAQ #hc_signature_invalid"
## Where to find the issue

https://www.coronawarn.app/en/faq/ and
https://www.coronawarn.app/de/faq/

## Describe the issue

The as yet unreleased CWA 2.7 links to the as yet non-existing FAQ articles
https://www.coronawarn.app/en/faq/#hc_signature_invalid and
https://www.coronawarn.app/de/faq/#hc_signature_invalid

String name in Android `dcc_signature_validation_dialog_faq_link`

This is not an

[2021-08-09 09:44] Ein-Tim commented on #1464
The situation here as improved, I'd only ask to delete the following branches, then I would consider this as fixed.

- https://github.com/corona-warn-app/cwa-website/tree/hschepp1965-patch-1
- https://github.com/corona-warn-app/cwa-website/tree/science-blog-02
- https://github.com/corona-warn-app/cwa-website/tree/dsarkar-faq-update-vac_cert_privileges_travel (?)
- https://github.com/corona-warn-ap

[2021-08-09 10:02] MikeMcC399 opened #1597 "Outdated news article for Google ENS security vulnerability"
## Where to find the issue

- In the [FAQ News Section EN](https://www.coronawarn.app/en/faq/#news)
https://www.coronawarn.app/en/faq/#google_security_vulnerability "Information about the security vulnerability already fixed by Google in the Exposure Notification Framework"

- In the [FAQ News Section DE](https://www.coronawarn.app/de/faq/#news)
https://www.coronawarn.app/de/faq/#google_security_v

[2021-08-09 10:13] Ein-Tim opened #1598 "Text is cut off in some science blog tables"
## Where to find the issue
https://www.coronawarn.app/de/science/2021-08-02-science-blog-3/

## Describe the issue
The text in some of the tables is cut off and thus important information to understand the table is missing.

Tables which are affected:
- https://github.com/corona-warn-app/cwa-website/blob/master/science/2021-08-02-science-blog-3/tab_06.png
- https://github.com/corona-warn-app/cwa-w

[2021-08-09 10:41] MikeMcC399 commented on #1598
@Ein-Tim
Your issue is related to https://github.com/corona-warn-app/cwa-website/issues/1573.

@dsarkar wrote that the tables are planned to be regenerated.

[2021-08-09 10:47] Ein-Tim commented on #1598
@MikeMcC399

Thanks Mike, I actually saw #1573 but thought that this is a new issue.

I'll leave this open until the tables are regenerated.

[2021-08-09 10:50] MikeMcC399 commented on #1598
@Ein-Tim
Yes, it is a different issue, but the resolution is probably the same as #1573.  It is good for you to leave it open, as you suggest, until a fix is provided and can be checked.

[2021-08-09 11:18] dsarkar commented on #1598
@Ein-Tim @MikeMcC399 Thanks. Tracked in the same internal ticket.

[2021-08-09 19:45] Ein-Tim opened #1605 "No reference to science blog in `data_donation_and_EDUS` FAQ entry"
## Where to find the issue
EN: https://www.coronawarn.app/en/faq/#data_donation_and_EDUS
DE: https://www.coronawarn.app/de/faq/#data_donation_and_EDUS

## Describe the issue
There is no reference to the [science blog](https://www.coronawarn.app/en/science/) in this FAQ entry.

## Suggested change
Add a reference to the science blog to this entry.

## Additional information
I will provide a PR for

[2021-08-10 07:25] MikeMcC399 opened #1606 "Create FAQ to remove a certificate"
## Feature description

Add an FAQ article to describe how to remove a digital certificate from the app under Android and iOS.

## Problem and motivation

Users are having difficulty finding the option to remove a digital certificate from the app. See https://github.com/corona-warn-app/cwa-app-android/issues/3895.

A wishlist item has been submitted to improve the app usability https://github.com/

[2021-08-10 07:29] larswmh commented on #1606
Created a pull request with the requested FAQ article, thanks for the suggestion! https://github.com/corona-warn-app/cwa-website/pull/1607

[2021-08-10 07:38] MikeMcC399 commented on #1606
@larswmh
Should the article in PR https://github.com/corona-warn-app/cwa-website/pull/1607 only be about removing a vaccination certificate or should be it more general and cover all types of certificate (test and recovery)?

[2021-08-10 07:54] MikeMcC399 commented on #1533
https://github.com/corona-warn-app/cwa-website/pull/1600 from @larswmh did not follow these best practices.

@larswmh Are you a member of the Open Source Team or are you a community member?

It seems that it will be difficult to keep the history of the https://github.com/corona-warn-app/cwa-website repository to be as readable as the history of the Android app on https://github.com/corona-warn-app

[2021-08-10 09:05] larswmh commented on #1533
@MikeMcC399 sorry for not following best practices, I'm still learning and will give my best to follow them from now on. I'm not a member of the Open Source Team, I get my information from other people who then assign tasks to me.

[2021-08-10 09:08] larswmh commented on #1606
@MikeMcC399 I'll make it more generalized in the next commit, thanks!

[2021-08-10 11:18] MikeMcC399 commented on #1606
Resolved through PR https://github.com/corona-warn-app/cwa-website/pull/1607

New articles are:
- https://www.coronawarn.app/en/faq/#eu_dcc_remove "How do I remove a certificate from the Corona-Warn-App?"
- https://www.coronawarn.app/de/faq/#eu_dcc_remove "Wie kann ich ein Zertifikat aus der Corona-Warn-App entfernen?"

[2021-08-10 11:18] #1606 closed

[2021-08-10 12:58] dsarkar opened #1608 "Add a new content section for inplementing test centers"
## Feature description

Add a new content section for inplementing test centers

## Problem and motivation

Higher visibility, direct interested parties to the corresponding GitHub repository

## Navigation

![image](https://user-images.githubusercontent.com/1409741/128870692-654f4652-d3b8-4a0b-b945-78222711481a.png)

## Content

[RAT-partner-on-CWA-webpage.pdf](https://github.com/corona-warn-app/

[2021-08-10 13:00] Ein-Tim commented on #1608
Please don't remove the whole Community section as shown in the PDF, rather create a new page for quick test partners (and mention it on the community page).

[2021-08-10 13:09] dsarkar commented on #1608
@Ein-Tim Yes, we will note remove the community page. this will be a new page. We still have to determine if at all there should be a separate menu entry in the header.

[2021-08-10 13:34] MikeMcC399 commented on #1608
@dsarkar
I would suggest adding a link "Partners" in the footer in the column "Get involved".

Partners could cover:
- Event app partners
- PCR test partners
- Rapid test partners

![image](https://user-images.githubusercontent.com/66998419/128875497-0a0f80a1-b676-45a9-8c3e-57cfb04d6762.png)

Consider also creating a separate website (like https://partners.coronawarn.app/) for the special needs of

[2021-08-10 14:03] MikeMcC399 commented on #1597
PR #1609 has been submitted to resolve this issue.

[2021-08-10 14:26] #1597 closed

[2021-08-10 16:40] MikeMcC399 commented on #1238
The individual PRs have now all been merged, therefore now closing the overarching issue regarding updating FAQ articles so that it is clear if they refer to PCR tests, Rapid Antigen test or both.

[2021-08-10 16:40] #1238 closed

[2021-08-11 10:54] dsarkar opened #1611 ""Wo kann ich mich testen lassen?" should link to FAQ article"
## Where to find the issue

Main page: link "Wo kann ich mich testen lassen?"
All other pages: link "Wo kann ich mich testen lassen?"

## Describe the issue

- "Wo kann ich mich testen lassen?" links to https://map.schnelltestportal.de
- https://map.schnelltestportal.de lists mainly RAT centres, but not PCR test centres
- The FAQ article provides more options to find a test center

## Suggested ch

[2021-08-11 10:57] Ein-Tim commented on #1611
I can provide a PR for this if you want to @dsarkar.

[2021-08-11 13:23] dsarkar commented on #1611
@Ein-Tim Very happy if you do so! Thanks!

At the same time, I suggest also to modify the FAQ article https://www.coronawarn.app/de/faq/#where_can_i_get_tested:

Use for the images the following, looks nicer:
`<div class='right-float'><img src='../../assets/img/faq/image-file-name' alt='image' width='300'></div>`
and/or
`<div class='left-float'><img src='../../assets/img/faq/image-file-name' alt='

[2021-08-12 07:08] #1611 closed

[2021-08-12 09:52] dsarkar commented on #1594
**DE**

Warum erhalte ich die Fehlermeldung, dass mein Zertifikat ungültig ist?

Die Signatur des Zertifikats ist ungültig.
Damit ist das ganze Zertifikat als digitales Dokument ungültig. Es kann daher nicht als Nachweis verwendet und auch nicht in die App importiert werden. Tritt diese Fehlermeldung bei einem bereits importierten Zertifikat auf, wird es nun als "ungültig" markiert.
Prüfen Sie bit

[2021-08-12 10:00] larswmh commented on #1594
@dsarkar ich werde den FAQ Eintrag in einem zukünfigten Pull Request hinzufügen

[2021-08-13 06:18] larswmh commented on #1540
I'm planning to work on this. I think that putting the glossary below the entire FAQ would solve the problem, but I would still leave some kind of hyperlink on top so people can quickly get to it if that's what they are specifically looking for.

[2021-08-13 07:07] MikeMcC399 commented on #1594
This issue is resolved by PR #1615.

[2021-08-13 07:07] #1594 closed

[2021-08-13 08:51] dsarkar commented on #1540
@MikeMcC399 Thanks for proposal. @larswmh implemented a solution for now to mitigate the "worst". Thanks.

[2021-08-13 16:11] Ein-Tim commented on #1540
@MikeMcC399 Since the glossary was moved to the bottom (PR #1617), the main part of this issue has been fixed. Would you maybe want to open a new one regarding the naming? If you want to leave this issue open that's also fine for me.

[2021-08-13 16:12] Ein-Tim commented on #1496
@larswmh

Would you maybe like to take a look at this?

[2021-08-13 16:19] MikeMcC399 commented on #1540
@Ein-Tim
The naming of the "Glossar" is an open issue, so I would leave this issue open.

Provide Glossary in English is still unaddressed https://github.com/corona-warn-app/cwa-website/issues/1476.

https://github.com/corona-warn-app/cwa-website/issues/1566 is solved, so I will make a note there.

[2021-08-13 16:19] #1540 closed

[2021-08-13 16:20] MikeMcC399 commented on #1566
This issue was solved by PR https://github.com/corona-warn-app/cwa-website/pull/1620.

[2021-08-13 16:20] #1566 closed

[2021-08-14 06:53] MikeMcC399 commented on #1608
@dsarkar
I believe that this issue has been resolved by PR #1612 which you merged on Aug 12, 2021.

[2021-08-14 08:04] MikeMcC399 opened #1623 "Vaccination Certificate Android 2.6 incorrect screenshots"
## Where to find the issue

https://www.coronawarn.app/en/screenshots/#android_screenshots
Section: Vaccination Certificate

and
https://www.coronawarn.app/de/screenshots/#android_screenshots
Section: Impfzertifikat

for Version 2.6

## Describe the issue

1. The background color blue at the top does not correspond to the app which uses grey (at least on Android 11).
2. The QR code is not from a d

[2021-08-14 08:09] MikeMcC399 commented on #1549
A correct screenshot taken from CWA Android 2.6 is

![VaccinationDetailsFragment_2 6 1](https://user-images.githubusercontent.com/66998419/129439402-9a17fdf2-223b-4b6b-9949-af32b412ba8b.png)

Compare to the posted screenshot (which is from iOS, not from Android):

![iPhone 11 Pro-screenshot_first_vaccination_certificate_details_part1](https://user-images.githubusercontent.com/66998419/129439635-29

[2021-08-14 08:36] MikeMcC399 commented on #1318
@Ein-Tim

I went through all the FAQs to address the issue https://github.com/corona-warn-app/cwa-website/issues/1238 "FAQ: Differentiate between PCR Test and Rapid Antigen Test". I hoped originally that the Open Source Team would pick up this issue, but after three months waiting I thought it was worth putting forward individual PRs, which by now have all been merged.

I missed this issue (https:

[2021-08-14 08:41] Ein-Tim commented on #1318
@MikeMcC399

Thank you for your efforts! I agree with you, this issue has been resolved and therefore I'll close it.

[2021-08-14 08:41] #1318 closed

[2021-08-14 09:07] MikeMcC399 commented on #1318
@Ein-Tim

Some other comments for you, @dsarkar and @di-sc:

https://www.coronawarn.app/en/faq/#red_card_how_to_test "Red Card? How to go through Corona testing" also links to
[How to behave if I am partially or completely vaccinated, but receive a red warning in the Corona-Warn-App?](https://www.coronawarn.app/en/faq/#vac_cert_red_warning) due to PR #1604.

There are no specific recommendations f

[2021-08-14 14:28] dsarkar commented on #1549
@MikeMcC399 Internal Tracking ID: EXPOSUREAPP-8503

[2021-08-14 14:32] dsarkar commented on #1608
@MikeMcC399 Yep, you are right.

[2021-08-14 14:32] #1608 closed

[2021-08-14 14:37] dsarkar commented on #1496
@Ein-Tim @MikeMcC399 @larswmh
I this been proposed by @larswmh to reduce the entries in the menu. E.g. keep EU certificates and remove from the menu all other certificate sections. Clicken on EU certificates with bring you to a fist entry in this section, which could be a kind of index of the following style:
- EU certificates
  - FAQ entry 1
  - FAQ entry 2 ...
- Vaccination certificates
  - FAQ

[2021-08-14 14:41] MikeMcC399 commented on #1623
It looks like the screenshot for 2.6 was generated by [VaccinationDetailsFragmentTest.kt](https://github.com/corona-warn-app/cwa-app-android/blob/release/2.6.x/Corona-Warn-App/src/androidTest/java/de/rki/coronawarnapp/covidcertificate/vaccination/ui/details/VaccinationDetailsFragmentTest.kt).

For 2.7 the screenshot has been changed so that the name is now `Max, Mustermann` which has a comma inser

[2021-08-14 15:20] MikeMcC399 commented on #1496
@dsarkar
Introducing a further level in the menu structure would shorten the menu, but unless the menu is scrollable, I'm not sure it would solve the issue on all devices (especially small mobile ones).

[2021-08-15 01:25] #1476 closed

[2021-08-15 08:57] MikeMcC399 opened #1625 "Glossary naming and placement of links"
## Where to find the issue

https://www.coronawarn.app/en/faq/
https://www.coronawarn.app/en/faq/#glossary Glossary

https://www.coronawarn.app/de/faq/
https://www.coronawarn.app/de/faq/#glossary Glossar

## Describe the issues

This is a follow-on to https://github.com/corona-warn-app/cwa-website/issues/1540

1. The name "Glossary / Glossar" implies that it is a glossary covering all aspects of C

[2021-08-15 09:01] MikeMcC399 commented on #1540
It seems that I accidently closed this issue, however because the situation has changed:
- the Glossary has moved to the bottom of the FAQ page: PR https://github.com/corona-warn-app/cwa-website/pull/1620
- the English language Glossary has been published: PR https://github.com/corona-warn-app/cwa-website/pull/1534

I opened a new issue https://github.com/corona-warn-app/cwa-website/issues/1625 as

[2021-08-15 09:34] MikeMcC399 opened #1626 "FAQ: How to manage multiple rapid antigen tests with certificates"
## Where to find the issue

https://www.coronawarn.app/en/faq/#rat_multiple_rat "Can I save/manage multiple rapid antigen tests?"
https://www.coronawarn.app/de/faq/#rat_multiple_rat "Kann ich mehrere Schnelltests speichern/verwalten?"

## Describe the issue

- This issue follows on from a question https://github.com/corona-warn-app/cwa-documentation/issues/685.

The answer to the question "Can I s

[2021-08-15 09:53] Ein-Tim commented on #1626
I will take care of this!

[2021-08-15 16:31] Ein-Tim opened #1627 "Add a new page: Statistics"
## Feature description
Add a new page to the [website](https://www.coronawarn.app/en/) showing
1. The "Warning by App Users" which are shown in the app
2. The statistics published to https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/WarnApp/Archiv_Kennzahlen/WarnApp_KennzahlenTab.html

Theses statistics should be interactive.

## Problem and motivation
First of all, this would solve @Mi

[2021-08-16 06:42] larswmh commented on #1625
Although the glossary might not contain a lot of entries at the moment, it is planned to include as many terms that need further explaination as possible. The open source community is invited to suggest new glossary entries. Therefore I wouldn't rename it or change its position.

The link to the glossary on the english page will follow later today.

[2021-08-16 06:57] MikeMcC399 commented on #1625
@larswmh

If that is the plan, then I withdraw my suggestion to rename the glossary.

Thank you!

[2021-08-16 10:38] MikeMcC399 commented on #1625
Closing:

1, The Glossary is planned to cover more topics
2. The link https://www.coronawarn.app/en/faq/#glossary has been added to https://www.coronawarn.app/en/faq/ via #1629.

[2021-08-16 10:38] #1625 closed

[2021-08-16 10:49] #1307 closed

[2021-08-16 14:33] MikeMcC399 opened #1637 "Old screenshot versions claim they are "current release""
## Where to find the issue

### Screenshots CWA 2.6
https://www.coronawarn.app/en/screenshots-archive/2-6.html
https://www.coronawarn.app/de/screenshots-archive/2-6.html

### Screenshots CWA 2.5
https://www.coronawarn.app/en/screenshots-archive/2-5.html
https://www.coronawarn.app/de/screenshots-archive/2-5.html

## Describe the issue

The screenshot text for CWA 2.5 and 2.6 both claim that they ar

[2021-08-16 19:53] Ein-Tim commented on #1637
@dsarkar Since I did not find a branch from you in https://github.com/corona-warn-app/cwa-website/branches/active I decided to quickly fix this by myself. I hope you didn't start to work on this already.

PR #1638 open and ready for review.

[2021-08-16 20:26] Ein-Tim commented on #1626
My proposal:
![Bildschirmfoto 2021-08-16 um 22 25 49](https://user-images.githubusercontent.com/67682506/129625232-a67c1968-f80b-4e29-afab-e0a8a2e3428d.png)

Feedback is welcome!

[2021-08-17 06:03] MikeMcC399 commented on #1626
@Ein-Tim
I'm not sure that the trick of registering multiple rapid antigen tests, one after another, is a safe way to use the app or a good recommendation, even if it would work like this.

Registering a test is about getting a positive result to share, but only for the user of the device, or to get a negative result which may be recorded as a certificate.

There is a danger that a positive test r

[2021-08-17 07:00] dsarkar commented on #1626
@MikeMcC399 @Ein-Tim This is in fact an important discussion. The feature enhancement to be able to register and manage several tests at the same time had been declined by the stakeholders some time ago. This does not mean that the topic cannot be brought up again in near future.

However, in the meantime, the workaround described by @Ein-Tim can help e.g. families to store test certificates of th

[2021-08-17 07:11] #1637 closed

[2021-08-17 07:12] dsarkar commented on #1637
@MikeMcC399 Thanks for pointing out the issue. @Ein-Tim Thanks for fix.

[2021-08-17 09:08] Ein-Tim commented on #1626
@MikeMcC399

Yes, true. Do you see any short-time solution for this issue then? What should we recommend to the user who needs DCCs now and their only way to get them is the Corona-Warn-App. I wouldn't want to leave the user alone here.

@dsarkar Thanks for jumping in here and giving some feedback. I'll wait for the clarification then 👍

Should I open a new wishlist issue to track this feature req

[2021-08-17 15:36] dsarkar commented on #1626
@Ein-Tim Yes, please. Thank you!

[2021-08-17 16:10] MikeMcC399 commented on #1626
@dsarkar
It is good to hear that the issue will discussed internally. I probably don't have the right level of process know-how for the RAT test flow to contribute much more, especially about the possibility to deliver negative test results and test certificates outside of the CWA app for a group of people such as parents with younger children.

If a user can receive test certificates outside of t

[2021-08-19 08:32] larswmh opened #1644 "Add new entries to the glossary"
## Feature description

Add many terms that could potentially need further explanation to the glossary.

## Problem and motivation

Lack of content in glossary.

## Is this something you're interested in working on

Yes. I will also keep this list up-to-date and adjust it with community suggestions.

## Current glossary entries (German | English)

Business rules | Business Rules
DCC
Digitales Zert

[2021-08-19 16:29] dsarkar opened #1645 "Create FAQ eu_dcc_export "
## Describe the issue
EU DCC Export function will be implemented and there will be a links in the CWA to the FAQ.

The functionality covers:
- PDF can be generated for all types of DCCs with different templates (vaccination, test, recovery)
- PDF can be generated only for DCCs issued in Germany
- for DCCs issued by another country, an error message is presented to the user
- Original EU template u

[2021-08-20 09:19] Ein-Tim commented on #1645
The FAQ entry will be linked to if printing fails because the certificate was not issued in Germany. This should be covered in the FAQ entry.

[2021-08-20 10:21] dsarkar commented on #1645
@Ein-Tim Yes, indeed. Thanks for raising that point.

[2021-08-20 11:50] apfarr opened #1648 "Wrong technical validity timestamp of EU digital certificates"
Hi all,

I believe there is a bug concerning the technical expiration timestamp for rapid antigen test certificates. Since I'm just a user I'm not sure on which side the bug is. Or maybe there are two bugs...

My family used the Ecocare provider for rapid antigen tests several times. When you book an appointment you can give a consent that the result should be pushed to CWA. That works fine: CWA p

[2021-08-20 12:05] apfarr commented on #1648
I'd like to add that I also reached out to Ecocare with these observations, and I also have two further questions:

1) Is the process of adding a certificate bound to the device where the consent to submit data to RKI was given? Is it possible to give the consent (during appointment booking) on one device but add the certificate by scanning the QR code in the result on another device?

2) A discla

[2021-08-20 12:40] Ein-Tim commented on #1648
The whole CWA is intended to be used only by 16y+ old people, see the terms of use.

---

On the topic: Once a certificate is created, either by CWA or by any other issuer, the data in the certificate can't be changed, since this would make the signature invalid.

[2021-08-20 12:45] apfarr commented on #1648
Then my question is open: how are children under 16 supposed to obtain a DCC which can be scanned and recognized as valid upon arrival in another EU country? The CWA phone support said that Spahn & Co read on the forums here :)

[2021-08-20 13:01] apfarr commented on #1648
Let me ask for better understanding what's going on:

1) Does CWA really create a certificate (or initiate its creation), or just display a certificate created somewhere in the RKI's backend earlier? At which moment is a certificate issued?

2) Are there issuers in Germany other than CWA?

[2021-08-20 13:05] Ein-Tim commented on #1648
As there is no technical documentation on this, everything that follows is how I've understand it. The CWA creates the certificate and sends a hash to the RKI backend, this backend signs the hash and sends it back to the CWA.

I think so, but I'm not 100% sure about that.

[2021-08-20 13:09] apfarr commented on #1648
It's interesting, because the phone support told me literally that CWA does not generate anything, it is just to display a ready-generated certificate. Let's wait for devs to clarify on this.

[2021-08-20 13:11] Ein-Tim commented on #1648
@apfarr

Here's the corresponding FAQ entry: https://www.coronawarn.app/en/faq/#test_cert_privacy

[2021-08-20 13:23] dsarkar opened #1649 "Create FAQ entry: vac_cert_booster"
## Feature description

- Create FAQ entries:
**EN** https://www.coronawarn.app/en/faq/#vac_cert_booster
**DE** https://www.coronawarn.app/de/faq/#vac_cert_booster

## Problem and motivation

- New feature booster vaccination
  - if a booster notification rule applies to the DCCs of the person, the rule description and a link to the FAQ is shown
Link to FAQ:
**EN** https://www.coronawarn.app/en/fa

[2021-08-20 13:25] apfarr commented on #1648
Thank you. As far as I understand, a certificate (incl all metadata like technical expiration) is created and signed at the moment when the testing provider publishes the result, not when CWA user registers the result in the app. If so, there are in theory two options:

1) Ecocare sends wrong expiration timestamps - the complaint in the linked issue also concerned this provider. However it's impro

[2021-08-20 13:31] apfarr commented on #1648
Sorry for constantly asking new questions, but I really want to understand how it works.

There are "CWA QR codes" which testing providers attach to test results. Are they same QR codes as in CWA after a certificate is added there? Or is it an intermediate QR code to be used just for adding?

(Scanning such an attached code caused the same error.)

[2021-08-20 13:34] apfarr commented on #1648
And maybe an interesting observation re Ecocare: when their test result is ready, there is only a PDF in the user's account, without QR code. The QR code for CWA is a separate file which appears only after the user tried to add the certificate in CWA. It may be an indicator that it is CWA who sends the result to RKI for a signature. And then it may certainly happen that CWA submits a wrong expirat

[2021-08-20 13:38] dsarkar commented on #1648
@apfarr Thanks for contributing here. For the moment we move this thread to the documentation repository.

---
Corona-Warn-App Open Source Team

[2021-08-20 14:21] Ein-Tim commented on #1649
@dsarkar

Maybe it makes sense to create a FAQ entry for this already now, so that users who have the question what the current status about booster vaccination certificates is can find an answer?

[2021-08-20 15:39] dsarkar commented on #1649
@Ein-Tim Sure, sounds good to me.

[2021-08-21 13:40] Ein-Tim opened #1651 "`check_in_qr_warning` does not cover which warning is issued if one was checked in to an event up to 30 mins after a later positive tested person"
## Where to find the issue
- https://www.coronawarn.app/en/faq/#check_in_qr_warning
- https://www.coronawarn.app/de/faq/#check_in_qr_warning

## Describe the issue
In the app there is this information:
![IMG_240891DC9EF2-1](https://user-images.githubusercontent.com/67682506/130323398-c6217520-0109-4248-bd79-0057e7b30a96.jpeg)

However, this is not mentioned in the above mentioned FAQ entry, it onl

[2021-08-23 14:26] Marcono1234 opened #1652 "Screenshots page: Changing version defaults back to iOS screenshots"
## Where to find the issue
https://www.coronawarn.app/de/screenshots/#

## Describe the issue
Switching to the "Android Screenshots" tab, then selecting a different app version, e.g. 2.5, from the versions dropdown defaults back to showing iOS screenshots.
This is slightly inconvenient and confusing.

Tested browsers:
- Firefox 91.0.1 (64-Bit)
- Microsoft Edge Version 92.0.902.78 (Official build)

[2021-08-23 14:33] Marcono1234 opened #1653 "Screenshots page: Android uses anchor `ios_rat`"
## Where to find the issue
https://github.com/corona-warn-app/cwa-website/blob/ff40e69e20050ef9f0110c987aa0442b34e1d85d/src/data/screenshots-archive-2-3.json#L112

## Describe the issue
A section for Android screenshots uses an anchor called `ios_rat`.

:warning: This might affect more than just the version 2.3 page.

## Suggested change
- Fix the incorrect anchor.
- If possible: Add a GitHub work

[2021-08-23 14:36] dsarkar commented on #1653
@Marcono1234 Thanks. Do you want to offer a fix PR?

[2021-08-23 14:37] Marcono1234 opened #1654 "Screenshots page: Android uses anchor `android_vaccination_certificate` for test certificates"
## Where to find the issue
https://github.com/corona-warn-app/cwa-website/blob/ff40e69e20050ef9f0110c987aa0442b34e1d85d/src/data/screenshots-archive-2-4_de.json#L140

## Describe the issue
Screenshots for test certificates erroneously use the anchor `android_vaccination_certificate`.

:warning: This affects more than just the version 2.4 page.

## Suggested change
- Fix the incorrect anchor.
- If

[2021-08-23 14:37] dsarkar commented on #1652
@Marcono1234 OK, I see, and agree. We will see if there is a "easy solution".

[2021-08-23 14:39] dsarkar commented on #1654
@Marcono1234 OK, thanks. Again, are you able and do you want to offer a fix PR?

---
Corona-Warn-App Open Source Team

[2021-08-23 14:52] Marcono1234 opened #1655 "Screenshots page: Multiple screenshots have alt text "Image/Bild""
## Where to find the issue
https://github.com/corona-warn-app/cwa-website/blob/d8ab82dd48c6142786b62f3debe3d4109e63990b/src/data/screenshots.json#L136

## Describe the issue
Multiple screenshots just have the generic `alt` text "Image/Bild". This might not be very good for accessibility.

:warning: This affects more than the linked `screenshots.json`.

## Suggested change
Not quite sure what the b

[2021-08-23 15:24] Marcono1234 commented on #1653
@dsarkar, created #1656

[2021-08-23 16:24] dsarkar commented on #1653
@Marcono1234 Your Pr was merged. Thanks.

[2021-08-23 16:50] Ein-Tim opened #1660 "Discussion: Screenshots page: Do we maintain all versions or only the ones from the current version?"
Hi everyone, concerning the latest issues and discussion regarding the screenshots page, I thought a little hint from the Open-Source team on whether we want to maintain the screenshots of all versions since the screenshots archive was started or do we only maintain the currently latests versions screenshots?

Definition of maintain:
- Fix issues with the alt texts
- Fix screenshots
- Delete unuse